<template>
  <b-container v-bind:style="currentStyleObject" v-on:click.ctrl="darkTheme = !darkTheme;">
    <b-navbar toggleable="lg" type="dark" variant="secondary">
      <b-navbar-brand>
        <b-img v-if="darkTheme" :src="require('@/assets/logo_dark.jpg')" alt="logo_dark" width="30" height="30"></b-img>
        <b-img v-if="!darkTheme" :src="require('@/assets/logo_light.jpg')" alt="logo_light" width="30" height="30"></b-img>
        Játék nézet
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item>
            <router-link class="nav-link" to="/">Karaktergeneráló</router-link>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-form-select v-model="darkTheme" class="w-auto">
            <option :value="true">
              Éjközép
            </option>
            <option :value="false">
              Dél
            </option>
          </b-form-select>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-row class="mb-1">
      <b-container>
        <b-card  class="bg-light text-dark">
          <b-list-group flush class="text-dark border border-secondary shadow">
            <b-list-group-item>
              Játék azonosító:
              <b-badge variant="secondary">{{ gameId }}</b-badge>
              Frissítve:
              <b-badge variant="info">{{ updated }}</b-badge>
            </b-list-group-item>
            <b-list-group-item>
              Aktuális kör:
              <b-badge variant="primary">{{ round }}</b-badge>
            </b-list-group-item>
            <b-list-group-item v-if="gameData">
              Kiválasztott játékos(ok): {{gameData.selectedPlayersName.join(', ')}}
            </b-list-group-item>
            <b-list-group-item v-if="gameData">
              Mesélő tevékenység: {{gameData.KM_MOVE}}
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-container>
    </b-row>

    <b-row v-if="gameData">
      <div class="container">
        <b-card no-body class="">
          <div class="container mt-2 justify-content-center text-center">
            <b-card no-body class="text-dark mt-2 mb-2 pb-2 box-shadow">
                <b-overlay :show="tabOverlay" variant="dark" opacity="0.7">
                  <template #overlay>
                    <div class="d-flex align-items-center">
                      <div class="custom-spinner"></div>
                    </div>
                  </template>
                  <b-card-text>
                    <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                      <li class="list-group-item border-0" v-for="(player, index) in gameData.players">
                        <b-card class="box-shadow text-left" style="max-width: 200px;"
                                v-bind:key="'playerList_' + index" :class="calculatePlayerCardBGVariant(player)"
                                :text-variant="calculatePlayerCardTextVariant(player)">
                          <b-card-text>
                            <b-form inline class="flex-nowrap">
                              <h5>{{ player.name }}</h5>
                              <h5 class="ml-1" v-if="player.hasAttackInRound">
                                <sword-cross :size="20" :id="'tooltip-hasAttackInRound-' + player.id" />
                              </h5>
                              <b-badge pill class="ml-2" size="sm" variant="dark"  v-if="!player.sleep" :id="'tooltip-player-sleep-' + player.id">
                                <b-icon icon="play" aria-hidden="true"></b-icon>
                              </b-badge>
                              <b-badge disabled pill class="ml-1" size="sm" variant="dark"  v-if="player.sleep" :id="'tooltip-player-awake-' + player.id">
                                <b-icon icon="pause" aria-hidden="true"></b-icon>
                              </b-badge>
                            </b-form>
                            <b-tooltip :target="'tooltip-player-sleep-' + player.id" triggers="hover" v-if="!player.sleep">
                              Karakter szüneteltetve
                            </b-tooltip>
                            <b-tooltip :target="'tooltip-player-awake-' + player.id" triggers="hover" v-if="player.sleep">
                              Karakter aktív
                            </b-tooltip>
                          </b-card-text>
                          <b-card-text v-if="player.state">
                            <div class="mb-1 flex-nowrap text-nowrap">
                              Aktuális CSE:
                              <b-badge pill :variant="(!player.sleep) ? 'dark' : 'secondary'">{{ player.CS_ACT }}</b-badge>
                            </div>
                            <div class="mb-1 flex-nowrap text-nowrap">
                              MAX CSE:
                              <b-badge pill :variant="(!player.sleep) ? 'light' : 'secondary'">{{ player.CS_MAX }}</b-badge>
                            </div>
                            <div class="mb-2 flex-nowrap text-nowrap" v-if="player.state">Státusz:
                              <b-badge variant="light">{{ player.state.displayName }}</b-badge>
                            </div>
                          </b-card-text>
                        </b-card>
                      </li>
                    </ul>
                  </b-card-text>
                </b-overlay>
            </b-card>
          </div>
        </b-card>
      </div>
    </b-row>
  </b-container>
</template>

<script>

import maneuvers from "../components/ManeuverCompedium.vue";
import SwordCross from 'vue-material-design-icons/SwordCross.vue';

export default {
  components: {
    SwordCross
  },
  data() {
    return {
      gameData: null,
      gameId: null,
      darkTheme: true,
      round : null,
      tabOverlay: false,
      PlayerStates: maneuvers.PlayerState,
      updated: null,
    };
  },
  methods: {
    calculatePlayerCardBGVariant(player) {
      if (this.gameData.choosableNextPlayers.includes(player.id) && player.CS_ACT > 0) {
        return 'bg-black'
      }
      if (player.state !== null && typeof player.state !== 'undefined' && player.state.isContinuousAction && player.CS_ACT > 0) {
        return 'bg-secondary'
      }

      return ''
    },
    calculatePlayerCardTextVariant(player) {
      if (this.gameData.choosableNextPlayers.includes(player.id) && player.CS_ACT > 0) {
        return 'white'
      }
      if (player.state !== null && typeof player.state !== 'undefined' && player.state.isContinuousAction && player.CS_ACT > 0) {
        return 'dark'
      }
      return ''
    },
    setTabOverlayTimeout() {
      this.tabOverlay = true;
      this.clearTabOverlayTimeout()
      this.tabOverlayTimeout = setTimeout(() => {
        this.clearTabOverlayTimeout()
      }, 300)
    },
    clearTabOverlayTimeout() {
      if (this.tabOverlayTimeout) {
        clearTimeout(this.tabOverlayTimeout)
        this.tabOverlayTimeout = null;
        this.tabOverlay = false;
      }
    },
  },
  sockets: {
    connect: function () {
      console.log('socket to notification channel connected')
    },
    message(data) {
      this.gameData = JSON.parse(data);
      if (this.gameData.updated){
        this.setTabOverlayTimeout();
      }
      this.updated = new Date().toLocaleString();
      this.round = this.gameData.round;
    },
  },
  computed: {
    currentStyleObject() {
      if (this.darkTheme) {
        document.body.classList.add('dark-mode')
      } else {
        document.body.classList.remove('dark-mode')
      }
    },
  },
  mounted () {
    this.gameId = this.$route.params.gameId;
    console.log('GameId: ' + this.gameId)
    this.$socket.emit('subscribe', this.gameId);
    setInterval(() => {
      if (!this.$socket.connected) {
        this.$socket.connect();
      }
    }, 1500)
  }

};
</script>

<style scoped>
.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
}

</style>
