<template>
  <b-container v-bind:style="currentStyleObject" v-on:click.ctrl="darkTheme = !darkTheme;">
    <b-navbar toggleable="lg" type="dark" variant="secondary">
      <b-navbar-brand>
        <b-img v-if="darkTheme" :src="require('@/assets/logo_dark.jpg')" alt="logo_dark" width="30" height="30"></b-img>
        <b-img v-if="!darkTheme" :src="require('@/assets/logo_light.jpg')" alt="logo_light" width="30" height="30"></b-img>
        Körkalkulátor
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item>
            <router-link class="nav-link" to="/">Karaktergeneráló</router-link>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-form-select v-model="darkTheme" class="w-auto">
            <option :value="true">
              Éjközép
            </option>
            <option :value="false">
              Dél
            </option>
          </b-form-select>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="row pt-3 justify-content-center" v-if="actualState === GameplayState.CharacterDefine">
      <b-card :class="darkTheme ? 'bg-secondary text-light' : 'bg-light text-dark'" header-tag="header">
        <template #header>
          <div class="d-flex justify-content-end">
            <b-button pill variant="outline-secondary" v-on:click="resetData">
              <b-icon icon="arrow-clockwise" font-scale="1"></b-icon>
            </b-button>
          </div>
        </template>
        <form v-for="(player, index) in players" v-bind:key="'player' + index" class="pb-1">
          <div class="form-row align-items-center">
            <div class="col-md-6 col-12 mb-2">
              <label class="sr-only" :for="'player-name_' + index">Név</label>
              <b-form-input
                :id="'player-name_' + index"
                v-model="player.name"
                :state="nameState(player.name)"
                aria-describedby="input-live-help input-live-feedback"
                placeholder="Név"
                trim
              ></b-form-input>
            </div>
            <div class="col-md-5 col-12 mb-2">
              <label class="sr-only" :for="'player-CSA_' + index">CSA</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">CSA</div>
                </div>
                <input type="number" class="form-control" :id="'player-CSA_' + index" v-model="player.KE" placeholder="1"
                       @keypress="isNumber($event)" min="1" style="max-width: 100px;">
                <div class="input-group-append">
                  <b-button pill :variant="(index === 0 && players.length === 1) ? '' : 'outline-secondary'" v-on:click="$delete(players, index)"
                            :disabled="(index === 0 && players.length === 1)">✕
                  </b-button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex justify-content-center pt-3">
          <b-button variant="outline-secondary" v-on:click="addNewPlayer">Karakter csatlakozása</b-button>
        </div>
        <div class="d-flex justify-content-end pt-3">
          <b-button variant="success" v-on:click="startGame">Harcra fel!</b-button>
        </div>
      </b-card>
    </div>
    <b-row class="pt-3" v-if="actualState === GameplayState.Playing || actualState === GameplayState.CsicskaPhase">
      <div class="container">
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-1 variant="dark">Játékosok</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" visible accordion="players-accordion" role="tabpanel">
              <b-card-body>
                <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                  <li class="list-group-item border-0" v-for="(player, index) in playerSortedById">
                    <b-card :class="darkTheme ? 'bg-black text-light' : 'bg-light text-dark'" class="border"
                            style="width: 100%;" no-body>
                      <b-card-header class="text-nowrap">{{ player.name }}</b-card-header>
                      <div class="ml-2 mr-2 mb-1">Aktuális CSA:
                        <b-badge variant="info">{{ player.KE }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1" v-if="player.KE_MOD">Módosult CSA:
                        <b-badge variant="info">{{ player.KE_MOD }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1">MAX CS:
                        <b-badge variant="info">{{ player.CS_MAX }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1 flex-nowrap text-nowrap">Aktuális CS:
                        <b-badge variant="warning">{{ player.CS_ACT }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1 flex-nowrap text-nowrap" v-if="player.TACTION_POOL > 0">Taktikai CS:
                        <b-badge variant="light">{{ player.TACTION_POOL }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1 flex-nowrap text-nowrap" v-if="player.REACTION_POOL > 0">Reakció CS:
                        <b-badge variant="secondary">{{ player.REACTION_POOL }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1 flex-nowrap text-nowrap" v-if="player.STORED_CSE > 0">Tartalékolt CS:
                        <b-badge variant="secondary">{{ player.STORED_CSE }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-2 flex-nowrap text-nowrap" v-if="player.state">Státusz:
                        <b-badge variant="light">{{ player.state.displayName }}</b-badge>
                      </div>
                      <div class="ml-2 mr-2 mb-1 flex-nowrap text-nowrap" v-if="player.continuousActionCS > 0">Folytatólagos CS:
                        <b-badge variant="secondary">{{ player.continuousActionCS }}</b-badge>
                      </div>
                    </b-card>
                  </li>
                </ul>
                <b-card no-body :class="darkTheme ? 'bg-secondary text-light' : 'bg-light text-dark'" class="mt-2">
                  <b-list-group flush class="text-dark">
                    <b-list-group-item>
                      Aktuális kör:
                      <b-badge variant="primary">{{ round }}</b-badge>
                    </b-list-group-item>
                    <b-list-group-item v-if="activePlayer && activePlayerSelected">
                      Aktuális játékos: <b>{{ activePlayer.name }}</b>
                      <b-badge variant="secondary">{{ activePlayer.CS_ACT }}</b-badge>
                    </b-list-group-item>
                    <b-list-group-item>
                      Játék link:
                      <router-link :to="{ name: 'RoundCalcPlayers', params: { gameId } }" ref="copyLink" target="_blank">{{ gameId }}</router-link>
                      <b-button-group class="ml-1">
                        <b-button title="Másolás" size="sm" pill @click="linkCopyToClipboard">
                          <b-icon icon="clipboard" aria-hidden="true"></b-icon>
                        </b-button>
                        <b-button title="Játékos nézet frissítése" size="sm" pill @click="updatePlayersView(true)" class="ml-1">
                          <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
                        </b-button>
                        <b-button variant="outline-dark" class="ml-1" pill @click="toggleStream">
                          Játék stream
                          <b-icon :icon="streamGame ? 'pause' : 'play'" aria-hidden="true"></b-icon>
                        </b-button>
                      </b-button-group>
                    </b-list-group-item>
                  </b-list-group>
                </b-card>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>
    </b-row>
    <b-row v-if="actualState === GameplayState.Playing">
      <div class="container">
        <b-card no-body>
          <div class="container mt-4 justify-content-center text-center">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="stepwizard">
                  <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                      <b-badge pill :variant="(tabIndex === 0) ? 'secondary' : 'light'">Kiválasztás</b-badge>
                    </div>
                    <div class="stepwizard-step">
                      <b-badge pill :variant="(tabIndex === 1) ? 'secondary' : 'light'">Akció</b-badge>
                    </div>
                    <div class="stepwizard-step">
                      <b-badge pill :variant="(tabIndex === 2) ? 'secondary' : 'light'">Reakció</b-badge>
                    </div>
                    <div class="stepwizard-step">
                      <b-badge pill :variant="(tabIndex === 3) ? 'secondary' : 'light'">Korrekció</b-badge>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <b-card no-body class="text-dark mt-4 mb-2 pb-2 box-shadow">
              <b-overlay :show="tabOverlay" variant="dark" opacity="0.7">
                <template #overlay>
                  <div class="d-flex align-items-center">
                    <div class="custom-spinner"></div>
                  </div>
                </template>
                <b-tabs v-model="tabIndex" no-nav-style>
                  <b-tab>
                    <b-card-text>
                      <transition-group tag="ul" name="fade" class="list-group list-group-horizontal align-items-stretch flex-wrap">
                        <li class="list-group-item border-0" v-for="(player, index) in playerSortedByAct" :key="player.id">
                          <b-card v-if="showPlayerCard" class="box-shadow text-left" style="max-width: 230px;"
                                  v-bind:key="'playerList_' + index"
                                  :text-variant="calculatePlayerCardTextVariant(player)" :class="calculatePlayerCardBGVariant(player)">
                            <b-card-text v-if="loading" style="min-width: 200px">
                              <b-skeleton width="85%"></b-skeleton>
                              <b-skeleton width="55%"></b-skeleton>
                              <b-skeleton width="70%"></b-skeleton>
                              <p class="mb-lg-5 mt-lg-5"></p>
                              <b-skeleton width="55%"></b-skeleton>
                              <b-skeleton width="70%"></b-skeleton>
                            </b-card-text>
                            <b-card-text v-if="!loading">
                              <b-form inline class="flex-nowrap">
                                <h5>{{ player.name }}</h5>
                                <h5 class="ml-1" v-if="player.hasAttackInRound">
                                  <alpha-t-box-icon :size="20" :id="'tooltip-hasAttackInRound-' + player.id"/>
                                </h5>
                                <h5 class="ml-1" v-if="player.hasCombination">
                                  <sword-cross :size="20" :id="'tooltip-hasCombination-' + player.id"/>
                                </h5>
                                <h5 class="ml-1" v-if="player.hasRangeCombination">
                                  <arrow-projectile-multiple :size="20" :id="'tooltip-hasRangeCombination-' + player.id" />
                                </h5>
                                <b-button pill class="ml-2" size="sm" variant="outline-dark" :id="'tooltip-player-sleep-' + player.id" v-if="!player.sleep"
                                          @click="sleepPlayer(player)">
                                  <b-icon icon="play" aria-hidden="true"></b-icon>
                                </b-button>
                                <b-button pill class="ml-2" size="sm" variant="outline-dark" :id="'tooltip-player-awake-' + player.id" v-if="player.sleep"
                                          @click="awakePlayer(player)">
                                  <b-icon icon="pause" aria-hidden="true"></b-icon>
                                </b-button>
                              </b-form>
                              <b-tooltip :target="'tooltip-player-sleep-' + player.id" triggers="hover" v-if="!player.sleep">
                                Karakter szüneteltetése
                              </b-tooltip>
                              <b-tooltip :target="'tooltip-player-awake-' + player.id" triggers="hover" v-if="player.sleep">
                                Karakter felélesztése
                              </b-tooltip>
                              <b-tooltip :target="'tooltip-hasAttackInRound-' + player.id" triggers="hover" v-if="player.hasAttackInRound">
                                Támadott ebben a körben
                              </b-tooltip>
                              <b-tooltip :target="'tooltip-hasCombination-' + player.id" triggers="hover" v-if="player.hasCombination">
                                {{player.combinationText}}
                              </b-tooltip>
                              <b-tooltip :target="'tooltip-hasRangeCombination-' + player.id" triggers="hover" v-if="player.hasRangeCombination">
                                {{player.rangeCombinationText}}
                              </b-tooltip>
                            </b-card-text>
                            <b-card-text v-if="player.state && !loading">
                              <div class="mb-1 flex-nowrap text-nowrap">
                                Aktuális CS:
                                <b-badge pill :variant="(player.state) ? 'dark' : 'secondary'">{{ player.CS_ACT }}</b-badge>
                              </div>
                              <div class="mb-1 flex-nowrap text-nowrap" v-if="player.state">Státusz:
                                <b-badge variant="light">{{ player.state.displayName }}</b-badge>
                              </div>
                              <div class="mb-2 flex-nowrap text-nowrap" v-if="player.continuousActionCS > 0">Folytatólagos CS:
                                <b-badge variant="secondary">{{ player.continuousActionCS }}</b-badge>
                              </div>
                            </b-card-text>
                            <b-row v-if="!loading">
                              <b-col cols="7">
                                <b-button-group vertical>
                                  <b-button @click="moveToAction(player)" variant="dark" class="mb-1"
                                            v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && !player.state.isContinuousAction">Akció
                                  </b-button>
                                  <b-button @click="maintenanceState(player)" variant="dark" class="mb-1"
                                            v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && player.state.isContinuousAction">Folytatás
                                  </b-button>
                                  <b-button @click="cancelState(player)" variant="dark" class="mb-1"
                                            v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && player.state.isContinuousAction">Befejezés
                                  </b-button>
                                  <b-button @click="moveToReaction(player)" :variant="choosableNextPlayers.includes(player.id) ? 'secondary' : 'dark'"
                                            class="mb-1">
                                    Reakció
                                  </b-button>
                                </b-button-group>
                              </b-col>
                              <b-col cols="5">
                                <b-button block :variant="choosableNextPlayers.includes(player.id) ? 'light' : 'outline-dark'" style="height: 78px" size="sm"
                                          @click="decreasePlayerCS(player)">-1 CS
                                </b-button>
                              </b-col>
                            </b-row>
                          </b-card>
                        </li>
                        <li class="list-group-item border-0" :key="-1">
                          <b-button @click="openAddPlayer" pill variant="outline-dark" size="lg" class="">+</b-button>
                          <b-modal ref="modal-addPlayer" id="modal-addPlayer" header-bg-variant="secondary" header-text-variant="light"
                                   body-bg-variant="light" body-text-variant="dark" footer-bg-variant="secondary" footer-text-variant="light">
                            <template #modal-title>
                              <div>Új játékos hozzáadása</div>
                            </template>
                            <div class="form-row align-items-center" v-if="newPlayer">
                              <div class="col-md-6 col-12 mb-2">
                                <label class="sr-only">Név</label>
                                <b-form-input
                                  v-model="newPlayer.name"
                                  :state="nameState(newPlayer.name)"
                                  aria-describedby="input-live-help input-live-feedback"
                                  placeholder="Név"
                                  trim
                                ></b-form-input>
                              </div>
                              <div class="col-md-5 col-12 mb-2">
                                <label class="sr-only">CSA</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">CSA</div>
                                  </div>
                                  <input type="number" class="form-control" v-model="newPlayer.KE" placeholder="1"
                                         @keypress="isNumber($event)" min="1" style="max-width: 100px;">
                                </div>
                              </div>
                            </div>
                            <template #modal-footer>
                              <b-button @click="$bvModal.hide('modal-addPlayer')" variant="dark">Mégse</b-button>
                              <b-button @click="addNewPlayerInGame" variant="dark">Karakter csatlakozása</b-button>
                            </template>
                          </b-modal>
                        </li>
                      </transition-group>

                      <hr />

                      <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" v-if="false">
                        <li class="list-group-item border-0" v-for="(player, index) in playerSortedByAct">
                          <Transition name="slide-fade">
                            <b-card v-if="showPlayerCard" class="box-shadow text-left" style="max-width: 230px;"
                                    v-bind:key="'playerList_' + index"
                                    :text-variant="calculatePlayerCardTextVariant(player)" :class="calculatePlayerCardBGVariant(player)">
                              <b-card-text v-if="loading" style="min-width: 200px">
                                <b-skeleton width="85%"></b-skeleton>
                                <b-skeleton width="55%"></b-skeleton>
                                <b-skeleton width="70%"></b-skeleton>
                                <p class="mb-lg-5 mt-lg-5"></p>
                                <b-skeleton width="55%"></b-skeleton>
                                <b-skeleton width="70%"></b-skeleton>
                              </b-card-text>
                              <b-card-text v-if="!loading">
                                <b-form inline class="flex-nowrap">
                                  <h5>{{ player.name }}</h5>
                                  <h5 class="ml-1" v-if="player.hasAttackInRound">
                                    <alpha-t-box-icon :size="20" :id="'tooltip-hasAttackInRound-' + player.id"/>
                                  </h5>
                                  <h5 class="ml-1" v-if="player.hasCombination">
                                    <sword-cross :size="20" :id="'tooltip-hasCombination-' + player.id"/>
                                  </h5>
                                  <h5 class="ml-1" v-if="player.hasRangeCombination">
                                    <arrow-projectile-multiple :size="20" :id="'tooltip-hasRangeCombination-' + player.id" />
                                  </h5>
                                  <b-button pill class="ml-2" size="sm" variant="outline-dark" :id="'tooltip-player-sleep-' + player.id" v-if="!player.sleep"
                                            @click="sleepPlayer(player)">
                                    <b-icon icon="play" aria-hidden="true"></b-icon>
                                  </b-button>
                                  <b-button pill class="ml-2" size="sm" variant="outline-dark" :id="'tooltip-player-awake-' + player.id" v-if="player.sleep"
                                            @click="awakePlayer(player)">
                                    <b-icon icon="pause" aria-hidden="true"></b-icon>
                                  </b-button>
                                </b-form>
                                <b-tooltip :target="'tooltip-player-sleep-' + player.id" triggers="hover" v-if="!player.sleep">
                                  Karakter szüneteltetése
                                </b-tooltip>
                                <b-tooltip :target="'tooltip-player-awake-' + player.id" triggers="hover" v-if="player.sleep">
                                  Karakter felélesztése
                                </b-tooltip>
                                <b-tooltip :target="'tooltip-hasAttackInRound-' + player.id" triggers="hover" v-if="player.hasAttackInRound">
                                  Támadott ebben a körben
                                </b-tooltip>
                                <b-tooltip :target="'tooltip-hasCombination-' + player.id" triggers="hover" v-if="player.hasCombination">
                                  {{player.combinationText}}
                                </b-tooltip>
                                <b-tooltip :target="'tooltip-hasRangeCombination-' + player.id" triggers="hover" v-if="player.hasRangeCombination">
                                  {{player.rangeCombinationText}}
                                </b-tooltip>
                              </b-card-text>
                              <b-card-text v-if="player.state && !loading">
                                <div class="mb-1 flex-nowrap text-nowrap">
                                  Aktuális CS:
                                  <b-badge pill :variant="(player.state) ? 'dark' : 'secondary'">{{ player.CS_ACT }}</b-badge>
                                </div>
                                <div class="mb-1 flex-nowrap text-nowrap" v-if="player.state">Státusz:
                                  <b-badge variant="light">{{ player.state.displayName }}</b-badge>
                                </div>
                                <div class="mb-2 flex-nowrap text-nowrap" v-if="player.continuousActionCS > 0">Folytatólagos CS:
                                  <b-badge variant="secondary">{{ player.continuousActionCS }}</b-badge>
                                </div>
                              </b-card-text>
                              <b-row v-if="!loading">
                                <b-col cols="7">
                                  <b-button-group vertical>
                                    <b-button @click="moveToAction(player)" variant="dark" class="mb-1"
                                              v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && !player.state.isContinuousAction">Akció
                                    </b-button>
                                    <b-button @click="maintenanceState(player)" variant="dark" class="mb-1"
                                              v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && player.state.isContinuousAction">Folytatás
                                    </b-button>
                                    <b-button @click="cancelState(player)" variant="dark" class="mb-1"
                                              v-if="choosableNextPlayers.includes(player.id) && player.CS_ACT > 0 && player.state.isContinuousAction">Befejezés
                                    </b-button>
                                    <b-button @click="moveToReaction(player)" :variant="choosableNextPlayers.includes(player.id) ? 'secondary' : 'dark'"
                                              class="mb-1">
                                      Reakció
                                    </b-button>
                                  </b-button-group>
                                </b-col>
                                <b-col cols="5">
                                  <b-button block :variant="choosableNextPlayers.includes(player.id) ? 'light' : 'outline-dark'" style="height: 78px" size="sm"
                                            @click="decreasePlayerCS(player)">-1 CS
                                  </b-button>
                                </b-col>
                              </b-row>
                            </b-card>
                          </Transition>
                        </li>
                        <li class="list-group-item border-0">
                          <b-button @click="openAddPlayer" pill variant="outline-dark" size="lg" class="">+</b-button>
                          <b-modal ref="modal-addPlayer" id="modal-addPlayer" header-bg-variant="secondary" header-text-variant="light"
                                   body-bg-variant="light" body-text-variant="dark" footer-bg-variant="secondary" footer-text-variant="light">
                            <template #modal-title>
                              <div>Új játékos hozzáadása</div>
                            </template>
                            <div class="form-row align-items-center" v-if="newPlayer">
                              <div class="col-md-6 col-12 mb-2">
                                <label class="sr-only">Név</label>
                                <b-form-input
                                  v-model="newPlayer.name"
                                  :state="nameState(newPlayer.name)"
                                  aria-describedby="input-live-help input-live-feedback"
                                  placeholder="Név"
                                  trim
                                ></b-form-input>
                              </div>
                              <div class="col-md-5 col-12 mb-2">
                                <label class="sr-only">CSA</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">CSA</div>
                                  </div>
                                  <input type="number" class="form-control" v-model="newPlayer.KE" placeholder="1"
                                         @keypress="isNumber($event)" min="1" style="max-width: 100px;">
                                </div>
                              </div>
                            </div>
                            <template #modal-footer>
                              <b-button @click="$bvModal.hide('modal-addPlayer')" variant="dark">Mégse</b-button>
                              <b-button @click="addNewPlayerInGame" variant="dark">Karakter csatlakozása</b-button>
                            </template>
                          </b-modal>
                        </li>
                      </ul>
                      <b-button-group class="mt-2">
                        <b-button @click="moveToReactionWitAllPlayers" variant="dark" class="mt-3 ml-2">Tömeges reakció</b-button>
                        <b-button variant="dark" @click="moveToCorrection" class="mt-3 ml-2">Korrekció</b-button>
                      </b-button-group>
                    </b-card-text>
                    <b-card-text>
                      <b-button-group>
                        <b-button pill @click="newRound" variant="secondary">Új kör</b-button>
                        <b-button pill @click="startCsicskaPhase" variant="secondary" class="ml-2">Csicska fázis</b-button>
                      </b-button-group>
                    </b-card-text>
                  </b-tab>
                  <b-tab class="text-left pl-2 pr-2">
                    <b-card-text>
                      <div v-if="this.activePlayer">
                        <b-card-text>Aktív játékos:
                          <b-badge pill variant="dark">{{ this.activePlayer.name }}</b-badge>
                        </b-card-text>
                        <b-card-text>
                          Aktuális CS:
                          <b-badge pill variant="secondary">{{ this.activePlayer.CS_ACT }}</b-badge>
                          CSE Költés:
                          <b-badge pill variant="secondary">{{ this.selectedChange.spendingCSE }}</b-badge>
                        </b-card-text>
                        <b-card-text>
                          <b-alert variant="danger" :show="!CSEchangeStatus.spendOK">Túlköltekezés: {{ this.CSEchangeStatus.overflowCSE }}</b-alert>
                        </b-card-text>
                        <b-card-text>
                          <b-alert variant="warning" :show="activePlayer.hasAttackInRound">A játékos támadott ebben a körben</b-alert>
                        </b-card-text>
                        <b-card-text>
                          <b-alert variant="warning" :show="activePlayer.hasCombination">{{ activePlayer.combinationText }}</b-alert>
                        </b-card-text>
                        <b-card-text>
                          <b-alert variant="warning" :show="activePlayer.hasRangeCombination">{{ activePlayer.rangeCombinationText }}</b-alert>
                        </b-card-text>
                      </div>
                    </b-card-text>
                    <b-card-text>
                      <b-tabs content-class="m-2" justified active-nav-item-class="font-weight-bold" v-model="actionTypeTabs">
                        <b-tab title-link-class="text-dark" active>
                          <template #title>
                            Közelharci
                          </template>
                          <b-card-text>
                            <b-row>
                              <b-col>
                                <b-form-group label="Akció">
                                  <b-form-radio v-for="action in closeCombatActions" :value="action" v-bind:key="`action_${action.name}`"
                                                v-model="selectedCloseCombatAction">
                                    {{ action.name }}({{ action.CS }})
                                    <b-icon icon="info-circle" :id="action.name"></b-icon>
                                    <b-tooltip :target="action.name" triggers="hover">
                                      {{ action.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                  <b-button pill variant="outline-dark" v-if="selectedCloseCombatAction" v-on:click="selectedCloseCombatAction=null">Mégse
                                  </b-button>
                                </b-form-group>
                                <b-form-group label="Speciális akció">
                                  <b-form-checkbox-group v-model="selectedCloseCombatSpecialActions">
                                    <b-form-checkbox v-for="special in closeCombatSpecialActions" :value="special" v-bind:key="`special_${special.name}`">
                                      {{ special.name }}({{ special.CS }}+)
                                      <b-icon icon="info-circle" :id="special.name"></b-icon>
                                      <b-tooltip :target="special.name" triggers="hover">
                                        {{ special.description }}
                                      </b-tooltip>
                                    </b-form-checkbox>
                                  </b-form-checkbox-group>
                                </b-form-group>
                              </b-col>
                              <b-col>
                                <b-form-group label="Komplex akció">
                                  <b-form-radio v-for="complex in closeCombatComplexActions" :value="complex" v-bind:key="`complex_${complex.name}`"
                                                v-model="selectedCloseComplexAction">
                                    {{ complex.name }}(+{{ complex.CS }})
                                    <b-icon icon="info-circle" :id="'complex_'+complex.name"></b-icon>
                                    <b-tooltip :target="'complex_'+complex.name" triggers="hover">
                                      {{ complex.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                  <b-button pill variant="outline-dark" v-if="selectedCloseComplexAction" v-on:click="selectedCloseComplexAction=null">Mégse
                                  </b-button>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-card-text>
                        </b-tab>
                        <b-tab title-link-class="text-dark">
                          <template #title>
                            <div>Távolsági</div>
                          </template>
                          <b-row>
                            <b-col>
                              <b-form-group label="Akció">
                                <b-form-radio v-for="action in rangeCombatActions" :value="action" v-bind:key="`rangeaction_${action.name}`"
                                              v-model="selectedRangeCombatAction">
                                  {{ action.name }}({{ CSText(action) }})
                                  <b-icon icon="info-circle" :id="action.name"></b-icon>
                                  <b-tooltip :target="action.name" triggers="hover">
                                    {{ action.description }}
                                  </b-tooltip>
                                </b-form-radio>
                                <div class="input-group mb-2 mt-1" v-if="selectedRangeCombatAction !== null && selectedRangeCombatAction.CS === null">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">CS</div>
                                  </div>
                                  <input type="number" class="form-control" v-model="selectedRangeCombatAction.CS_CUSTOM" @keypress="isNumber($event)" min="1"
                                         style="max-width: 100px;">
                                </div>
                                <b-button pill variant="outline-dark" v-if="selectedRangeCombatAction" v-on:click="selectedRangeCombatAction=null">Mégse
                                </b-button>
                              </b-form-group>
                              <b-form-group label="Speciális akció">
                                <b-form-checkbox-group v-model="selectedRangeCombatSpecialActions">
                                  <b-form-checkbox v-for="special in rangeCombatSpecialActions" :value="special" v-bind:key="`rangespecial_${special.name}`">
                                    {{ special.name }}({{ special.CS }}+)
                                    <b-icon icon="info-circle" :id="special.name"></b-icon>
                                    <b-tooltip :target="special.name" triggers="hover">
                                      {{ special.description }}
                                    </b-tooltip>
                                  </b-form-checkbox>
                                </b-form-checkbox-group>
                              </b-form-group>
                            </b-col>
                            <b-col>
                              <b-form-group label="Komplex akció">
                                <b-form-radio v-for="complex in rangeCombatComplexActions" :value="complex" v-bind:key="`rangecomplex_${complex.name}`"
                                              v-model="selectedRangeComplexAction">
                                  {{ complex.name }}(+{{ complex.CS }})
                                  <b-icon icon="info-circle" :id="complex.name"></b-icon>
                                  <b-tooltip :target="complex.name" triggers="hover">
                                    {{ complex.description }}
                                  </b-tooltip>
                                </b-form-radio>
                                <b-button pill variant="outline-dark" v-if="selectedRangeComplexAction" v-on:click="selectedRangeComplexAction=null">Mégse
                                </b-button>
                              </b-form-group>
                            </b-col>
                          </b-row>
                        </b-tab>
                        <b-tab title-link-class="text-dark">
                          <template #title>
                            <div>Általános</div>
                          </template>
                          <b-form-group>
                            <b-row>
                              <b-col>
                                <b-form-group label="Harci">
                                  <b-form-radio v-for="(action,idx) in situationCombatFightActions" :value="action"
                                                v-bind:key="`situationaction_1_${idx}_${action.CS}`" v-model="selectedSituationCombatAction">
                                    {{ action.name }}({{ CSText(action) }})
                                    <b-icon icon="info-circle" :id="action.name+'_'+action.CS"></b-icon>
                                    <b-tooltip :target="action.name+'_'+action.CS" triggers="hover">
                                      {{ action.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                </b-form-group>
                                <b-form-group label="Mozgás">
                                  <b-form-radio v-for="(action,idx) in situationCombatMoveActions" :value="action"
                                                v-bind:key="`situationaction_2_${idx}_${action.CS}`" v-model="selectedSituationCombatAction">
                                    {{ action.name }}({{ CSText(action) }})
                                    <b-icon icon="info-circle" :id="action.name+'_'+action.CS"></b-icon>
                                    <b-tooltip :target="action.name+'_'+action.CS" triggers="hover">
                                      {{ action.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                </b-form-group>
                                <b-form-group label="Misztikus">
                                  <b-form-radio v-for="(action,idx) in situationCombatMysticActions" :value="action"
                                                v-bind:key="`situationaction_3_${idx}_${action.CS}`" v-model="selectedSituationCombatAction">
                                    {{ action.name }}({{ CSText(action) }})
                                    <b-icon icon="info-circle" :id="action.name+'_'+action.CS"></b-icon>
                                    <b-tooltip :target="action.name+'_'+action.CS" triggers="hover">
                                      {{ action.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                </b-form-group>
                              </b-col>
                              <b-col>
                                <b-form-group label="Általános">
                                  <b-form-radio v-for="(action,idx) in situationCombatActions" :value="action"
                                                v-bind:key="`situationaction_5_${idx}_${action.CS}`" v-model="selectedSituationCombatAction">
                                    {{ action.name }}({{ CSText(action) }})
                                    <b-icon icon="info-circle" :id="action.name+'_'+action.CS"></b-icon>
                                    <b-tooltip :target="action.name+'_'+action.CS" triggers="hover">
                                      {{ action.description }}
                                    </b-tooltip>
                                  </b-form-radio>
                                </b-form-group>
                              </b-col>
                            </b-row>
                            <div class="input-group mb-2 mt-1" v-if="selectedSituationCombatAction !== null && selectedSituationCombatAction.CS === null &&
                            (selectedSituationCombatAction.extraAction !== null && selectedSituationCombatAction.extraAction !== ExtraActions.MoveAllActionsToReactionPool)">
                              <div class="input-group-prepend">
                                <div class="input-group-text">CS</div>
                              </div>
                              <input type="number" class="form-control" v-model="selectedSituationCombatAction.CS_CUSTOM" @keypress="isNumber($event)"
                                     style="max-width: 100px;">
                            </div>
                            <b-button pill variant="outline-dark" v-if="selectedSituationCombatAction" v-on:click="selectedSituationCombatAction=null">Mégse
                            </b-button>
                          </b-form-group>
                        </b-tab>
                      </b-tabs>
                    </b-card-text>
                    <div class="text-center">
                      <b-button-group class="mt-2">
                        <b-button class="ml-1" variant="outline-dark" @click="spendCSEAndMoveToCharSelections" v-if="activePlayer">
                          CSE Költés és következő játékos
                        </b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="spendCSEAndMoveReactions" v-if="activePlayer">CSE
                          Költés és reakció
                        </b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="spendCSEAndMoveCorrections" v-if="activePlayer">CSE
                          Költés és korrekció
                        </b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="moveToCharSelect">Karakter választó</b-button>
                      </b-button-group>
                    </div>
                  </b-tab>
                  <b-tab class="text-left pl-2">
                    <b-card-text>
                      <b-row>
                        <b-col>
                          <b-form-group label="Játékosok kiválasztása:">
                            <b-form-checkbox-group v-model="selectedPlayersToReactions" stacked>
                              <b-form-checkbox v-for="player in playerSortedByAct" :value="player" v-bind:key="`selected_${player.name}`">
                                {{ player.name }}
                              </b-form-checkbox>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </b-col>
                        <b-col>
                          <b-form-group label="Reakció:">
                            <b-form-radio v-for="reaction in reactions" :value="reaction" v-bind:key="`action_${reaction.name}`" v-model="selectedReaction">
                              {{ reaction.name }}({{ reaction.CS }})
                              <b-icon icon="info-circle" :id="reaction.name"></b-icon>
                              <b-tooltip :target="reaction.name" triggers="hover">
                                {{ reaction.description }}
                              </b-tooltip>
                            </b-form-radio>
                            <b-button pill variant="outline-dark" v-if="selectedReaction" v-on:click="selectedReaction=null">Mégse</b-button>
                          </b-form-group>
                        </b-col>
                      </b-row>
                    </b-card-text>
                    <div class="text-center">
                      <b-button-group class="mt-2">
                        <b-button class="ml-1" variant="outline-dark" @click="spendReactions"
                                  :disabled="!selectedReaction || selectedPlayersToReactions.length < 1">CSE Költés
                        </b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="spendReactionCSEAndMoveCorrections"
                                  :disabled="!selectedReaction || selectedPlayersToReactions.length < 1">CSE Költés és
                          korrekció
                        </b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="moveToCorrection">Korrekció</b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="moveToCharSelect">Karakter választó</b-button>
                      </b-button-group>
                    </div>
                  </b-tab>
                  <b-tab class="text-left pl-2">
                    <b-card-text class="text-center">
                      Játékos adatok korrekciója
                    </b-card-text>
                    <b-card-text>
                      <b-card bg-variant="light" v-for="player in playersToCorrections" class="mt-1" v-bind:key="`listed_${player.id}`"
                              style="max-width: 40rem;">
                        <b-form-group
                          label-cols-lg="5"
                          :label="player.name"
                          label-size="lg"
                          label-class="font-weight-bold pt-0"
                          class="mb-0"
                        >
                          <b-form-group
                            label="CSA (következő kőrtöl):"
                            :label-for="'listed_player_KE_MOD_NEW_' + player.id"
                            label-cols-sm="8"
                            label-cols-lg="8"
                            label-align-sm="right"
                            content-cols-sm
                            content-cols-lg="4"

                          >
                            <input type="number" class="form-control" :id="'listed_player_KE_MOD_NEW_' + player.id" v-model="player.KE_MOD_NEW"
                                   style="max-width: 100px;">
                          </b-form-group>
                          <b-form-group
                            label="CSA (aktuális):"
                            :label-for="'listed_player_KE_' + player.id"
                            label-cols-sm="8"
                            label-cols-lg="8"
                            label-align-sm="right"
                            content-cols-sm
                            content-cols-lg="4"

                          >
                            <input type="number" class="form-control" :id="'listed_player_KE_' + player.id" v-model="player.KE"
                                   style="max-width: 100px;">
                          </b-form-group>

                          <b-form-group
                            label="Aktuális CS:"
                            :label-for="'listed_player_ACT_CSE_' + player.id"
                            label-cols-sm="8"
                            label-cols-lg="8"
                            label-align-sm="right"
                            content-cols-sm
                            content-cols-lg="4"
                          >
                            <input type="number" class="form-control" :id="'listed_player_ACT_CSE_' + player.id" v-model="player.CS_ACT"
                                   @keypress="isNumber($event)" style="max-width: 100px;">
                          </b-form-group>
                        </b-form-group>
                      </b-card>
                    </b-card-text>
                    <div class="text-center">
                      <b-button-group class="mt-2">
                        <b-button class="ml-1" variant="outline-dark" @click="correctPlayers">Korrekció</b-button>
                        <b-button class="ml-1" variant="outline-dark" @click="moveToCharSelect">Karakter választó</b-button>
                      </b-button-group>
                    </div>
                  </b-tab>
                </b-tabs>
              </b-overlay>
            </b-card>
          </div>
        </b-card>
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-2 variant="dark">Események tárháza</b-button>
            </b-card-header>
            <b-collapse id="accordion-2" accordion="events-accordion" role="tabpanel">
              <b-form inline class="mb-1 mt-1 ml-1">
                <b-button v-on:click="clearEvents()" pill variant="outline-info">Események elfeledése</b-button>
                <b-form-checkbox switch class="text-dark ml-2" v-model="debugLog">Titkok feltárása</b-form-checkbox>
              </b-form>
              <action-logging :debug="debugLog"></action-logging>
            </b-collapse>
          </b-card>
        </div>
      </div>
    </b-row>
    <b-row v-if="actualState === GameplayState.CsicskaPhase">
      <b-container>
        <b-card no-body>
          <b-alert show variant="secondary" class="text-center">Csicska fázis</b-alert>
          <div class="card-deck m-1">
            <b-card :title="player.name" class="box-shadow text-left" style="max-width: 200px;" v-for="(player, index) in playerSortedById"
                    v-bind:key="'playerList_' + index" text-variant="dark">
              <b-card-text>
                Tartalékolt CS: {{ player.STORED_CSE }}
                <b-button-group>
                  <b-button variant="outline-dark" :disabled="player.STORED_CSE < 1" v-on:click="spendCSEFromStoredPool(player)">Reagálás</b-button>
                </b-button-group>
              </b-card-text>
            </b-card>
          </div>
          <b-row class="justify-content-center">
            <b-button pill @click="newRound" variant="secondary" class="mt-3 mb-3" style="max-width: 100px;">Új kör</b-button>
          </b-row>
        </b-card>
      </b-container>
    </b-row>
    <b-row v-if="actualState === GameplayState.Playing || actualState === GameplayState.CsicskaPhase">
      <b-col class="d-flex justify-content-center pt-3 pb-3">
        <b-button block variant="danger" v-on:click="stopGame" size="lg" class="ml-3 mr-3">Játék vége</b-button>
      </b-col>
    </b-row>
  </b-container>

</template>

<script>
import "@/assets/global.css";
import '@/assets/custom.scss';
import maneuvers from '../components/ManeuverCompedium.vue';
import ActionLogging from '../components/ActionLogging.vue';
import {mapMutations} from "vuex";
import {v4 as uuidv4} from 'uuid';
import SwordCross from 'vue-material-design-icons/SwordCross.vue';
import CheckboxMultipleBlankCircle from 'vue-material-design-icons/CheckboxMultipleBlankCircle.vue'
import ArrowProjectileMultiple from 'vue-material-design-icons/ArrowProjectileMultiple.vue';
import AlphaTBoxIcon from 'vue-material-design-icons/AlphaTBox.vue';

const GameplayState = Object.freeze({
  CharacterDefine: 'CharacterDefine',
  Playing: 'waiting',
  CsicskaPhase: 'CsicskaPhase'
})

export default {
  name: 'RoundCalc',
  components: {
    ActionLogging,
    SwordCross,
    CheckboxMultipleBlankCircle,
    ArrowProjectileMultiple,
    AlphaTBoxIcon
  },
  data() {
    return {
      GameplayState,
      forcedRender: 1,
      darkTheme: true,
      actualState: GameplayState.CharacterDefine,
      players: [],
      playerSortedByAct: [],
      playerSortedById: [],
      defaultPlayerData: {
        id: 0,
        name: "",
        KE: 10,
        KE_MOD: 10,
        CS_MAX: 0,
        CS_ACT: 0,
        state: null,
        TACTION_POOL: 0,
        REACTION_POOL: 0,
        STORED_CSE: 0,
        sleep: false,
        hasAttackInRound: false,
        hasCombination: false,
        hasRangeCombination: false,
        combinationText: '',
        continuousActionCS: 0
      },
      newPlayer: null,
      round: 1,
      partialRound: 1,
      tabIndex: 0,
      tabOverlay: false,
      tabOverlayTimeout: null,
      actionTypeTabs: 0,
      selectedManeuverText: '',
      selectedManeuverValue: 0,
      activePlayer: null,
      activePlayerSelected: false,
      selectedAdditionalActions: [],
      selectedReactionPlayers: [],
      selectedReactions: [],
      CSELoss: null,
      selectedCloseCombatAction: null,
      selectedCloseComplexAction: null,
      selectedCloseCombatSpecialActions: [],
      selectedRangeCombatAction: null,
      selectedRangeComplexAction: null,
      selectedRangeCombatSpecialActions: [],
      selectedSituationCombatAction: null,
      selectedReaction: null,
      selectedPlayersToReactions: [],
      playersToCorrections: [],
      PlayerStates: maneuvers.PlayerState,
      debugLog: false,
      gameId: null,
      streamGame: false,
      KM_MOVE: '',
      ExtraActions: maneuvers.ExtraAction,
      showPlayerCard: true,
      loading: false
    }
  },
  watch: {
    selectedCloseCombatAction: function (newVal) {
      if (newVal !== null) {
        this.selectedRangeCombatAction = null;
        this.selectedRangeComplexAction = null;
        this.selectedRangeCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedCloseComplexAction: function (newVal) {
      if (newVal !== null) {
        this.selectedRangeCombatAction = null;
        this.selectedRangeComplexAction = null;
        this.selectedRangeCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedCloseCombatSpecialActions: function (newVal, oldVal) {
      if (newVal.length !== 0 && oldVal.length === 0) {
        this.selectedRangeCombatAction = null;
        this.selectedRangeComplexAction = null;
        this.selectedRangeCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedRangeCombatAction: function (newVal) {
      if (newVal !== null) {
        this.selectedCloseCombatAction = null;
        this.selectedCloseComplexAction = null;
        this.selectedCloseCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedRangeComplexAction: function (newVal) {
      if (newVal !== null) {
        this.selectedCloseCombatAction = null;
        this.selectedCloseComplexAction = null;
        this.selectedCloseCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedRangeCombatSpecialActions: function (newVal, oldVal) {
      if (newVal.length !== 0 && oldVal.length === 0) {
        this.selectedCloseCombatAction = null;
        this.selectedCloseComplexAction = null;
        this.selectedCloseCombatSpecialActions = [];
        this.selectedSituationCombatAction = null;
      }
    },
    selectedSituationCombatAction: function (newVal) {
      if (newVal !== null) {
        this.selectedCloseCombatAction = null;
        this.selectedCloseComplexAction = null;
        this.selectedCloseCombatSpecialActions = [];
        this.selectedRangeCombatAction = null;
        this.selectedRangeComplexAction = null;
        this.selectedRangeCombatSpecialActions = [];
      }
    },
    streamGame(newVal) {
      if (newVal) {
        // If streaming is enabled, start the streaming logic
        this.startStreaming();
      } else {
        // If streaming is disabled, stop the streaming logic
        this.stopStreaming();
      }
    },
    tabIndex(newVal) {
      if (newVal === 0) {
        this.KM_MOVE = 'Karakter választás'
      }
      if (newVal === 1) {
        this.KM_MOVE = 'Akció kiválasztása'
      }
      if (newVal === 2) {
        this.KM_MOVE = 'Reakció kiválasztása'
      }
      if (newVal === 3) {
        this.KM_MOVE = 'Korrekció'
      }

      //reset some selections
      if (newVal !== 2) {
        this.selectedPlayersToReactions = [];
      }
    }
  },
  methods: {
    isNumber: function (evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    nameState(name) {
      return name.length > 0;
    },
    startGame() {
      this.logInfo('Új játek indult')
      this.tabIndex = 0;
      this.actualState = GameplayState.Playing;
      this.round = 1;
      this.players = this.players.filter(p => p.name.length > 0)
      this.calculateMaxCS();
      this.playerSortedByAct = _.cloneDeep(this.players);
      this.sortPlayers();
      this.gameId = uuidv4();
    },
    stopGame() {
      this.logInfo("Játék végetért")
      this.actualState = GameplayState.CharacterDefine;
      this.KM_MOVE = 'Játék végetért'
      this.streamGame = false;
    },
    startCsicskaPhase() {
      this.actualState = GameplayState.CsicskaPhase;
      this.KM_MOVE = 'Csicska fázis'
    },
    sortPlayers() {
      this.logDebug('Játékosok sorba rendezése indul ' + JSON.stringify(this.playerSortedByAct))
      this.playerSortedByAct.sort((a, b) => {
        if (a.CS_ACT !== b.CS_ACT) {
          return b.CS_ACT - a.CS_ACT
        }
        return b.KE - a.KE;
      })
      this.logDebug('Aktuális CSE rendezett sorrend: ' + JSON.stringify(this.playerSortedByAct))

      this.playerSortedById = _.cloneDeep(this.playerSortedByAct);
      this.playerSortedById.sort((a, b) => {
        return a.id - b.id
      })
    },
    resetData() {
      this.logDebug('Adatok újradefiniálása')
      this.players = [];
      this.round = 1;
      this.partialRound = 1;
      this.addNewPlayer();
    },
    addNewPlayer() {
      let player = _.cloneDeep(this.defaultPlayerData);
      player.KE_MOD = null;
      player.state = this.PlayerStates.Action
      this.players.push(player);
      player.id = this.players.length - 1;
      this.logInfo('Új játékos')
      this.logDebug('Új játékos: ' + JSON.stringify(player))
    },
    openAddPlayer() {
      this.newPlayer = _.cloneDeep(this.defaultPlayerData);
      ;
      this.$refs['modal-addPlayer'].show();
      this.KM_MOVE = 'Új játékos hozzáadása'
    },
    addNewPlayerInGame() {
      let player = _.cloneDeep(this.newPlayer);
      player.KE_MOD = null;
      player.state = maneuvers.PlayerState.Action;
      player.CS_MAX = Math.floor(player.KE / 10) + 1;
      this.players.push(player);
      player.id = this.players.length - 1;
      this.playerSortedByAct.push(player);
      this.sortPlayers();
      this.logInfo('Új játékos a játékban')
      this.logDebug('Új játékos: ' + JSON.stringify(player));
      this.$refs['modal-addPlayer'].hide();
    },
    calculateMaxCS() {
      for (let i = 0; i < this.players.length; i++) {
        let player = this.players[i];
        this.calculateMaxCsForPlayer(player)
      }
      this.resetPlayersCS();
    },
    calculateMaxCsForPlayer(player) {
      if (this.playerSortedByAct && this.playerSortedByAct.length > 0) {
        let oldPlayer = this.playerSortedByAct.find(o => o.id === player.id);
        if (oldPlayer !== undefined) {
          if (oldPlayer.KE_MOD != null) {
            player.KE = oldPlayer.KE_MOD;
            player.KE_MOD = null;
            player.TACTION_POOL = oldPlayer.TACTION_POOL;
            player.state = oldPlayer.state;
            player.continuousActionCS = oldPlayer.continuousActionCS;
          }
        }
      }

      player.CS_MAX = Math.floor(player.KE / 10) + 1;
    },
    resetPlayersCS() {
      for (let i = 0; i < this.players.length; i++) {
        const player = this.players[i];
        this.resetPlayerCS(player);
      }
    },
    resetPlayerCS(player) {
      player.CS_ACT = player.CS_ACT + player.CS_MAX;
      if (player.CS_ACT > player.CS_MAX) {
        player.CS_ACT = player.CS_MAX;
      }

      let oldPlayer = this.playerSortedByAct.find(o => o.id === player.id);
      if (typeof oldPlayer !== 'undefined') {
        player.state = oldPlayer.state;
        player.continuousActionCS = oldPlayer.continuousActionCS;
        if (oldPlayer.CS_ACT < 0){
          player.CS_ACT += Number(oldPlayer.CS_ACT);
        }
        if (oldPlayer.TACTION_POOL > 0){
          player.CS_ACT += oldPlayer.TACTION_POOL;
        }
      }

      player.CS_ACT += player.TACTION_POOL;
      player.TACTION_POOL = 0;
      player.hasAttackInRound = false;
      player.hasCombination = false;
      player.hasRangeCombination = false;
      player.combinationText = '';
    },
    newRound() {
      this.setTabOverlayTimeout();
      this.actualState = GameplayState.Playing;
      this.round += 1;
      this.partialRound = 1;
      this.calculateMaxCS();
      this.playerSortedByAct = _.cloneDeep(this.players);
      this.activePlayer = null;
      this.moveToCharSelect();
      this.logInfo('Új kör indul. Kör  ' + this.round)
    },
    moveToAction(player) {
      this.logDebug('Akció tab kiválasztva')
      this.activePlayer = player;
      this.activePlayerSelected = true;
      this.activePlayer.REACTION_POOL = 0;
      this.tabIndex = 1;
    },
    maintenanceState(player) {
      this.logInfo(player.name + ' fentartja a ' + player.state + ' állapotot')
      if (player.state.defenseMode) {
        player.CS_ACT = player.CS_ACT - 1;
      }
      if (player.state.isContinuousAction && !player.state.defenseMode) {
        player.CS_ACT = player.CS_ACT - 1;
        player.continuousActionCS = player.continuousActionCS - 1;
        if (player.continuousActionCS < 1) {
          player.state = this.PlayerStates.Action
        }
      }
      this.setTabOverlayTimeout();
      this.moveToCharSelect();
    },
    cancelState(player) {
      this.logInfo(player.name + ' befejezte ' + player.state + ' állapotot')
      player.state = this.PlayerStates.Action;
      player.continuousActionCS = 0;
      this.logInfo(player.name + ' akció állapotba léptett')
      this.moveToCharSelect();
    },
    moveToReaction(player) {
      this.logInfo(player.name + ' reakció kiválasztása')
      this.selectedPlayersToReactions = [];
      this.selectedPlayersToReactions.push(player)
      this.tabIndex = 2;
    },
    moveToReactionWitAllPlayers() {
      this.logInfo('Tömeges reakció kiválasztva')
      this.selectedPlayersToReactions = [];
      this.playerSortedByAct.forEach((player) => {
        this.selectedPlayersToReactions.push(player)
      });
      this.tabIndex = 2;
    },
    spendCSEAndMoveReactions() {
      this.spendAction();
      this.tabIndex = 2;
    },
    spendCSEAndMoveCorrections() {
      this.spendAction();
      this.tabIndex = 3;
    },
    spendCSEAndMoveToCharSelections() {
      this.spendAction();
      this.activePlayerSelected = false;
      this.moveToCharSelect();
    },
    spendAction() {
      this.logInfo(this.activePlayer.name + ' - Akció költés következik: ' + this.selectedChange.name + '(CS:' + this.selectedChange.spendingCSE + ')')
      this.partialRound += 1;

      if (this.selectedChange.newState != null) {
        const newState = this.selectedChange.newState;

        if (newState.defenseMode) {
          this.activePlayer.CS_ACT = this.activePlayer.CS_ACT - this.selectedChange.spendingCSE;
          this.activePlayer.state = newState;
        }
        if (newState.isContinuousAction && !newState.defenseMode) {
          const castCS = this.selectedChange.spendingCSE;
          if (castCS < 2) {
            this.activePlayer.CS_ACT = this.activePlayer.CS_ACT - this.selectedChange.spendingCSE;
          } else {
            this.activePlayer.CS_ACT = this.activePlayer.CS_ACT - 1;
            this.activePlayer.continuousActionCS = castCS - 1;
            this.activePlayer.state = newState;
          }
        }

        this.logInfo(this.activePlayer.name + ' új állapot: ' + this.activePlayer.state.displayName)
      } else {
        this.activePlayer.CS_ACT = this.activePlayer.CS_ACT - this.selectedChange.spendingCSE;
      }

      if (this.selectedChange.extraAction === maneuvers.ExtraAction.AddToReactionPool) {
        this.activePlayer.REACTION_POOL = this.selectedChange.spendingCSE;
      }
      if (this.selectedChange.extraAction === maneuvers.ExtraAction.AddOneCSEToNextRoundAndEraseActCSE) {
        this.activePlayer.TACTION_POOL = this.selectedChange.tactionPlus;
        this.activePlayer.CS_ACT = 0;
      }
      if (this.selectedChange.extraAction === maneuvers.ExtraAction.MoveAllActionsToReactionPool) {
        this.activePlayer.STORED_CSE = this.activePlayer.CS_ACT;
        this.activePlayer.CS_ACT = 0;
      }

      if (this.selectedChange.attackInRound) {
        this.activePlayer.hasAttackInRound = true;
      }

      if (this.selectedChange.combination) {
        this.activePlayer.hasCombination = true;
        this.activePlayer.combinationText = this.selectedChange.combinationText;
      }
      if (this.selectedChange.rangeCombination){
        this.activePlayer.hasRangeCombination = true;
        this.activePlayer.rangeCombinationText = this.selectedChange.rangeCombinationText;
      }

      this.updatePlayersView()
    },
    spendReactions() {
      if (this.selectedReaction === null) {
        return;
      }
      this.partialRound += 1;

      for (let i = 0; i < this.selectedPlayersToReactions.length; i++) {
        let selectedPlayer = this.selectedPlayersToReactions[i];

        let remainingCost = this.selectedChange.spendingCSE;
        // Spend from REACTION_POOL first, but ensure it doesn't go below 0
        if (selectedPlayer.REACTION_POOL >= remainingCost) {
          selectedPlayer.REACTION_POOL -= remainingCost;
          remainingCost = 0;
        } else {
          remainingCost -= selectedPlayer.REACTION_POOL;
          selectedPlayer.REACTION_POOL = 0;
        }

        // Spend the remaining cost from CS_ACT, allowing it to go below 0
        selectedPlayer.CS_ACT -= remainingCost;

        // selectedPlayer.CS_ACT = selectedPlayer.CS_ACT - this.selectedChange.spendingCSE;
        let player = this.players.find(o => o.id === selectedPlayer.id);
        player.CS_ACT = selectedPlayer.CS_ACT;
        this.logInfo(selectedPlayer.name + ' - Reakció költés: ' + this.selectedChange.name + '(CS:' + this.selectedChange.spendingCSE + ')')
      }
      this.selectedReaction = null;
      this.selectedPlayersToReactions = [];

      this.sortPlayers();
      this.updatePlayersView();
    },
    spendReactionCSEAndMoveCorrections() {
      this.spendReactions();
      this.tabIndex = 2;
    },
    calculateCSE(action) {
      let value = 0;
      if (action.CS != null) {
        value = value + Number(action.CS);
      }
      if (action.CS_CUSTOM) {
        value = value + Number(action.CS_CUSTOM);
      }
      return value;
    },
    moveToCharSelect() {
      this.logInfo('Karakter választás');
      this.tabIndex = 0;
      this.cardShuffle();
      this.sortPlayers();

      // this.tabIndex = 0;
      this.actionTypeTabs = 0;
      this.resetSelectedActions();
      this.activePlayer = null;
      this.activePlayerSelected = false;
      this.endCardShuffle();
    },
    setTabOverlayTimeout() {
      this.tabOverlay = true;
      this.clearTabOverlayTimeout()
      this.tabOverlayTimeout = setTimeout(() => {
        this.clearTabOverlayTimeout()
      }, 500)
    },
    clearTabOverlayTimeout() {
      if (this.tabOverlayTimeout) {
        clearTimeout(this.tabOverlayTimeout)
        this.tabOverlayTimeout = null;
        this.tabOverlay = false;
      }
    },
    cardShuffle() {
      this.loading = true;
      setTimeout(() => {
        this.showPlayerCard = false;
      }, 500)
    },
    endCardShuffle() {
      setTimeout(() => {
        this.loading = false;
        this.showPlayerCard = true;
      }, 500)
    },
    moveToCorrection() {
      this.logInfo('Korrekció választás')
      this.resetSelectedActions();
      this.sortPlayers();
      this.playersToCorrections = _.cloneDeep(this.playerSortedById);
      this.playersToCorrections.forEach((player) => {
        player.KE_MOD_NEW = null;
      });

      this.tabIndex = 3;
    },
    correctPlayers() {
      this.logDebug('Korrigálás: ' + JSON.stringify(this.playersToCorrections))
      for (let i = 0; i < this.playersToCorrections.length; i++) {
        let correctedPlayer = this.playersToCorrections[i];
        let player = this.playerSortedByAct.find(o => o.id === correctedPlayer.id);
        let NEW_CS_ACT = Number(correctedPlayer.CS_ACT);
        if (NEW_CS_ACT !== player.CS_ACT) {
          player.CS_ACT = NEW_CS_ACT;
          this.logInfo(player.name + ' korrigálása. Aktuális CS: ' + player.CS_ACT);
        }

        let NEW_KE = Number(correctedPlayer.KE)
        if (NEW_KE !== player.KE) {
          let playerBaseData = this.players.find(o => o.id === player.id);
          playerBaseData.KE = NEW_KE
          this.calculateMaxCsForPlayer(playerBaseData);
          this.resetPlayerCS(playerBaseData);
          player.CS_ACT = Number(playerBaseData.CS_ACT);
          player.CS_MAX = Number(playerBaseData.CS_MAX);
          player.KE = Number(playerBaseData.KE);
          this.logInfo(player.name + ' korrigálása. Aktuális CSA: ' + playerBaseData.KE);
        }

        if (correctedPlayer.KE_MOD_NEW !== null && correctedPlayer.KE_MOD_NEW !== '') {
          player.KE_MOD = Number(correctedPlayer.KE_MOD_NEW);
          this.logInfo(player.name + ' korrigálása. CSA:' + player.KE_MOD)
        }

        this.partialRound += 1;
      }

      this.moveToCharSelect();
    },
    resetSelectedActions() {
      this.selectedCloseCombatAction = null;
      this.selectedCloseComplexAction = null;
      this.selectedCloseCombatSpecialActions = [];
      this.selectedRangeCombatAction = null;
      this.selectedRangeComplexAction = null;
      this.selectedRangeCombatSpecialActions = [];
      this.selectedSituationCombatAction = null;
      this.selectedReaction = null;
    },
    CSText(action) {
      if (action.CS_TEXT != null) {
        return action.CS_TEXT;
      }
      if (action.CS !== null) {
        return action.CS
      }

      return 'X'
    },
    calculatePlayerCardBGVariant(player) {
      if (this.choosableNextPlayers.includes(player.id) && player.CS_ACT > 0) {
        return 'bg-black'
      }
      if (player.state !== null && typeof player.state !== 'undefined' && player.state.isContinuousAction && player.CS_ACT > 0) {
        return 'bg-secondary'
      }

      return ''
    },
    calculatePlayerCardTextVariant(player) {
      if (this.choosableNextPlayers.includes(player.id) && player.CS_ACT > 0) {
        return 'white'
      }
      if (player.state !== null && typeof player.state !== 'undefined' && player.state.isContinuousAction && player.CS_ACT > 0) {
        return 'white'
      }
      return ''
    },
    spendCSEFromStoredPool(player) {
      this.logInfo(player.name + ' reagál csicska fázisban')
      player.STORED_CSE -= 1
    },
    sleepPlayer(player) {
      this.logInfo(player.name + ' szüneteltetve')
      player.sleep = true;
      this.sortPlayers();
    },
    awakePlayer(player) {
      this.logInfo(player.name + ' szüneteltetése megszünt')
      player.sleep = false;
      this.sortPlayers();
    },
    decreasePlayerCS(player) {
      // this.cardShuffle();
      player.CS_ACT = player.CS_ACT - 1;
      // this.setTabOverlayTimeout();
      this.sortPlayers();
      // this.endCardShuffle();
    },
    clearEvents() {
      this.clearLogs();
    },
    linkCopyToClipboard() {
      this.$clipboard(this.playersLink).then(() => {
        this.makeToast('Link vágolapra került!')
      }).catch(() => {
        alert('Hiba a vágolapra másoláskor');
      });
    },
    makeToast(message) {
      this.$bvToast.toast(message, {
        title: 'Üzenet',
        autoHideDelay: 3000,
        appendToast: true,
        variant: 'secondary'
      })
    },
    updatePlayersView(updated = false) {
      if (!this.streamGame) return;

      let selectedPlayersName = [];
      if (this.activePlayer) {
        selectedPlayersName.push(this.activePlayer.name)
      }
      if (this.selectedPlayersToReactions.length > 0) {
        this.selectedPlayersToReactions.map(function (player) {
          selectedPlayersName.push(player.name)
        })
      }

      let playersData = {
        players: this.playerSortedByAct,
        choosableNextPlayers: this.choosableNextPlayers,
        updated: updated,
        round: this.round,
        KM_MOVE: this.KM_MOVE,
        selectedPlayersName: selectedPlayersName
      }
      this.$socket.emit('subscribe', this.gameId);
      const data = {
        channel: this.gameId,
        message: JSON.stringify(playersData)
      };
      this.$socket.emit('message', data);
    },
    toggleStream() {
      this.streamGame = !this.streamGame;
    },
    startStreaming() {
      this.streamingInterval = setInterval(() => {
        this.updatePlayersView();
      }, 1000);
    },
    stopStreaming() {
      // Stop the streaming logic
      clearInterval(this.streamingInterval);
    },
    ...mapMutations([
      'logDebug',
      'logInfo',
      'clearLogs'
    ]),
  },
  sockets: {
    connect() {
      console.log('Connected to server');
    },
    disconnect() {
      console.log('Disconnected from server');
    },
  },
  computed: {
    currentStyleObject() {
      if (this.darkTheme) {
        document.body.classList.add('dark-mode')
      } else {
        document.body.classList.remove('dark-mode')
      }
    },
    selectedChange() {
      let selected = null;
      let complexSelect = null;
      let calculation = {
        spendingCSE: 0,
        newState: null,
        tactionPlus: null,
        extraAction: null,
        name: '',
        attackInRound: false,
        combination: false,
        combinationText: '',
        rangeCombination: false,
        rangeCombinationText: ''
      }

      if (this.selectedCloseCombatAction !== null) {
        selected = this.selectedCloseCombatAction;
      }
      if (this.selectedCloseComplexAction !== null) {
        complexSelect = this.selectedCloseComplexAction;
      }

      if (this.selectedRangeCombatAction !== null) {
        selected = this.selectedRangeCombatAction;
      }
      if (this.selectedRangeComplexAction !== null) {
        complexSelect = this.selectedRangeComplexAction;
      }

      if (this.selectedSituationCombatAction !== null) {
        selected = this.selectedSituationCombatAction;
      }

      if (selected !== null) {
        calculation.spendingCSE = this.calculateCSE(selected);
        calculation.newState = selected.state
        if (selected.tactionPlus != null && typeof selected.tactionPlus !== 'undefined') {
          calculation.tactionPlus = selected.tactionPlus;
        }
        if (selected.extraAction != null && typeof selected.extraAction !== 'undefined') {
          calculation.extraAction = selected.extraAction;
        }
        if (complexSelect != null) {
          calculation.spendingCSE = calculation.spendingCSE + Number(complexSelect.CS)
          calculation.name = selected.name + '(+' + complexSelect.name + ')'
        } else {
          calculation.name = selected.name
        }

        if (selected.attackInRound !== null && typeof selected.attackInRound !== 'undefined') {
          calculation.attackInRound = true;
        }

      }

      if (this.selectedCloseCombatSpecialActions != null) {
        calculation.name = calculation.name + ' - '
        for (let i = 0; i < this.selectedCloseCombatSpecialActions.length; i++) {
          calculation.spendingCSE = calculation.spendingCSE + Number(this.selectedCloseCombatSpecialActions[i].CS)
          calculation.name += this.selectedCloseCombatSpecialActions[i].name + ' '
          if (this.selectedCloseCombatSpecialActions[i] !== null && typeof this.selectedCloseCombatSpecialActions[i] !== 'undefined') {
            calculation.combination = true;
            calculation.combinationText = this.selectedCloseCombatSpecialActions[i].combinationText
          }
        }
      }
      if (this.selectedRangeCombatSpecialActions != null) {
        for (let i = 0; i < this.selectedRangeCombatSpecialActions.length; i++) {
          calculation.spendingCSE = calculation.spendingCSE + Number(this.selectedRangeCombatSpecialActions[i].CS)
          calculation.name += this.selectedRangeCombatSpecialActions[i].name + ' ';
          if (this.selectedRangeCombatSpecialActions[i] !== null && typeof this.selectedRangeCombatSpecialActions[i] !== 'undefined') {
            calculation.rangeCombination = true;
            calculation.rangeCombinationText = this.selectedRangeCombatSpecialActions[i].rangeCombinationText
          }
        }
      }

      if (this.selectedReaction !== null) {
        if (this.selectedReaction.CS) {
          calculation.spendingCSE = calculation.spendingCSE + Number(this.selectedReaction.CS);
          calculation.name = this.selectedReaction.name
        }
        if (this.selectedReaction.CS_CUSTOM) {
          calculation.spendingCSE = calculation.spendingCSE + Number(this.selectedReaction.CS_CUSTOM);
          calculation.name = this.selectedReaction.name
        }
      }

      return calculation;
    },
    CSEchangeStatus() {
      let calculation = {
        spendingCSE: this.selectedChange.spendingCSE,
        overflowCSE: 0,
        overflow: false,
        noMoreCSE: false,
        spendOK: true
      };

      if (this.activePlayer.CS_ACT < 1) {
        calculation.spendOK = false;
        calculation.noMoreCSE = true;
      }

      if (this.activePlayer.CS_ACT < this.selectedChange.spendingCSE) {
        calculation.overflowCSE = this.activePlayer.CS_ACT - this.selectedChange.spendingCSE;
        calculation.overflow = true;
        calculation.spendOK = false;
      }

      return calculation;
    },
    playersOrder() {
      let playersByCS_ACT = this.playerSortedByAct.filter((player) => {
        return !player.sleep
      });

      let ordered = new Map();
      for (let i = 0; i < playersByCS_ACT.length; i++) {
        let player = playersByCS_ACT[i];

        let actPlayers = [];
        if (!ordered.has(player.CS_ACT)) {
          actPlayers.push(player);
          ordered.set(player.CS_ACT, actPlayers)
        } else {
          actPlayers = ordered.get(player.CS_ACT);
          actPlayers.push(player);
          actPlayers.sort((a, b) => (a.KE > b.KE) ? -1 : 1);
          ordered.set(player.CS_ACT, actPlayers);
        }
      }

      return ordered;
    },
    choosableNextPlayers() {
      let order = this.playersOrder;
      let search = false;
      let result = [];
      if (order.size === 0) {
        return result;
      }
      let iterator2 = order.keys();
      do {
        let value = iterator2.next().value;
        if (value !== 'undefined') {
          let players = order.get(value);

          if (typeof players !== 'undefined' && players.length > 0) {
            let orderedsameCS_ACTs = players.sort((a, b) => (a.KE > b.KE) ? -1 : 1);
            let highestKE = orderedsameCS_ACTs[0].KE;
            let sameActsByByKe = orderedsameCS_ACTs.filter((player) => {
              return player.KE === highestKE;
            })
            result = sameActsByByKe.map((player) => player.id);
            search = false;
          } else {
            search = true;
          }
        } else {
          search = false;
        }
      } while (search);

      return result;
    },
    closeCombatActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === "close"
      }))
    },
    closeCombatComplexActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === true && (maneuver.combatType === "close" || maneuver.combatType === null) && maneuver.additionalType === "complex"
      }))
    },
    closeCombatSpecialActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === true && maneuver.combatType === "close" && maneuver.additionalType === "special"
      }))
    },
    rangeCombatActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === "range"
      }))
    },
    rangeCombatComplexActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === true && (maneuver.combatType === "range" || maneuver.combatType === null) && maneuver.additionalType === "complex"
      }))
    },
    rangeCombatSpecialActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === true && maneuver.combatType === "range" && maneuver.additionalType === "special"
      }))
    },
    situationCombatActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === null
      }))
    },
    situationCombatFightActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === "Fight"
      }))
    },
    situationCombatMoveActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === "move"
      }))
    },
    situationCombatMysticActions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "A" && maneuver.additional === false && maneuver.combatType === "mystic"
      }))
    },
    reactions() {
      return _.cloneDeep(maneuvers.maneuvers.filter((maneuver) => {
        return maneuver.type === "R"
      }))
    },
    playersLink() {
      const route = this.$router.resolve({name: 'RoundCalcPlayers', params: {gameId: this.gameId}});
      let fullPath = route.href;

      if (window.location.pathname) {
        fullPath = `${window.location.pathname}${fullPath}`;
      }

      return `${window.location.origin}${fullPath}`;
    },
  },
  mounted() {
    setInterval(() => {
      if (this.streamGame && !this.$socket.connected) {
        this.$socket.connect();
      }
    }, 1500)
  },
  created: function () {
    this.resetData();

    this.players[0].name = 'AAA'
    this.players[0].KE = 41


    this.addNewPlayer()
    this.players[1].name = 'BBB'
    this.players[1].KE = 41

    this.addNewPlayer()
    this.players[2].name = 'Tetra'
    this.players[2].KE = 43

    this.addNewPlayer()
    this.players[3].name = 'NPC1'
    this.players[3].KE = 55

    this.addNewPlayer()
    this.players[4].name = 'NPC2'
    this.players[4].KE = 61

    this.startGame();
  }
}

</script>

<style scoped>
.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}


</style>
