<template>
  <div class="logs-container">
    <transition-group tag="div" name="logList" class="list-group">
      <div class="logList-item log-item" v-for="(item, index) in getLogs" v-bind:key="item.index" :key="item.index">
        <div style="display: inline-flex;" v-if="(item.level === 'Debug' && debugEnabled) || item.level !== 'Debug'">
          <div class="log-index">{{ item.index }}</div>
          <div class="log-time">{{ item.time }}</div>
          <div class="log-level">{{ item.level }}</div>
          <div class="log-message">{{ item.message }}</div>
        </div>
      </div>
    </transition-group>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    debug: true
  },
  data() {
    return {
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters([
      'getLogs',
    ]),
    debugEnabled() {
      if (this.debug !== 'undefined' && this.debug != null){
        return this.debug
      }else{
        return false;
      }
    }
  }
}

</script>

<style scoped>
.logs-container {
  background-color: #222;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.log-item {
  display: inline-flex;
  margin-right: 5px;
  padding: 0px;
}

.log-index {
  color: #666;
  margin-right: 5px;
  font-weight: lighter;
}

.log-time {
  margin-right: 5px;
  font-weight: normal;
  white-space: nowrap;
}

.log-level {
  margin-right: 5px;
  font-weight: bold;
}

.logList-item {
  transition: all 1s;
}

.logList-enter,
.logList-leave-to {
  opacity: 0;
}

.logList-leave-active {
  /* position: absolute; */
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  font-size: 0;
  color: transparent;
}

</style>
