<template>
</template>

<script>
export default {
  aptitudes: {
    "Alvilági affinitás": {
      description: "Az Alvilági képzettségcsoportra +1 / +2 / +3 Dobásmódosítót kap, ha próbára kerülne sor.",
      dmOnSkill: (skill, level) => skill.type === 'Alvilági' ? level : 0,
    },
    "Amund vér": {
      racial: "Amund",
      description: "I. Az amund képes a Statikus pajzs, a Telekinézis és a Telepátia diszciplínák Kf-ú pszihasználóként való alkalmazására.\nII. Az amund képes a Statikus pajzs, a Telekinézis és a Telepátia diszciplínák Mf-ú pszihasználóként való alkalmazására. Ezeken túl képes az Amund láng diszciplína használatára, amely Meditáció: 5 CS és Pszi pont: 5 jellemzőkkel bír. Hatására lángra lobban egy olyan éghető tárgy, amit az amund lát és egyébként egy gyertya lángjának egy körös behatására tüzet fogna.\nIII. Ultra látás (20 láb): Az amund szemei képesek teljes sötétségben is látni. Azokban a helyzetekben, ahol ez a látás előnyt jelent, az amund számára 4 HMO-nyi harci hátrányt kompenzál, továbbá kapcsolódó próbáinál +4 extra sikert jelent."
    },
    "Arénaharc": {
      description: "+0,5/fok TÉO-re és VÉO-ra, amennyiben kettőnél több külső – a harcban tevőleg részt nem vevő – személy figyeli érdeklődéssel a közelharci küzdelmét.",
    },
    "Aurabőség": {
      description: "A karakternek egy időben további +1 / +2 / +3 Aura tárgya lehet.",
    },
    "Álomjáró": {
      description: "Az Antisson tett próbadobásaira a karakter +1 / +2 / +3 Dobásmódosítót kap.",
    },
    "Csábító": {
      description: "+2 / +3 / +4 Dobásmódosítót az ellenkező nem tagjaival szembeni pozitív jellegű szociális interakció során. Eltérő faj esetén a KM döntése alapján a Dobásmódosító értéke csökkenhet. Továbbá az Adottság előnyös külső megjelenést jelent, melynek mértéke a fokozattal arányos.",
    },
    "Dzsenn vér": {
      racial: "Dzsenn",
      description: "I: Két olyan diszciplínát tudhat magáénak a dzsenn, amely a Mentál Mágia Alap fokával lenne létrehozható. További Aspektus korlátjai pedig Távolság: érintés; Terület: egy személy; Időtartam: 6 kör.\nII: További három olyan diszciplínát tudhat magáénak a dzsenn, amely a Mentál Mágia Közép fokával lenne létrehozható. További Aspektus korlátjai pedig Távolság: 50 láb; Terület: öt személy; Időtartam: 30 perc.\nIII: Egy olyan diszciplínát tudhat magáénak a dzsenn, amely a Mentál Mágia Mester fokával lenne létrehozható. További Aspektus korlátjai pedig Távolság: látótáv; Terület: tucatnyi személy; Időtartam: 10 óra.",
    },
    "Ellenálló": {
      description: "+1 / +2 / +3 extra siker a karakter Méregellenállására és a Betegségekkel szemben.",
    },
    "Elmélyült": {
      description: "A karakter az általa használt diszciplínák Meditációs idejét 3 / 6 / 9 Cselekedettel (minimum 1 CS-re) csökkenti. Amennyiben a Meditációs idő percekig tartó, akkor azt 3 / 6 / 9 perccel csökkentheti. (A „változó” Meditációs idejű diszciplínákra az adottság nincs hatással.",
    },
    "Elpusztíthatatlan": {
      description: "A karakter +3 / +6 / +9 extra sikert és +1 / +2 / +3 Dobásmódosítót kap a Haldoklás próbáira.",
    },
    "Extra reakció": {
      description: "+1 / +2 / +3 Dobásmódosító a karakter Kezdeményező dobásaira, továbbá egy adott jelenet legelső / első kettő / első három körében +1 CS illeti meg őt.",
    },
    "Életerős": {
      statModifier: function(self, level) {
        return {
          Ép: 2 * level,
        };
      },
      description: "A karakter +2 / +4 / +6 Ép-tal rendelkezik.",
    },
    "Fürge": {
      description: "A Kitérés Manőver használatakor a karakter +0,5 helyett +1 / +1,5 / +2 VÉO-t kap.",
    },
    "Harci affinitás": {
      description: "A Harci képzettség csoport próbáira a karakter +1 / +2 / +3 Dobásmódosítót kap.",
      dmOnSkill: (skill, level) => skill.type === 'Harci' ? level : 0,
    },
    "Harci láz": {
      description: "Egy elvétett Asztrál próba után lép működésbe és sikeres Akaraterő próbával állítható le. A CÉL mindkét esetben 10, mely a játékos döntése értelmében körönként 1 / 2 / 3 ponttal nő vagy csökken. A próba 1 CS- be kerül és körönként kizárólag egy tehető belőle. A Harci láz alkalmazója köteles minden körben egy lehetséges célponttal szemben közelharci támadást indítani. TÉO értéke nő, míg VÉO értéke csökken, melyek mértéke fokozatonként 1 / 1,5 / 2.",
    },
    "Harcművész": {
      description: "I. A karakterrel szemben senkit nem illet meg a Fegyvertelenre támadás Előnye\nII. A karakter az ököl harcértékeinek meghatározásánál a Tulajdonság érték negyede helyett, annak a harmadával számolhat; továbbá az ököl sebzéskódjának meghatározásánál +1-el magasabbnak tekintendő a karakter Ereje a ténylegesnél\nIII. A karakter az ököl harcértékeinek meghatározásánál a Tulajdonság érték negyede helyett, annak a felével számolhat; továbbá az ököl sebzéskódjának meghatározásánál +3-al magasabbnak tekintendő a karakter Ereje a ténylegesnél",
    },
    "Ijesztő": {
      description: "+2 / +3 / +4 Dobásmódosító negatív szociális interakció során. Továbbá riasztó kisugárzás, melynek mértéke a fokozattól függ.",
    },
    "Intuitív": {
      resistBonus: function(obj, level) {
        obj.Elkerülő.base += level;
      },
      description: "+1 / +2 / +3 extra siker a karakter minden Elkerülő mágiaellenállására, továbbá minden speciális, nem fizikai Tulajdonságon alapuló (pl. Intelligencia) mágiaellenállásra.",
    },
    "Lélekerő": {
      resistBonus: function(obj, level) {
        obj.Mentális.base += level;
      },
      description: "+1 / +2 / +3 extra siker a karakter minden Mentális mágiaellenállására, továbbá nem kívánatos tudati ráhatásra. (Figyelembe vehető a Szellemi vagy Összetett ellenállásoknál is, ha ott a Mentális ellenállás a mérvadó.)",
    },
    "Mana érzék": {
      description: "I. A karakter minden további nékül megérezheti a tárgyakban rejlő varázserőt, ha kézbe veszi azokat és erre összpontosít. (1 Akció Cselekedet.) A leplezett varázslatot csak akkor érzi meg, ha a leplezés mágiaként láttatja a varázslatot.\nII. A karakter a célpont Szellemi ellenállása ellen tett sikeres Érzékelés alapú ellenpróbával megérezheti a személyben rejlő kötött vagy szabad varázserőt, ha megérinti azokat és arra összpontosít. (1 Akció Cselekedet.)\nIII. A két előbbi képesség, ám érintés helyett elegendő pontosan látnia a célpontot. (Továbbá a Magas Mágia Kf-kal bíró karakterek e III. fokozat esetén a látótáv helyett akár a zónájukat is használhatják erre. Ilyenkor csupán e mágikus források (személyek és tárgyak) számáról kapnak információt. Tehát pozíciójukról és jellegükről nem. Utóbbi alól egyetlen kivétel, ha olyan szereplő van a próbát elvétők között, aki szintén bír a Magas Mágia Kf-kal. Mert ezek létszámával tisztában lesz.)",
    },
    "Mana uraló": {
      description: "A karakternek két varázslata közt a normál Lecsengéshez képest 1 / 2 / 3 értékkel kevesebb Cselekedet számot kell kivárnia. Ez az előny a Kontrollált varázslatok kapcsán is megilleti őt.",
    },
    "Mana vezető": {
      description: "A karakter az általa használt varázslatok Varázsidő tényezőinek összegét 1 / 2 / 3 ponttal csökkentheti. (A különféle varázstárgyak elkészítési idejére, illetve a Rituális fohászok és a Jel Mágiával életre hívott varázslatok varázslási idejére az adottság nincs hatással.)",
    },
    "Masszív": {
      resistBonus: function(obj, level) {
        obj.Fizikai.base += level;
      },
      description: "+1 / +2 / +3 extra siker a karakter minden Fizikai mágiaellenállására, továbbá minden speciális, fizikai Tulajdonságon alapuló (pl. Erő) mágiaellenállásra. (Figyelembe vehető az Összetett ellenállásoknál is, ha ott a Fizikai ellenállás a mérvadó.)",
    },
    "Mágikus affinitás": {
      description: "A Mágikus képzettségcsoportra +1 / +2 / +3 Dobásmódosítót kap, ha próbára kerülne sor.",
      dmOnSkill: (skill, level) => skill.type === 'Mágikus' ? level : 0,
    },
    "Megállíthatatlan": {
      description: "Minden egyes őt érő megrendítő találat esetében 1 / 2 / 3 Cselekedettel kevesebbel veszít el.",
    },
    "Mesterfegyver": {
      description: "Fokonként +1TÉ, +1CÉ, +1VÉ és +5 láb lőtáv emelkedést jelent a saját választott egyedi fegyverének – a Fegyverhasználat szorzó alapjául szolgáló – harcértékéhez, feltéve, hogy az jellege alapján bír az adott harcértékkel. Egyetlen konkrét, saját Aura tárgynak minősülő fegyverre alkalmazható. (Elvesztését követően a pótlásra készült azonos típusú fegyver egy hónap múltán, az Aura tárggyá válását követően kerülhet az Adottság kizárólagos tárgyává.)",
    },
    "Összeszedett": {
      resistBonus: function(obj, level) {
        obj.Asztrális.base += level;
      },
      description: "+1 / +2 / +3 extra siker a karakter minden Asztrális mágiaellenállására, továbbá nem kívánt érzelmi behatásra. (Figyelembe vehető a Szellemi vagy Összetett ellenállásoknál is, ha ott az Asztrális ellenállás a mérvadó.)",
    },
    "Ősibb lélek":  {
      statModifier: function(self, level) {
        return {
          Lp: level,
        };
      },
      levelLimit: function(level) {
        return level * 5
      },
      description: "A karakter a meglévőn felül még további +1 / +2 / +3 Legendapont felett rendelkezik. (Kizárólag Kalandozó karakterek számára felvehető Adottság, legkorábban azok 5. / 10. / 15. Tapasztalati szintjén!)",
    },
    "Pszionista": {
      description: `I. A karakter az Intelligencia, Akaraterő és Asztrál hármasból a legalacsonyabb helyett a középső Tulajdonságot veheti alapul a Pszi pontjainak meghatározásakor. Továbbá ekkor ez az érintett Tulajdonsága +2-vel magasabbnak minősül.
II. A karakter a fenti három Tulajdonság közül a legmagasabbat veheti figyelembe a Pszi pontjainak meghatározásánál, illetve ekkor a fent említett Tulajdonsága +4-gyel magasabbnak minősül.
III. A karakter egy időben akár két folyamatos diszciplína alkalmazására is képes, illetve az előző fokozatnál említett Tulajdonsága +6-tal magasabbnak minősül a Pszi pontjainak meghatározásakor.`,
    },
    "Pusztító": {
      description: "+1 közelharci Sebzés fokozatonként.",
    },
    "Rejtett varázs": {
      description: `I. Varázsláskor a procedúrából elhagyható a hang vagy a mozdulat. A sikeres varázsláshoz az ilyenkor kötelező Varázspróba CÉL értéke emelkedik +3-mal és a (Mana vezető adottság utáni) Varázslási idő megduplázódik.
II. Varázsláskor a procedúrából elhagyható a hang és a mozdulat is. A varázspróba CÉL értéke +3-mal módosul. Ha mindkettőt elhagyja, a varázslási idő megduplázódik.
III. A hang és a mozdulat együttes elhagyásakor sem duplázódik meg a varázslás ideje, de a Varázspróba kapcsán a CÉL-ra vonatkozó +3 itt sem maradhat el.`,
    },
    "Segítőtárs": {
      description: "+2 / +3 / +4 Dobásmódosító mások próbájának Segítőként való támogatása közbeni saját próbadobására.",
    },
    "Sugallat": {
      description: "Fokozatnyi alkalommal lehet előérzete (segítheti egy KM figyelmeztetés) egy a karakter számára jellemzően fontos döntés kapcsán. Feltétele, hogy a játékos kérje a KM-től a sugallatot, aki azonban szabadon dönt afelől, hogy aktivizálódik-e a karakternek ezen Adottsága.",
    },
    "Szerencsés": {
      description: "Jelenetenként fokozatnyi alkalommal egy dobás elvégzése során egy adott (k10) kockának két példányát dobhatja el a játékos, és utána választhat, hogy a kettő közül melyiket tekinti valósnak. Az Adottság használatáról még a dobás megtétele előtt kell a játékosnak döntenie. (Az Adottság egy Legenda pont felhasználás miatti újradobáskor is bevethető.)",
    },
    "Szociális affinitás": {
      description: "A Szociális képzettségcsoportra +1 / +2 / +3 Dobásmódosítót kap, ha próbára kerülne sor.",
      dmOnSkill: (skill, level) => skill.type === 'Szociális' ? level : 0,
    },
    "Szívós": {
      description: "A karaktert a Leütés harci cselekmény kapcsán tett ellenpróbáira +1 / +2 / +3 Dobásmódosító illeti meg, illetve az Ép vagy Fp vesztéssel kapcsolatos eszméletvesztés számára 1 / 2 / 3 körrel később következik be.",
    },
    "Tehetség": {
      description: "Az emberi Adottságot egyetlen konkrét képzettséghez kell rendelni. A nevezett képzettséghez fejlesztésekor korlátot jelentő Tulajdonság követelmény összértéke 1 / 2 / 3 ponttal alacsonyabb. (A hatás a Neveltetéssel összevonódik, működési elvei azzal azonosak.)",
      racial: "Ember",
    },
    "Tudományos affinitás": {
      description: "A Tudományos képzettségcsoportra +1 / +2 / +3 Dobásmódosítót kap, ha próbára kerülne sor.",
      dmOnSkill: (skill, level) => skill.type === 'Tudományos' ? level : 0,
    },
    "Varázstudó": {
      description: "I. Elméje alkalmas Mp tárolására, azaz lehet varázshasználó.\nII. Az Mp alap és maximum meghatározásánál az érintett Tulajdonsága +3-mal magasabbnak minősül.\nIII. Az Mp alap és maximum meghatározásánál az érintett Tulajdonsága +6-tal magasabbnak minősül.",
    },
    "Viador": {
      description: "+0,5/fok TÉO-ra és VÉO-ra, amennyiben egyedül veszi fel a közelharci küzdelmet ellenfelével úgy, hogy harmadik fél tevőleg nem vesz részt a párharcukban.",
    },
    "Világi affinitás": {
      description: "A Világi képzettségcsoportra +1 / +2 / +3 Dobásmódosítót kap, ha próbára kerülne sor.",
      dmOnSkill: (skill, level) => skill.type === 'Világi' ? level : 0,
    },
    "Wier vér": {
      description: "I. A wier 1 Vér ponttal rendelkezik. Elérhető számára a Billogzó harapás, az Iszonytató harapás és az Izzó harapás különleges vérvarázs képességek megidézése.\nII. A wier már 3 Vér ponttal rendelkezik. Elérhető számára az Éltető harapás és a Feledtető harapása különleges vérvarázs képességek megidézése.\nIII. A wier már 5 Vér ponttal rendelkezik. Elérhető számára a Rabszolgaság harapása különleges vérvarázs képesség megidézése.",
      racial: "Wier",
    },
  },
};
</script>
