<template>
  <div>
    <b-form-row>
      <b-col cols="1">
        Név:
      </b-col>
      <b-col cols="3">
        <b-form-input :lazy="true" v-model="armorProperties.name"></b-form-input>
      </b-col>
      <b-col cols="4">
      </b-col>
      <b-col cols="4">
        <b-form-select v-model="templateSelected" v-on:change="loadArmor($event)">
          <b-form-select-option :value="null" :default="true" :disabled="true">Mire alapozzuk?</b-form-select-option>
          <b-form-select-option v-for="[key, value] in Object.entries(templateArmors)" :value="{name: key, stats: value}" v-bind:key="'template' + key">{{ key }}</b-form-select-option>
        </b-form-select>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col v-for="(head, idx) in header" :cols="head.cols" v-bind:key="'header' + idx">
        <b>{{ head.name }}</b>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col cols="1">
        <b-form-select v-model="armorProperties.SFÉ">
          <b-form-select-option v-for="i in 11" :value="i-1" v-bind:key="'sfé' + i">{{i-1}}</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="1">
        <b-form-select v-model="armorProperties.MGT">
          <b-form-select-option v-for="i in 11" :value="i-1" v-bind:key="'mgt' + i">{{i-1}}</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="10">
        <b-form-checkbox-group v-model="armorProperties.KIT" :options="kiterjedésOptions"></b-form-checkbox-group>
      </b-col>
    </b-form-row>
  </div>
</template>

<script>
export default {
  name: "ArmorCustomizer",
  props: {
    armorList: {
      required: true,
    }
  },
  components: {
  },
  data() {
    return {
      templateSelected: null,
      kiterjedésOpen: false,
      armorProperties: {
        name: '',
        SFÉ: 0,
        MGT: 0,
        KIT: [],
      },
    }
  },
  methods: {
    loadArmor({name, stats}) {
      this.armorProperties.name = name
      this.armorProperties.SFÉ = stats.SFÉ
      this.armorProperties.MGT = stats.MGT
      this.armorProperties.KIT = stats.KIT
    }
  },
  computed: {
    kiterjedésOptions() {
      return Array.from({ length: 10 }, (_, index) => ({ text: (index + 1).toString(), value: index + 1 }))
    },
    compendedArmor() {
      return {
        name: this.armorProperties.name,
        ...this.armorProperties,
      }
    },
    templateArmors() {
      return this.armorList
    },
    header() {
      return [
        {name: 'SFÉ', cols: 1},
        {name: 'MGT', cols: 1},
        {name: 'Kiterjedés', cols: 10},
      ]
    },
    compendedArmorStr() {
      return JSON.stringify(this.compendedArmor)
    },
  },
  watch: {
    compendedArmorStr(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.$emit('customArmorChanged', JSON.parse(newValue))
      }
    },
  },
  created() {
  },
}
</script>

<style scoped>
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: 0.25s ease all;
}
</style>