<template>
  <div class="armourSet">
    <b-container>
      <label>Összesítés:</label>
      <b-row class="text-nowrap">
        <b-col>
          <label>SFÉ: {{ fullKitText }}</label>
        </b-col>
      </b-row>
      <b-row class="text-nowrap">
        <b-col>
          <label>MGT: {{ allMgt }} ({{ mitigatedMgt }} maradék)</label>
        </b-col>
      </b-row>
      <b-row class="text-nowrap">
        <b-col>
          <label>HMO: -{{ mitigatedMgt * 5 / 10 }}</label>
        </b-col>
        <b-col>
          <b-button v-on:click="detailsOpened = !detailsOpened;"><span v-if="detailsOpened">/\</span><span v-if="!detailsOpened">\/</span></b-button>
        </b-col>
      </b-row>
      <b-form-row v-if="editorMode">
        <b-col cols="12">
          <b-collapse v-model="detailsOpened" id="armourSetCollapse">
            <b-form-row v-for="(armour, index) in pickedPieces" v-bind:key="armour" class="pt-1 pb-1 border-bottom text-nowrap">
              <b-col md="auto">
                <b-form-select v-model="pickedPieces[index]" :options="availableArmours.map(armour => armour.value)">
                </b-form-select>
              </b-col>
              <b-col md="auto">
                SFÉ: {{ armourKitTexts[armour] }}
              </b-col>
              <b-col md="auto">
                MGT: {{ combinedArmorStats[armour].MGT }}
              </b-col>
              <b-col md="auto">
                <b-button variant="outline-secondary" v-on:click="$delete(pickedPieces, index)">X</b-button>
              </b-col>
            </b-form-row>
            <b-form-row class="pt-1">
              <b-col></b-col>
              <b-col class="text-center">
                <b-form-select v-model="defaultSelectBinding" v-on:change="armourSelected($event)" :options="availableArmours">
                  <option :value="null" :disabled="true" :selected="true">Válassz páncélt!</option>
                </b-form-select>
              </b-col>
              <b-col></b-col>
            </b-form-row>
            <b-form-row class="mt-2">
              <b-col cols="3"></b-col>
              <b-col cols="6">
                <b-button @click="$refs['modalArmorCustomizer'].show()" variant="secondary">Páncélkészítő mutatása</b-button>
                <b-modal size="xl" id="modal-armorCustomizer" ref="modalArmorCustomizer" title="Egyedi páncél létrehozása" centered
                          header-bg-variant="secondary"
                          headerTextVariant="light"
                          bodyTextVariant="dark"
                    >
                  <ArmorCustomizer @customArmorChanged="onCustomArmorChanged" :armorList="combinedArmorStats" />
                  <template v-slot:modal-footer>
                    <b-button @click="removeCustomArmor()"
                            :disabled="!Object.keys(customArmors).includes(currentlyEditedCustomArmor.name)"
                            :variant="pickedPieces.includes(currentlyEditedCustomArmor.name) ? 'warning' : 'secondary'"
                            v-b-tooltip.hover :title="pickedPieces.includes(currentlyEditedCustomArmor.name) ? 'Használod ezt a páncélt' : ''">
                            Eltávolítás</b-button>
                    <b-button @click="closeArmorCustomizer(false)" variant="secondary">Mégse</b-button>
                    <b-button :disabled="Object.keys(armorStats).includes(currentlyEditedCustomArmor.name)"
                      type="submit"
                      @click="closeArmorCustomizer(true)"
                      variant="secondary">{{Object.keys(customArmors).includes(currentlyEditedCustomArmor.name) ? 'Módosítás' : 'Létrehozás'}}</b-button>
                  </template>
                </b-modal>
              </b-col>
              <b-col cols="3"></b-col>
            </b-form-row>
          </b-collapse>
        </b-col>
      </b-form-row>
      <b-form-row v-if="!editorMode && detailsOpened">
        <b-table :fields="fields" :items="pickedArmors" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" small table-class="w-auto" stacked="xl" class="text-center">
          <template #table-colgroup="scope">
            <col v-for="field in scope.fields" :key="field.key" :class="field.key === 'ARMOR' ? '' : 'border-left'" >
          </template>
        </b-table>
      </b-form-row>
    </b-container>
  </div>
</template>

<script>
import Armours from './armourCompendium';
import ArmorCustomizer from '../components/ArmorCustomizer'

const kitArrayToText = (defense, bonus, merge) => {
  let result = [];
  let curr = -1;
  for (const [kit, def] of defense.entries()) {
    if (def !== curr) {
      result.push([def, [kit + 1]]);
      curr = def;
    } else {
      result[result.length - 1][1].push(kit + 1)
    }
  }
  result = result.filter(def => def[0] !== 0);
  if (result.length === 0) {
    return '0 (1-10)';
  }
  return result
    .map(def => `${merge ? def[0] + Math.min(bonus, def[0]) : `${def[0]}${bonus > 0 ? ` + ${Math.min(bonus, def[0])}` : ''}`} (${def[1][0]}` + `${def[1].length !== 1 ? '-' + def[1][def[1].length - 1] : ''})`)
    .join(', ');
}

export default {
  name: 'ArmourSet',
  props: {
    skills: {
      required: true,
    },
    loadedSettings: {
      required: true,
    },
    editorMode: true,
    darkTheme: null,
    customArmors: {
      required: true,
    }
  },
  components: {
    ArmorCustomizer,
  },
  watch: {
    setCode: function () {
      this.$emit("setChanged", this.setCode);
    },
    loadedSettings: function () {
      if (this.loadedSettings) {
        this.detailsOpened = this.loadedSettings.details;
        this.pickedPieces = this.loadedSettings.pieces;
      } else {
        this.pickedPieces = [];
      }
      this.saveDetails();
    },
  },
  data() {
    return {
      defaultSelectBinding: null,
      detailsOpened: true,
      pickedPieces: [],
      fields: [
        {key: 'ARMOR', label: 'Vért', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'SFE', label: 'SFÉ', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'MGT', label: 'MGT', tdClass: 'text-nowrap', thClass: 'text-center'},
      ],
      pickedPiecesWithDetails: [],
      currentlyEditedCustomArmor: {},
    }
  },
  computed: {
    combinedArmorStats() {
      return {...this.customArmors, ...this.armorStats}
    },
    setCode() {
      return JSON.stringify({
        details: this.detailsOpened,
        pieces: this.pickedPieces,
        pickedPiecesWithDetails: this.pickedPiecesWithDetails
      });
    },
    armorStats() {
      return Armours;
    },
    availableArmours() {
      return Object.keys(this.combinedArmorStats).map(armour => {
        return {
          text: `${armour} (SFÉ: ${this.armourKitTexts[armour]}, MGT: ${this.combinedArmorStats[armour].MGT})`,
          value: armour,
          disabled: this.pickedPieces.includes(armour),
        };
      });
    },
    armourKitTexts() {
      let result = {};
      for (const [name, armour] of Object.entries(this.combinedArmorStats)) {
        let defense = Array(10).fill(0);
        for (const kit of armour.KIT) {
          defense[kit - 1] = armour.SFÉ;
        }
        result[name] = kitArrayToText(defense, this.bonusSfe, !this.editorMode);
      }
      return result;
    },
    fullKitText() {
      let fullDefense = Array(10).fill(0);
      for (const name of this.pickedPieces) {
        const armour = this.combinedArmorStats[name];
        for (const kit of armour.KIT) {
          fullDefense[kit - 1] = Math.max(armour.SFÉ, fullDefense[kit - 1]);
        }
      }
      return kitArrayToText(fullDefense, this.bonusSfe, !this.editorMode);
    },
    allMgt() {
      return this.pickedPieces.map(armour => this.combinedArmorStats[armour].MGT).reduce((partial, a) => partial + a, 0);
    },
    mitigatedMgt() {
      return Math.max(this.allMgt - this.mgtMitigation, 0);
    },
    mgtMitigation() {
      const mitigation = this.skills.filter(skill => skill.name === "Vértviselet");
      if (mitigation.length === 0) {
        return 0;
      }
      switch (mitigation[0].level) {
        case 0:
          return 0;
        case 1:
          return 2;
        case 2:
          return 4;
        case 3:
          return 6;
        case 4:
          return 9;
        case 5:
          return 12;
        default:
          throw(-1);
      }
    },
    bonusSfe() {
      const mitigation = this.skills.filter(skill => skill.name === "Vértviselet");
      if (mitigation.length === 0) {
        return 0;
      }
      return mitigation[0].level;
    },
    pickedArmors() {
      const items = [];
      this.pickedPieces.forEach((value, key) => {
        const mapped = {
          ARMOR: value,
          SFE: this.armourKitTexts[value],
          MGT: this.combinedArmorStats[value].MGT
        };
        items.push(mapped)
      });

      return items;
    }
  },
  methods: {
    removeCustomArmor() {
      this.pickedPieces = this.pickedPieces.filter(armor => armor !== this.currentlyEditedCustomArmor.name)
      this.$emit('removeCustomArmor', this.currentlyEditedCustomArmor.name)
      this.closeArmorCustomizer(false)
    },
    closeArmorCustomizer(save) {
      this.$refs['modalArmorCustomizer'].hide()
      if (save) {
        this.$emit('saveCustomArmor', this.currentlyEditedCustomArmor)
      }
      this.currentlyEditedCustomArmor = {}
    },
    onCustomArmorChanged(armor) {
      this.currentlyEditedCustomArmor = armor
    },
    armourSelected(event) {
      this.pickedPieces.push(event);
      this.defaultSelectBinding = null;
      this.saveDetails()
    },
    saveDetails(){
      const items = [];
      this.pickedPieces.forEach(value => {
        const armour = this.combinedArmorStats[value];
        const mapped = {
          NAME: value,
          SFE: armour.SFÉ,
          KIT: armour.KIT,
          MGT: this.combinedArmorStats[value].MGT
        }
        items.push(mapped)
      });
      this.pickedPiecesWithDetails = items;
    }
  },
  created: function () {
    if (this.loadedSettings) {
      this.detailsOpened = this.loadedSettings.details;
      this.pickedPieces = [...this.loadedSettings.pieces];
    }
  },
};
</script>
