<template>
</template>

<script>
export default {
  origins: {
    alidari: {
      advantage: {
        attribute: 'Kar',
        skillGroup: 'Szociális',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Harci',
      },
    },
    amazon: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Tudományos',
      },
    },
    aszisz: {
      advantage: {
        attribute: 'Áll',
        skillGroup: 'Alvilági',
      },
      disadvantage: {
        attribute: 'Aka',
        skillGroup: 'Világi',
      },
    },
    dorani: {
      advantage: {
        attribute: 'Int',
        skillGroup: 'Mágikus',
      },
      disadvantage: {
        attribute: 'Egé',
        skillGroup: 'Harci',
      },
    },
    dwoon: {
      advantage: {
        attribute: 'Aka',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Int',
        skillGroup: 'Alvilági',
      },
    },
    "dzsad (törzsi)": {
      advantage: {
        attribute: 'Áll',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Kar',
        skillGroup: 'Tudományos',
      },
    },
    "dzsad (városi)": {
      advantage: {
        attribute: 'Érz',
        skillGroup: 'Szociális',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Mágikus',
      },
    },
    edorli: {
      advantage: {
        attribute: 'Asz',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Gyo',
        skillGroup: 'Alvilági',
      },
    },
    elfendeli: {
      advantage: {
        attribute: 'Érz',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Áll',
        skillGroup: 'Szociális',
      },
    },
    enoszukei: {
      advantage: {
        attribute: 'Gyo',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Aka',
        skillGroup: 'Tudományos',
      },
    },
    enysmoni: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Int',
        skillGroup: 'Tudományos',
      },
    },
    ereni: {
      advantage: {
        attribute: 'Gyo',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Tudományos',
      },
    },
    erigowi: {
      advantage: {
        attribute: 'Kar',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Ügy',
        skillGroup: 'Alvilági',
      },
    },
    erioni: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Szociális',
      },
      disadvantage: {
        attribute: 'Egé',
        skillGroup: 'Világi',
      },
    },
    felföldi: {
      advantage: {
        attribute: 'Érz',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Kar',
        skillGroup: 'Szociális',
      },
    },
    gianagi: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Alvilági',
      },
      disadvantage: {
        attribute: 'Érz',
        skillGroup: 'Tudományos',
      },
    },
    gorviki: {
      advantage: {
        attribute: 'Gyo',
        skillGroup: 'Alvilági',
      },
      disadvantage: {
        attribute: 'Asz',
        skillGroup: 'Világi',
      },
    },
    haonwelli: {
      advantage: {
        attribute: 'Asz',
        skillGroup: 'Szociális',
      },
      disadvantage: {
        attribute: 'Aka',
        skillGroup: 'Harci',
      },
    },
    hatvárosi: {
      advantage: {
        attribute: 'Int',
        skillGroup: 'Szociális',
      },
      disadvantage: {
        attribute: 'Áll',
        skillGroup: 'Harci',
      },
    },
    ilanori: {
      advantage: {
        attribute: 'Érz',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Int',
        skillGroup: 'Szociális',
      },
    },
    kahrei: {
      advantage: {
        attribute: 'Int',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Gyo',
        skillGroup: 'Harci',
      },
    },
    khál: {
      racialRestriction: 'Khál',
      advantage: {
        attribute: 'Érz',
      },
      disadvantage: {
        attribute: 'Asz',
      },
    },
    korg: {
      advantage: {
        attribute: 'Erő',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Asz',
        skillGroup: 'Szociális',
      },
    },
    kráni: {
      advantage: {
        attribute: 'Aka',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Szociális',
      },
    },
    niarei: {
      advantage: {
        attribute: 'Asz',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Kar',
        skillGroup: 'Harci',
      },
    },
    nomád: {
      advantage: {
        attribute: 'Egé',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Gyo',
        skillGroup: 'Tudományos',
      },
    },
    ordani: {
      advantage: {
        attribute: 'Áll',
        skillGroup: 'Mágikus',
      },
      disadvantage: {
        attribute: 'Érz',
        skillGroup: 'Alvilági',
      },
    },
    predoci: {
      advantage: {
        attribute: 'Egé',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Aka',
        skillGroup: 'Mágikus',
      },
    },
    pyarroni: {
      advantage: {
        attribute: 'Kar',
        skillGroup: 'Mágikus',
      },
      disadvantage: {
        attribute: 'Áll',
        skillGroup: 'Alvilági',
      },
    },
    sempyeri: {
      advantage: {
        attribute: 'Egé',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Asz',
        skillGroup: 'Alvilági',
      },
    },
    shadoni: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Mágikus',
      },
      disadvantage: {
        attribute: 'Áll',
        skillGroup: 'Tudományos',
      },
    },
    sirenari: {
      advantage: {
        attribute: 'Int',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Erő',
        skillGroup: 'Világi',
      },
    },
    syburri: {
      advantage: {
        attribute: 'Asz',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Érz',
        skillGroup: 'Mágikus',
      },
    },
    tarini: {
      advantage: {
        attribute: 'Aka',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Kar',
        skillGroup: 'Mágikus',
      },
    },
    tiadlani: {
      advantage: {
        attribute: 'Ügy',
        skillGroup: 'Tudományos',
      },
      disadvantage: {
        attribute: 'Kar',
        skillGroup: 'Mágikus',
      },
    },
    toroni: {
      advantage: {
        attribute: 'Érz',
        skillGroup: 'Mágikus',
      },
      disadvantage: {
        attribute: 'Ügy',
        skillGroup: 'Világi',
      },
    },
    viadomoi: {
      advantage: {
        attribute: 'Kar',
        skillGroup: 'Harci',
      },
      disadvantage: {
        attribute: 'Int',
        skillGroup: 'Alvilági',
      },
    },
    yllinori: {
      advantage: {
        attribute: 'Áll',
        skillGroup: 'Világi',
      },
      disadvantage: {
        attribute: 'Asz',
        skillGroup: 'Tudományos',
      },
    },
  },
  upbringings: {
    csavargó: {
      advantage: "Alvilági",
      disadvantage: "Szociális",
    },
    egyházi: {
      advantage: "Mágikus",
      disadvantage: "Alvilági",
    },
    jobbágy: {
      advantage: "Világi",
      disadvantage: "Tudományos",
    },
    katona: {
      advantage: "Harci",
      disadvantage: "Alvilági",
    },
    kereskedő: {
      advantage: "Szociális",
      disadvantage: "Tudományos",
    },
    közrendű: {
      advantage: "Világi",
      disadvantage: "Alvilági",
    },
    mesterember: {
      advantage: "Tudományos",
      disadvantage: "Harci",
    },
    misztikus: {
      advantage: "Mágikus",
      disadvantage: "Világi",
    },
    művész: {
      advantage: "Szociális",
      disadvantage: "Alvilági",
    },
    nemes: {
      advantage: "Szociális",
      disadvantage: "Világi",
    },
    polgár: {
      advantage: "Világi",
      disadvantage: "Harci",
    },
    rabszolga: {
      advantage: "Harci",
      disadvantage: "Szociális",
    },
    szolga: {
      advantage: "Szociális",
      disadvantage: "Harci",
    },
    tudósfő: {
      advantage: "Tudományos",
      disadvantage: "Világi",
    },
    uralkodó: {
      advantage: "Tudományos",
      disadvantage: "Alvilági",
    },
    vadonbéli: {
      racialRestriction: 'Khál',
      advantage: "Világi",
      disadvantage: "Szociális",
    },
  },
};
</script>
