<template>
</template>

<script>
export default {
  characteristics: [
    "barátságos",
    "alattomos",
    "akaratos",
    "bizonytalan",
    "befolyásolható",
    "álnok",
    "alapos",
    "félénk",
    "békés",
    "bizalmatlan",
    "alázatos",
    "forrófejű",
    "bizakodó",
    "durva",
    "bátor",
    "gyáva",
    "buja",
    "erőszakos",
    "becsületes",
    "hazug",
    "együttérző",
    "érzéketlen",
    "bosszúálló",
    "hűtlen",
    "élvhajhász",
    "fatalista",
    "bölcs",
    "ironikus",
    "gondoskodó",
    "gonosz",
    "céltudatos",
    "kárörvendő",
    "gyöngéd",
    "goromba",
    "egyenes",
    "képmutató",
    "hősies",
    "gúnyos",
    "fanatikus",
    "kétszínű",
    "irgalmas",
    "haragvó",
    "fegyelmezett",
    "kiszámíthatatlan",
    "jámbor",
    "hideg",
    "figyelmes",
    "kíváncsi",
    "jóságos",
    "hidegvérű",
    "gondos",
    "különc",
    "karizmatikus",
    "kapzsi",
    "gyakorlatias",
    "lázadó",
    "könyörületes",
    "kegyetlen",
    "határozott",
    "lobbanékony",
    "léha",
    "kiégett",
    "hűséges",
    "megbízhatatlan",
    "lelkiismeretes",
    "kíméletlen",
    "igazságos",
    "megfontolatlan",
    "lusta",
    "könyörtelen",
    "kitartó",
    "nemtörődöm",
    "megnyerő",
    "manipulatív",
    "komor",
    "nyugtalan",
    "melegszívű",
    "mogorva",
    "lovagias",
    "önfejű",
    "nagylelkű",
    "önhitt",
    "makacs",
    "ravasz",
    "naiv",
    "öntelt",
    "megbízható",
    "szellemes",
    "óvatos",
    "önző",
    "megfontolt",
    "szemtelen",
    "önfeláldozó",
    "őrült",
    "nyugodt",
    "szenvedélyes",
    "önzetlen",
    "perverz",
    "őszinte",
    "szertelen",
    "segítőkész",
    "szadista",
    "rendszerető",
    "szétszórt",
    "szerény",
    "szívtelen",
    "tisztelettudó",
    "szórakozott",
    "toleráns",
    "szkeptikus",
    "türelmes",
    "tiszteletlen",
    "védelmező",
    "törtető",
    "udvarias",
    "tréfás",
    "vidám",
    "vérszomjas",
    "zsugori",
    "vakmerő",
  ]
}
</script>
