<template>
</template>

<script>
export default {
  classes: {
    Harcos: {
      baselineAttributes: {
        Erő: 1,
        Gyo: 0,
        Ügy: 2,
        Áll: 1,
        Egé: 0,
        Kar: -1,
        Int: -1,
        Aka: 0,
        Asz: -2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 2,
        Fp: 2,
        Kp: 2,
      },
      aptitudes: ["Harci affinitás", "Megállíthatatlan", "Szívós", "Világi affinitás",],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
     {
        name: "Fegyverhasználat",
        level: 3,
      },
     {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci fogás",
        level: 1,
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 3,
      },
      {
        name: "Hárítás",
        level: 1,
      },
      {
        name: "Közös harcmodor",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Mászás",
        level: 2,
      },
      {
        name: "Túlélés",
        level: 1,
      },
      {
        name: "Ugrás/esés",
        level: 2,
      },
      {
        name: "Úszás",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      ],
    },
    Gladiátor: {
      baselineAttributes: {
        Erő: 2,
        Gyo: 0,
        Ügy: 1,
        Áll: 1,
        Egé: 0,
        Kar: 0,
        Int: -2,
        Aka: -1,
        Asz: -1,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 2,
        VÉ: 1,
        Fp: 2,
        Kp: 2,
      },
      aptitudes: ["Arénaharc", "Ellenálló", "Viador", "Elpusztíthatatlan",],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci fogás",
        level: 2,
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Kétkezes harc",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Megfélemlítés",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Mászás",
        level: 2,
      },
      {
        name: "Ugrás/esés",
        level: 3,
      },
      {
        name: "Éberség",
        level: 2,
      },
      ],
    },
    Fejvadász: {
      baselineAttributes: {
        Erő: -1,
        Gyo: 2,
        Ügy: 1,
        Áll: 0,
        Egé: -1,
        Kar: -2,
        Int: 0,
        Aka: 0,
        Asz: 0,
        Érz: 1,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        KÉ: 1,
        Fp: 1,
        Kp: 5,
      },
      aptitudes: ["Fürge", "Pusztító", "Extra reakció", "Alvilági affinitás",],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "RP",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 1,
      },
      {
        name: "Pszi",
        level: 1,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 1,
      },
      {
        name: "Mászás",
        level: 2,
      },
      {
        name: "Nyomolvasás/eltüntetés",
        level: 2,
      },
      {
        name: "Ugrás/esés",
        level: 1,
      },
      {
        name: "Úszás",
        level: 1,
      },
      {
        name: "Álcázás/álruha",
        level: 2,
      },
      {
        name: "Éberség",
        level: 3,
      },
      {
        name: "Keresés/elrejtés",
        level: 1,
      },
      {
        name: "Lopódzás",
        level: 2,
      },
      {
        name: "Orvtámadás",
        level: 2,
      },
      {
        name: "Rejtőzködés",
        level: 2,
      },
      ],
    },
    Lovag: {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 1,
        Áll: 1,
        Egé: 0,
        Kar: 0,
        Int: 0,
        Aka: 0,
        Asz: -1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 2,
        Fp: 1,
        Kp: 6,
      },
      aptitudes: ["Viador", "Életerős", "Harci affinitás", "Szociális affinitás",],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "HP",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 3,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 1,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Művészet",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 3,
      },
      {
        name: "Szakma",
        level: 1,
        subSkill: "Hadvezetés",
      },
      {
        name: "Ugrás/esés",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      ],
    },
    Tolvaj: {
      baselineAttributes: {
        Erő: -2,
        Gyo: 1,
        Ügy: 2,
        Áll: -1,
        Egé: -1,
        Kar: 0,
        Int: 0,
        Aka: 0,
        Asz: 0,
        Érz: 1,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        KÉ: 1,
        Fp: 1,
        Kp: 7,
      },
      aptitudes: ["Alvilági affinitás", "Extra reakció", "Szerencsés", "Fürge",],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci fogás",
        level: 1,
      },
      {
        name: "Megtévesztés",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 2,
      },
      {
        name: "Hangutánzás",
        level: 1,
      },
      {
        name: "Mászás",
        level: 3,
      },
      {
        name: "Ugrás/esés",
        level: 2,
      },
      {
        name: "Álcázás/álruha",
        level: 2,
      },
      {
        name: "Éberség",
        level: 3,
      },
      {
        name: "Keresés/elrejtés",
        level: 2,
      },
      {
        name: "Leszerelés/feltörés",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 2,
      },
      {
        name: "Orvtámadás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 2,
      },
      {
        name: "Trükk",
        level: 2,
      },
      ],
    },
    Bárd: {
      baselineAttributes: {
        Erő: -1,
        Gyo: 0,
        Ügy: 1,
        Áll: -2,
        Egé: -1,
        Kar: 2,
        Int: 1,
        Aka: 0,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 1,
      },
      aptitudes: ["Csábító", "Szerencsés", "Szociális affinitás", "Varázstudó"],
      langCount: 3,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Legenda",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Írás/olvasás",
        level: 1,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Megtévesztés",
        level: 2,
      },
      {
        name: "Művészet",
        level: 2,
        subSkill: "Zene",
      },
      {
        name: "Művészet",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 1,
      },
      {
        name: "Hangutánzás",
        level: 1,
      },
      {
        name: "Lovaglás",
        level: 1,
      },
      {
        name: "Mászás",
        level: 1,
      },
      {
        name: "Ugrás/esés",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Keresés/elrejtés",
        level: 1,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Trükk",
        level: 1,
      },
      {
        name: "Bárdmágia",
        level: 2,
      },
      {
        name: "Bárd mágiaforma",
        level: 2,
      },
      {
        name: "Bárd mágiaforma",
        level: 1,
      },
      {
        name: "Bárd mágiaforma",
        level: 1,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      ],
    },
    "Adron pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 0,
        Int: 1,
        Aka: 1,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 3,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Mana érzék"],
      langCount: 3,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Adron",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Misztikum",
      },
      {
        name: "Ősi nyelv",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Magas Mágia",
        level: 2,
      },
      ],
    },
    "Alborne pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 0,
        Aka: 1,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Világi affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Alborne",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Legenda",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Művészet",
        level: 3,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Antoh pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: 2,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: -1,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Szívós"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Antoh",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Mászás",
        level: 1,
      },
      {
        name: "Úszás",
        level: 2,
      },
      {
        name: "Szakma",
        level: 3,
        subSkill: "Hajózás",
      },
      ],
    },
    "Arel pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 2,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 1,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Harci láz"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Arel",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci fogás",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Túlélés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Darton pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Elpusztíthatatlan"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Darton",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Nekromancia",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Méregkeverés/semlegesítés",
        level: 1,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Megfélemlítés",
        level: 1,
      },
      {
        name: "Művészet",
        level: 1,
        subSkill: "Ének",
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Della pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Sugallat"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Della",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Művészet",
        level: 3,
      },
      {
        name: "Művészet",
        level: 2,
      },
      {
        name: "Művészet",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 1,
      },
      ],
    },
    "Dreina pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Összeszedett"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Dreina",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 2,
      },
      {
        name: "Szakma",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Ellana pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Csábító"],
      langCount: 3,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Ellana",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Etikett",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Megtévesztés",
        level: 1,
      },
      {
        name: "Művészet",
        level: 2,
      },
      {
        name: "Művészet",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Gilron pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 0,
        Int: 1,
        Aka: 1,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Segítőtárs"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Gilron",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Értékbecslés",
        level: 2,
      },
      {
        name: "Szakma",
        level: 3,
      },
      {
        name: "Leszerelés/feltörés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Krad pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Tudományos affinitás"],
      langCount: 4,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Krad",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Legenda",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Ősi nyelv",
        level: 1,
      },
      {
        name: "Kultúra",
        level: 2,
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Keresés/elrejtés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Noir pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Szerencsés"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Noir",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Antissjárás",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Belső síkok",
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Értékbecslés",
        level: 1,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Orwella pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 2,
        Int: 1,
        Aka: 0,
        Asz: 1,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Ijesztő"],
      langCount: 3,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Orwella",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Etikett",
        level: 1,
      },
      {
        name: "Megtévesztés",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 2,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Morgena pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Alvilági affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Morgena",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Antissjárás",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Belső síkok",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Sogron pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Megállíthatatlan"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Sogron",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci ösztön",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 1,
      },
      {
        name: "Vértviselet",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Tharr pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Ijesztő"],
      langCount: 3,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Tharr",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Legenda",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Ősi nyelv",
        level: 1,
      },
      {
        name: "Etikett",
        level: 1,
      },
      {
        name: "Megfélemlítés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Doldzsah pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 2,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Harci affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Doldzsah",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "HP",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 1,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Dzsah pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Szociális affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Dzsah",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Etikett",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 2,
      },
      {
        name: "Szakma",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Galradzsa pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: -1,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Világi affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Galradzsa",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Szakma",
        level: 1,
      },
      {
        name: "Túlélés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Domvik pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Összeszedett"],
      langCount: 2,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Domvik",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Sebgyógyítás",
        level: 2,
      },
      {
        name: "Művészet",
        level: 1,
        subSkill: "Ének",
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Ranil pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 1,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 0,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Megállíthatatlan",],
      langCount: 2,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Ranil",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Lovaglás",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Ranagol pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Összeszedett"],
      langCount: 2,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Ranagol",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Megfélemlítés",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Megtévesztés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Kadal pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
       freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Tudományos affinitás"],
      langCount: 2,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Kadal",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Értékbecslés",
        level: 1,
      },
      {
        name: "Szakma",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      ],
    },
    "Tooma pap": {
      baselineAttributes: {
        Erő: -1,
        Gyo: -2,
        Ügy: 1,
        Áll: -1,
        Egé: 0,
        Kar: 0,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 6,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Harci affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Tooma",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Narmiraen pap": {
      baselineAttributes: {
        Erő: -2,
        Gyo: 0,
        Ügy: 0,
        Áll: -1,
        Egé: -1,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        CÉ: 1,
        Fp: 1,
        Kp: 2,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Összeszedett"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Narmiraen",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Célzás",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Herbalizmus",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Túlélés",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Tyssa L'imenel pap": {
      baselineAttributes: {
        Erő: -2,
        Gyo: 0,
        Ügy: 0,
        Áll: -1,
        Egé: -1,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        CÉ: 1,
        Fp: 1,
        Kp: 2,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Szívós"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Tyssa L'imenel",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Túlélés",
        level: 2,
      },
      {
        name: "Orvtámadás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Verrion H'Anthall pap": {
      baselineAttributes: {
        Erő: -2,
        Gyo: 0,
        Ügy: 0,
        Áll: -1,
        Egé: -1,
        Kar: 1,
        Int: 1,
        Aka: 0,
        Asz: 2,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        CÉ: 1,
        Fp: 1,
        Kp: 2,
        Mp: 2,
      },
      aptitudes: ["Lélekerő", "Szociális affinitás", "Varázstudó", "Harci affinitás"],
      langCount: 1,
      skills: [{
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 3,
        subSkill: "Vallás",
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 3,
        subSkill: "Verrion H'Anthall",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Nagyobb fohászok",
        level: 2,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Túlélés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Darton paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Elpusztíthatatlan"],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Darton",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
      {
        name: "Harci fogás",
        level: 1,
      },
      {
        name: "Harci ösztön",
        level: 1,
      },
      {
        name: "Közös harcmodor",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Nekromancia",
      },
      {
        name: "Kultúra",
        level: 1,
      },
      {
        name: "Ugrás/esés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Dreina paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Összeszedett"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Dreina",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Közös harcmodor",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Meggyőzés",
        level: 1,
      },
      {
        name: "Értékbecslés",
        level: 1,
      },
      {
        name: "Szakma",
        level: 2,
        subSkill: "Hadvezetés",
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Krad paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Tudományos affinitás"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Krad",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Legenda",
      },
      {
        name: "Kultúra",
        level: 2,
      },
      {
        name: "Nyomolvasás/eltüntetés",
        level: 1,
      },
      {
        name: "Túlélés",
        level: 1,
      },
      {
        name: "Úszás",
        level: 1,
      },
      {
        name: "Keresés/elrejtés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Kyel paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Sugallat"],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 3,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Kyel",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 1,
      },
      {
        name: "Nagyobb fohászok",
        level: 1,
      },
      ],
    },
    "Orwella paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Ijesztő"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Orwella",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Megfélemlítés",
        level: 2,
      },
      {
        name: "Megtévesztés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Uwel paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Pusztító"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Uwel",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Kultúra",
        level: 2,
      },
      {
        name: "Nyomolvasás/eltüntetés",
        level: 1,
      },
      {
        name: "Keresés/elrejtés",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Sogron paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Megállíthatatlan"],
      langCount: 3,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Sogron",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Közös harcmodor",
        level: 2,
      },
      {
        name: "Futás",
        level: 1,
      },
      {
        name: "Szakma",
        level: 1,
        subSkill: "Hajózás",
      },
      {
        name: "Úszás",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 1,
      },
      ],
    },
    "Domvik paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Összeszedett"],
      langCount: 3,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Domvik",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Közös harcmodor",
        level: 2,
      },
      {
        name: "Sebgyógyítás",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      ],
    },
    "Ranil paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 1,
        Int: -1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Megállíthatatlan",],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Ranil",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Közös harcmodor",
        level: 1,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      ],
    },
    "Ranagol paplovag": {
      baselineAttributes: {
        Erő: 2,
        Gyo: -1,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: -1,
        Int: 1,
        Aka: 0,
        Asz: 1,
        Érz: -2,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 2,
        VÉ: 2,
        Fp: 1,
        Kp: 4,
        Mp: 1,
      },
      aptitudes: ["Életerős", "Harci affinitás", "Varázstudó", "Összeszedett"],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Heraldika",
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 1,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Szakrális mágia",
        level: 2,
        subSkill: "Ranagol",
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      {
        name: "Hárítás",
        level: 2,
      },
      {
        name: "Megfélemlítés",
        level: 1,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Kisebb fohászok",
        level: 2,
      },
      ],
    },
    Harcművész: {
      baselineAttributes: {
        Erő: 0,
        Gyo: 1,
        Ügy: 2,
        Áll: 0,
        Egé: -1,
        Kar: -2,
        Int: -1,
        Aka: 1,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 4,
        Pp: 2,
      },
      aptitudes: ["Fürge", "Harcművész", "Pszionista", "Intuitív",],
      langCount: 2,
      skills: [
      {
        name: "Fegyverhasználat",
        level: 3,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 3,
      },
      {
        name: "Kétkezes harc",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Slan",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 3,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Mászás",
        level: 2,
      },
      {
        name: "Ugrás/esés",
        level: 3,
      },
      {
        name: "Úszás",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      ],
    },
    Kardművész: {
      baselineAttributes: {
        Erő: 0,
        Gyo: 2,
        Ügy: 1,
        Áll: 0,
        Egé: -1,
        Kar: -2,
        Int: -1,
        Aka: 1,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        Fp: 2,
        Kp: 2,
        Pp: 1,
      },
      aptitudes: ["Elmélyült", "Harci affinitás", "Mesterfegyver", "Viador",],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 3,
        subSkill: "Kardművész",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
        subSkill: "HP",
      },
      {
        name: "Harci ösztön",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Vértviselet",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Történelem",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Slan",
        level: 2,
      },
      {
        name: "Etikett",
        level: 2,
      },
      {
        name: "Művészet",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Futás",
        level: 2,
      },
      {
        name: "Lovaglás",
        level: 2,
      },
      {
        name: "Ugrás/esés",
        level: 2,
      },
      {
        name: "Úszás",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      ],
    },
    "Boszorkány": {
      baselineAttributes: {
        Erő: -2,
        Gyo: -1,
        Ügy: 0,
        Áll: -1,
        Egé: 0,
        Kar: 2,
        Int: 0,
        Aka: 1,
        Asz: 1,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        Fp: 1,
        Kp: 4,
        Pp: 1,
        Mp: 3,
      },
      aptitudes: ["Csábító", "Rejtett varázs", "Szociális affinitás", "Varázstudó"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Herbalizmus",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Méregkeverés/semlegesítés",
        level: 1,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Etikett",
        level: 1,
      },
      {
        name: "Lélektan",
        level: 2,
      },
      {
        name: "Meggyőzés",
        level: 2,
      },
      {
        name: "Megtévesztés",
        level: 2,
      },
      {
        name: "Művészet",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Szakma",
        level: 2,
      },
      {
        name: "Álcázás/álruha",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Boszorkánymágia",
        level: 3,
      },
      {
        name: "Boszorkány mágiaforma",
        level: 2,
      },
      {
        name: "Boszorkány mágiaforma",
        level: 2,
      },
      {
        name: "Boszorkány mágiaforma",
        level: 1,
      },
      {
        name: "Boszorkány mágiaforma",
        level: 1,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      ],
    },
    "Boszorkánymester": {
      baselineAttributes: {
        Erő: -2,
        Gyo: -1,
        Ügy: 0,
        Áll: -1,
        Egé: 1,
        Kar: 0,
        Int: 1,
        Aka: 2,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 4,
        Pp: 1,
        Mp: 2,
      },
      aptitudes: ["Ellenálló", "Ijesztő", "Mana uraló", "Varázstudó"],
      langCount: 1,
      skills: [{
        name: "Fegyverhasználat",
        level: 1,
      },
      {
        name: "Alkímia",
        level: 2,
      },
      {
        name: "Ismeret",
        level: 1,
        subSkill: "Herbalizmus",
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Misztikum",
      },
      {
        name: "Ismeret",
        level: 2,
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Méregkeverés/semlegesítés",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Sebgyógyítás",
        level: 1,
      },
      {
        name: "Megfélemlítés",
        level: 1,
      },
      {
        name: "Megtévesztés",
        level: 1,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Álcázás/álruha",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Lopódzás",
        level: 1,
      },
      {
        name: "Orvtámadás",
        level: 1,
      },
      {
        name: "Rejtőzködés",
        level: 1,
      },
      {
        name: "Boszorkánymesteri mágia",
        level: 3,
      },
      {
        name: "Boszorkánymester mágiaforma",
        level: 2,
      },
      {
        name: "Boszorkánymester mágiaforma",
        level: 2,
      },
      {
        name: "Boszorkánymester mágiaforma",
        level: 1,
      },
      {
        name: "Boszorkánymester mágiaforma",
        level: 1,
      },
      {
        name: "Tárgymágia",
        level: 1,
      },
      ],
    },
    "Tűzvarázsló": {
      baselineAttributes: {
        Erő: -1,
        Gyo: 0,
        Ügy: 0,
        Áll: 1,
        Egé: 0,
        Kar: -2,
        Int: 1,
        Aka: 2,
        Asz: 0,
        Érz: -1,
      },
      statsLeveling: {
        freeHm: 2,
        TÉ: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 2,
        Pp: 1,
        Mp: 2,
      },
      aptitudes: ["Harci affinitás", "Mana uraló", "Mana vezető", "Varázstudó"],
      langCount: 2,
      skills: [{
        name: "Fegyverhasználat",
        level: 1,
        subSkill: "Ököl",
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Fegyverhasználat",
        level: 2,
      },
      {
        name: "Harci rutin",
        level: 2,
      },
      {
        name: "Közös harcmodor",
        level: 1,
      },
      {
        name: "Vértviselet",
        level: 1,
      },
      {
        name: "Ismeret",
        level: 2,
        subSkill: "Vallás",
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Pyarroni",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Futás",
        level: 1,
      },
      {
        name: "Szakma",
        level: 1,
        subSkill: "Hajózás",
      },
      {
        name: "Túlélés",
        level: 1,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Tűzvarázslói mágia",
        level: 3,
      },
      {
        name: "Tűzvarázsló mágiaforma",
        level: 2,
      },
      {
        name: "Tűzvarázsló mágiaforma",
        level: 2,
      },
      {
        name: "Tűzvarázsló mágiaforma",
        level: 2,
      },
      {
        name: "Tűzvarázsló mágiaforma",
        level: 2,
      },
      ],
    },
    Varázsló: {
      baselineAttributes: {
        Erő: -2,
        Gyo: 0,
        Ügy: 0,
        Áll: -1,
        Egé: -1,
        Kar: 0,
        Int: 2,
        Aka: 1,
        Asz: 1,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 1,
        VÉ: 1,
        Fp: 1,
        Kp: 2,
        Pp: 2,
        Mp: 3,
      },
      aptitudes: ["Mana érzék", "Mágikus affinitás", "Pszionista", "Varázstudó"],
      langCount: 2,
      skills: [{
        name: "Ismeret",
        level: 2,
        subSkill: "Misztikum",
      },
      {
        name: "Ismeret",
        level: 1,
      },
      {
        name: "Írás/olvasás",
        level: 2,
      },
      {
        name: "Ősi nyelv",
        level: 2,
      },
      {
        name: "Pszi",
        level: 2,
      },
      {
        name: "Pszi Kyr",
        level: 2,
      },
      {
        name: "Önuralom",
        level: 2,
      },
      {
        name: "Éberség",
        level: 2,
      },
      {
        name: "Magas Mágia",
        level: 3,
      },
      {
        name: "Magas mágiaforma",
        level: 2,
        subSkill: "Idő mozaiktan",
      },
      {
        name: "Magas mágiaforma",
        level: 2,
        subSkill: "Tér mozaiktan",
      },
      {
        name: "Magas mágiaforma",
        level: 3,
      },
      {
        name: "Magas mágiaforma",
        level: 2,
      },
      {
        name: "Magas mágiaforma",
        level: 2,
      },
      ],
    },
    Void: {
      baselineAttributes: {
        Erő: 0,
        Gyo: 0,
        Ügy: 0,
        Áll: 0,
        Egé: 0,
        Kar: 0,
        Int: 0,
        Aka: 0,
        Asz: 0,
        Érz: 0,
      },
      statsLeveling: {
        freeHm: 0,
      },
      aptitudes: [null, null, null, null],
      langCount: 1,
      skills: [],
    },
  },
};
</script>
