<template>
  <b-row class="p-0">
    <b-container fluid>
      <b-card-group deck>
        <b-card no-body class="text-center" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px">
          <b-container class="border">
            <span><b>TULAJDONSÁGOK</b></span>
            <b-form-row>
              <b-col cols="4">
                <span></span>
              </b-col>
              <b-col cols="4">
                <span>Érték</span>
              </b-col>
              <b-col cols="4">
                <span>Próbához</span>
              </b-col>
            </b-form-row>
            <b-form-row v-for="attribute of attributeOrder" :key="attribute">
              <b-col cols="4">
                <span for="attribute">{{ attribute }}</span>
              </b-col>
              <b-col cols="4">
                <span for="finalScore">{{ finalAttributes[attribute] }}</span>
              </b-col>
              <b-col cols="4">
                <span
                    v-on:click="setupDiceHelper(attribute, null)"><b>[{{ parseInt(finalAttributes[attribute] / 2) }}{{ (finalAttributes[attribute] % 2 === 1 ? '+' : ' ') }}]</b></span>
              </b-col>
            </b-form-row>
          </b-container>
          <b-container class="border">
            <span><b>MOZGÁS</b></span>
            <b-form-row v-b-tooltip.hover :title="`${currRace.slowMover ? '(5 + ⌊Gyo / 2⌋ + Futás * 2 - MGT) * 3' : '(10 + ⌊Gyo / 2⌋ + Futás * 2 - MGT) * 3'}`">
              <b-col>Max táv:</b-col>
              <b-col>{{ maxMovement }} láb</b-col>
            </b-form-row>
            <b-form-row v-b-tooltip.hover title="⌈Max táv / (1 + ⌈(1 + KÉ) / 10⌉)⌉">
              <b-col>/ akció táv:</b-col>
              <b-col>{{ perActionMovement }} láb</b-col>
            </b-form-row>
            <b-form-row>
              <b-col>MGT:</b-col>
              <b-col>
                <b-form-select v-model="displayMGT" class="mb-2">
                  <option v-for="value in 17" :value="value - 1" v-bind:key="'mgt választó' + value">{{ value - 1 }}</option>
                </b-form-select>
              </b-col>
            </b-form-row>
          </b-container>
        </b-card>
        <b-card no-body class="text-center" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px">
          <b-container class="border">
            <span><b>ÁLTALÁNOS</b></span>
            <b-form-row>
              <b-col cols="6">
                <span>Név:</span>
              </b-col>
              <b-col cols="6">
                <span>{{ charName }}</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <span for="class">Kaszt:</span>
              </b-col>
              <b-col cols="6">
                <span>{{ selectedClassKey }}</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <span for="class">Faj:</span>
              </b-col>
              <b-col cols="6">
                <span>{{ selectedRaceKey }}</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <span for="class">Szint:</span>
              </b-col>
              <b-col cols="6">
                <span>{{ level }}</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <span for="class">Életkor:</span>
              </b-col>
              <b-col cols="6">
                <span>{{ currentAge }} ({{ lifeSection }})</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                Származás:
              </b-col>
              <b-col cols="6">
                <span v-b-tooltip.hover :title="originTooltips[origin]">{{ origin ? origin : "hontalan" }}</span>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                Neveltetés:
              </b-col>
              <b-col cols="6">
                <span v-b-tooltip.hover :title="upbringingTooltips[upbringing]">{{ upbringing ? upbringing : "neveletlen" }}</span>
              </b-col>
            </b-form-row>
          </b-container>
          <b-container class="border">
            <span><b>ELLENÁLLÁSOK</b></span>
            <b-form-row v-for="resistance of resistancesOrder" :key="resistance" v-b-tooltip.hover :title="resistanceTooltips[resistance]">
              <b-col class="text-nowrap">
                <b-icon-info-circle></b-icon-info-circle>
                <span>{{ resistance }}</span>
              </b-col>
              <b-col>
                <span>{{ resistances[resistance].base }} {{ resistances[resistance].shield && resistances[resistance].shield !== 0 ? `+${resistances[resistance].shield} pajzs` : '' }}</span>
              </b-col>
            </b-form-row>
          </b-container>
          <b-container class="border">
            <span><b>JELLEMVONÁSOK</b></span>
            <b-container>
              <ul class="characteristics-item-list">
                <li class="characteristics-item text-nowrap" v-for="(item, index) in characteristics" :key="index">
                  {{ item.name }}
                  <b-badge variant="secondary" pill>{{ item.value }}</b-badge>
                </li>
              </ul>
            </b-container>
          </b-container>
        </b-card>
        <b-card no-body class="text-center" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px">
          <b-container class="border">
            <span><b>STATISZTIKÁK</b></span>
            <b-form-row v-for="stat of statsOrder" v-if="typeof finalStatScores[stat] !== 'undefined'" :key="stat">
              <b-col cols="6" v-b-tooltip.hover :title="statTooltips[stat]" class="text-nowrap">
                <b-icon-info-circle></b-icon-info-circle>
                <span for="attribute">{{ stat }}:</span>
              </b-col>
              <b-col cols="6">
                <span
                    for="finalScore">{{ Math.min(finalStatScores[stat], typeof statLimits[stat] !== 'undefined' ? statLimits[stat] : finalStatScores[stat]) }}</span>
              </b-col>
            </b-form-row>
          </b-container>
          <b-container class="border">
            <span><b>ADOTTSÁGOK</b></span>
            <b-form-row v-if="aptitude.level !== 0" v-for="aptitude in this.aptitudes" :key="'aptitudeList: ' + aptitude.aptitude">
              <b-col cols="1">
                <b-icon icon="exclamation-circle-fill" variant="danger"
                        v-if="aptitudeStats[aptitude.aptitude] && aptitudeStats[aptitude.aptitude].levelLimit && (aptitudeStats[aptitude.aptitude].levelLimit(aptitude.level) > level)"
                        :title="`Szükséges szint: ${aptitudeStats[aptitude.aptitude].levelLimit(aptitude.level)}`">
                </b-icon>
              </b-col>
              <b-col cols="1">
                <b-icon-info-circle :title="aptitudeStats[aptitude.aptitude] ? aptitudeStats[aptitude.aptitude].description : ''" v-b-tooltip.hover></b-icon-info-circle>
              </b-col>
              <b-col cols="6" >
                <template v-if="aptitude.aptitude === 'Varázstudó'" class="text-nowrap">
                  <a :href="magicianLink">
                    <span>{{ aptitude.aptitude }}</span>
                  </a>
                </template>
                <template v-else class="text-nowrap">
                  <span>{{ aptitude.aptitude }}</span>
                </template>
              </b-col>
              <b-col cols="4">
                {{ aptitudeNotation(aptitude.level) }}
              </b-col>
            </b-form-row>
            <b-form-row v-if="findAptitude('Tehetség') && talent.skill">
              <b-col cols="8">
                <span>Ebben tehetséges:</span>
              </b-col>
              <b-col cols="4">
                <span v-if="talent.skill">{{ talent.skill }}</span>
                <span v-if="typeof talent.subSkill !== 'undefined'">({{ talent.subSkill }})</span>
              </b-col>
            </b-form-row>
            <b-form-row v-if="findAptitude('Mesterfegyver') && masterWeapon">
              <b-col cols="8">
                <span>Választott mesterfegyver:</span>
              </b-col>
              <b-col cols="4">
                <span>{{ masterWeapon }}</span>
              </b-col>
            </b-form-row>
          </b-container>
        </b-card>
      </b-card-group>
      <b-card-group deck>
        <b-card class="text-center border mt-2" title="Képzettségek" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px;">
          <b-card-body>
            <b-container fluid>
              <b-row class="p-2">
                <div class="skill-container">
                  <div class="element border-bottom pb-1 text-left" v-for="(skill, idx) in pickedSkills">
                    <span v-b-tooltip.hover :title="skillTooltips[skill.origIndex]"><b-icon icon="info-circle"></b-icon></span>
                    <span>
                      <b-badge>{{ Array.from(skillCompendium[skill.name].type)[0] }}</b-badge>
                      <b-badge v-if="skill.soulMemory" variant="primary">!</b-badge>
                      {{ skill.name }} {{ skill.subSkill ? `(${skill.subSkill})` : '' }}
                    </span>
                    <span>{{ skillLevelNotation(skill.level) }}</span>
                    <span>[{{ skill.level * 2 }}{{ '+'.repeat(skillDms[idx]) }}]</span>
                  </div>
                </div>
              </b-row>
            </b-container>
          </b-card-body>
        </b-card>
        <b-card class="text-center border mt-2" title="Nyelvek" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'"
                style="min-width: 300px; max-width: 300px;">
          <b-card-body class="text-left">
            <span>Élő:</span>
            <ul>
              <li v-for="(lang) in languages.filter(lang => liveLanguages.includes(lang)).sort()"> {{ lang }}</li>
            </ul>
            <span v-if="skills.some(skill => skill.name === 'Ősi nyelv')">Ősi:</span>
            <ul>
              <li v-for="(lang) in languages.filter(lang => deadLanguages.includes(lang)).sort()"> {{ lang }}</li>
            </ul>
          </b-card-body>
        </b-card>
      </b-card-group>
      <b-card-group deck>
        <b-card class="border mt-2" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px;" title="Fegyverek">
          <b-container class="mt-3">
            <b-table :fields="fields" :items="weaponItems" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" small table-class="w-auto"
                     stacked="xl" class="text-center">
              <template #table-colgroup="scope">
                <col v-for="field in scope.fields" :key="field.key" :class="field.key === 'EDIT' ? 'border-right' : 'border-left border-right'">
              </template>
              <template #cell(NAME)="row">
                <label v-b-tooltip.hover :title=row.item.TOOLTIP>
                  <b-icon-info-circle></b-icon-info-circle>
                </label> {{ row.value }}
              </template>
              <template #cell(edit)="data">
                <b-button-toolbar>
                  <b-button-group class="mr-1">
                    <b-button title="Szerkesztés" @click="openWeaponEditor(data.index)">
                      <b-icon icon="gear" aria-hidden="true"></b-icon>
                    </b-button>
                    <b-button title="törlés" @click="removeWeapon(data.index)">
                      <b-icon icon="x-circle" aria-hidden="true"></b-icon>
                    </b-button>
                  </b-button-group>
                </b-button-toolbar>
              </template>
            </b-table>
          </b-container>
          <b-row>
            <b-col cols="4"></b-col>
            <b-col cols="4">
              <b-button @click="openWeaponEditor(null)">Új hozzáadása</b-button>
            </b-col>
            <b-col cols="4"></b-col>
          </b-row>
          <b-modal size="xl" id="modal-weaponEditor" ref="modalWeaponEditor" title="Fegyverszett módosítása" centered
                   header-bg-variant="secondary"
                   headerTextVariant="light"
                   bodyTextVariant="dark"
          >
            <weaponSet2 ref="weaponSet2" :skills="skills" :aptitudes="aptitudes" :attributes="finalAttributes" :stats="finalStatScores"
                        :mesterfegyver="masterWeapon"
                        :loadedSettings="currentlyEditedWeapon.weapon" :id="currentlyEditedWeapon.id" @setChanged="onWeaponSetChanged" :editor-mode="false"
                        :weaponStyles="weaponStyles" :weaponStats="combinedWeaponStats" :key="weaponModuleKey"/>
            <template v-slot:modal-footer>
              <b-button @click="closeWeaponEditor(false)" variant="secondary">Mégse</b-button>
              <b-button type="submit" @click="closeWeaponEditor(true)" variant="secondary">{{ true ? 'Mentés' : 'Nem mentés' }}</b-button>
            </template>
          </b-modal>
        </b-card>
        <b-card class="border mt-2" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" style="min-width: 400px; max-width: 400px;"
                title="Páncélok">
          <b-container fluid>
            <armourSet :skills="skills" :loadedSettings="armourSet" :customArmors="customArmors" :editor-mode="false" :dark-theme="darkTheme"></armourSet>
          </b-container>
        </b-card>
      </b-card-group>
      <b-card-group deck>
        <b-card class="border mt-2" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" title="Felszerelés"
                style="min-width: 400px; max-width: 600px;">
          <b-row>
            <b-badge variant="gold" class="m-2">Arany: {{ spentMoney.gold }}</b-badge>
            <b-badge variant="silver" class="m-2">Ezüst: {{ spentMoney.silver }}</b-badge>
            <b-badge variant="copper" class="m-2">Réz: {{ spentMoney.copper }}</b-badge>
          </b-row>
          <b-row>
            <b-table
                :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'"
                :items="stuffs"
                :fields="stuffFields"
                bordered
                head-variant="dark"
                small
            ></b-table>

          </b-row>

        </b-card>
        <b-card class="border mt-2" :class="darkTheme ? 'bg-dark text-light' : 'bg-light text-dark'" title="Mindenféle infók">
          <b-form-textarea v-model="localMiscData" rows="8"/>
        </b-card>
      </b-card-group>
    </b-container>
  </b-row>
</template>

<script>
import "@/assets/global.css"
import '@/assets/custom.scss';
import skillCompendium from "./skillCompendium";
import weaponSet2 from './weaponSet2';
import armourSet from './armourSet';
import {WeaponItem} from "./weaponItem";
import classCompendium from "./classCompendium";
import raceCompendium from '../components/raceCompendium'

export default {
  name: "gameView",
  props: {
    skills: [],
    darkTheme: true,
    attributeOrder: null,
    finalAttributes: null,
    finalStatScores: null,
    charName: null,
    selectedClassKey: null,
    selectedRaceKey: null,
    currentAge: null,
    level: null,
    lifeSection: null,
    originTooltips: null,
    origin: null,
    upbringingTooltips: null,
    upbringing: null,
    resistancesOrder: null,
    resistances: null,
    statsOrder: null,
    statLimits: null,
    aptitudeStats: null,
    aptitudes: null,
    talent: null,
    masterWeapon: null,
    pickedSkills: null,
    languages: null,
    miscData: null,
    weaponSets: null,
    armourSet: null,
    spentHm: null,
    boughtStats: null,
    aptitudeStatScores: null,
    characteristics: null,
    customArmors: {
      required: true,
    },
    combinedWeaponStats: {
      required: true,
    },
    spentMoney: null,
    stuffs: null,
    weaponStyles: true,
    statTooltips: {
      required: true,
    },
    resistanceTooltips: {
      required: true,
    },
  },
  components: {
    weaponSet2,
    armourSet
  },
  data() {
    return {
      displayMGT: 0,
      diceTestHelper: {
        open: false,
        attribute: "Erő",
        skill: null,  //special "not trained"
        miscModifier: 0,
      },
      rowTooltip: null,
      localMiscData: this.miscData,
      currentlyEditedWeapon: {id: null, weapon: 'Ököl'},
      weaponModuleKey: 0,
      needToRefreshWeapon: false,
      stuffFields: [
        {
          key: 'name',
          label: 'Név'
        },
        {
          key: 'value',
          label: 'Ár'
        },
        {
          key: 'place',
          label: 'Hely'
        }
      ]

    }
  },
  methods: {
    openWeaponEditor(id) {
      this.currentlyEditedWeapon.id = id
      if (id !== null) {
        this.currentlyEditedWeapon.weapon = this.weaponSets[id]
      }
      this.$refs['modalWeaponEditor'].show()
    },
    closeWeaponEditor(save) {
      this.$refs['modalWeaponEditor'].hide()
      if (save) {
        this.$emit('weaponSetChanged', {
          id: this.currentlyEditedWeapon.id === null ? this.weaponSets.length : this.currentlyEditedWeapon.id,
          code: JSON.stringify(this.currentlyEditedWeapon.weapon)
        })
      }
      this.currentlyEditedWeapon.weapon = 'Ököl'
    },
    onWeaponSetChanged({id, code: weaponCode}) {
      const weaponDetails = JSON.parse(weaponCode);
      const newWeaponCode = !this.areObjectsEqual(weaponDetails, this.currentlyEditedWeapon.weapon);

      this.currentlyEditedWeapon.weapon = weaponDetails;
      this.$nextTick(() => {
        if (newWeaponCode) {
          this.weaponModuleKey++
        }
      });
    },
    removeWeapon(index) {
      let modifiedList = _.clone(this.weaponSets);
      modifiedList = modifiedList.filter((item, i) => i !== index);
      this.$emit('update:weaponSets', modifiedList);
    },
    areObjectsEqual(obj1, obj2) {
      const keys1 = Object.keys(obj1);
      const keys2 = Object.keys(obj2);

      if (keys1.length !== keys2.length) {
        return false;
      }

      for (const key of keys1) {
        if (obj1[key] !== obj2[key]) {
          return false;
        }
      }

      return true;
    },
    setupDiceHelper(attribute, skill) {
      if (null != attribute) {
        this.diceTestHelper.attribute = attribute;
      }
      this.diceTestHelper.skill = skill;
      this.diceTestHelper.open = true;
      this.diceTestHelper.miscModifier = 0;
    },
    aptitudeNotation(level) {
      switch (level) {
        case 1:
          return 'I';
        case 2:
          return 'II';
        case 3:
          return 'III';
        default:
          return '-';
      }
    },
    findAptitude(name) {
      const potentialAptitude = this.aptitudes.filter(aptitude => name === aptitude.aptitude);
      if (potentialAptitude.length !== 0) {
        return potentialAptitude[0];
      }
      return null;
    },
    skillLevelNotation(level) {
      switch (level) {
        case 1:
          return 'If';
        case 2:
          return 'Af';
        case 3:
          return 'Kf';
        case 4:
          return 'Mf';
        case 5:
          return 'Lf';
      }
    },
    onRowHovered(item, _, event) {
      this.rowTooltip = {
        item: item,
        target: event.target
      };
    },
    onRowUnhovered() {
      this.rowTooltip = null;
    },
    findSkill(name, subSkill) {
      const potentialSkill = this.skills.filter(skill => name == skill.name && (!subSkill || skill.subSkill == subSkill));
      if (potentialSkill.length != 0) {
        return potentialSkill[0];
      }
      return null;
    },
    updateMiscData(value) {
      // Emit the event to update the miscData prop in the parent component
      this.$emit('update:miscData', value);
    },
  },
  computed: {
    currRace() {
      return raceCompendium.races[this.selectedRaceKey]
    },
    skillDms() {
      return this.pickedSkills.map((skill) => this.aptitudes.reduce((accumulator, aptitude) =>
              Math.max(accumulator,
                  aptitude.aptitude !== null && typeof this.aptitudeStats[aptitude.aptitude].dmOnSkill !== 'undefined' ? this.aptitudeStats[aptitude.aptitude].dmOnSkill(skill, aptitude.level) : 0),
          0
      ))
    },
    maxMovement() {
      const running = this.skills.filter(skill => skill.name === "Futás")[0]
      const runningLevel = running ? running.level : 0
      const base = this.currRace.slowMover ? 5 : 10
      return (base + Math.floor(this.finalAttributes.Gyo / 2) + runningLevel * 2 - this.displayMGT) * 3
    },
    perActionMovement() {
      return Math.ceil(this.maxMovement / (1 + Math.ceil((1 + this.finalStatScores.KÉ) / 10)))
    },
    magicianLink() {
      return location.origin + location.pathname.split('/').slice(0, -2).join('/') + `/varazsmuhely/?karakter=${this.magicianCharCode}`
    },
    magicianCharCode() {
      const magicSkill = this.highestMagicalSkill
      if (!magicSkill) {
        return null
      }
      const formSkills = Object.entries(skillCompendium.skills).filter(([_, skill]) => skill.dependency && this.allMagicalSkills.includes(skill.dependency) && skill.subSkills)
      let selectedLevels = {}
      for (const [formSkillName, formSkill] of formSkills) {
        for (const subSkill of formSkill.subSkills) {
          let form = subSkill.name
          if (formSkill.dependency === "Szakrális mágia") {
            const nameSplit = formSkillName.split(' ')
            form = `${nameSplit[0]} ${form} ${nameSplit[1]}`
          }
          selectedLevels[form] = 'Nf'
        }
      }
      let selectedGod = ''
      let magicUseLevels = this.allMagicalSkills.reduce((o, key) => ({...o, [key]: 'Nf'}), {})
      for (const skill of this.skills.filter(skill => skill.name)) {
        if (skill.name === "Szakrális mágia" && skill.subSkill) {
          selectedGod = skill.subSkill
        }
        if (this.allMagicalSkills.includes(skill.name)) {
          magicUseLevels[skill.name] = this.skillLevelNotation(skill.level)
        }
        const dependency = skillCompendium.skills[skill.name].dependency
        if (dependency && this.allMagicalSkills.includes(dependency) && skill.subSkill) {
          let form = skill.subSkill
          if (dependency === "Szakrális mágia") {
            const nameSplit = skill.name.split(' ')
            form = `${nameSplit[0]} ${form} ${nameSplit[1]}`
          }
          selectedLevels[form] = this.skillLevelNotation(skill.level)
        }
      }
      const toCode = {
        selectedMagicType: magicSkill.name,
        selectedLevels,
        selectedGod: selectedGod,
        magicUseLevels,
        manaChanneling: this.aptitudes.filter(apt => apt.aptitude === 'Mana vezető').reduce((sum, apt) => sum + apt.level, 0),
        magicAffinity: this.aptitudes.filter(apt => apt.aptitude === 'Mágikus affinitás').reduce((sum, apt) => sum + apt.level, 0),
        dominantAttributes: this.finalAttributes,
        darkTheme: this.darkTheme,
      };
      return btoa(unescape(encodeURIComponent(JSON.stringify(toCode))));
    },
    highestMagicalSkill() {
      const magicSkills = this.acquiredMagicalSkill
      if (0 == magicSkills.length) {
        return null;
      }
      const highest = magicSkills.reduce(function (highestSkill, nextSkill) {
        if (highestSkill.level < nextSkill.level) {
          return nextSkill;
        }
        return highestSkill;
      });
      return highest;
    },
    acquiredMagicalSkill() {
      return this.skills.filter(skill => (null != skill.name && this.allMagicalSkills.includes(skill.name)))
    },
    allMagicalSkills() {
      return Object.entries(skillCompendium.skills).filter(([_, skill]) => skill.manaAttribute || skill.subSkills && skill.subSkills[0] && skill.subSkills[0].manaAttribute)
          .map(([name, _]) => name)
    },
    skillTooltips() {
      const attributeGetter = function (skill) {
        const skillDesc = skillCompendium.skills[skill.name];
        if (typeof skillDesc === 'undefined') {
          return null;
        }
        if (typeof skillDesc.attributes === 'undefined') {
          if (typeof skill.subSkill === 'undefined' || skill.subSkill === null) {
            return null;
          }
          for (const subSkill of skillDesc.subSkills) {
            if (subSkill.name === skill.subSkill) {
              return subSkill.attributes.join(', ');
            }
          }
          return "a szükséges tulajdonságok meghatározása kalandmesteri megítélés alá esik"
        }
        return skillDesc.attributes.join(', ');
      };
      return this.skills.map(attributeGetter).map(desc => "Tulajdonságkövetelmények: " + (desc ? desc : "alképzettségtől függ"));
    },
    liveLanguages() {
      return skillCompendium.languages.live.map(lang => lang.name)
    },
    deadLanguages() {
      return skillCompendium.languages.dead.map(lang => lang.name)
    },
    fields() {
      return [
        {key: 'NAME', label: 'Név', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'TE_CE', label: 'TÉO/CÉO', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'VE_TAV', label: 'VÉO (Táv)', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'DAMAGE', label: 'Sebzés', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'TAM', label: 'Tám', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'MGT', label: 'MGT', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'EDIT', label: '', tdClass: 'text-nowrap', thClass: 'text-center'},
      ]
    },
    weaponItems() {
      const weaponList = [];
      this.weaponSets.forEach((value, key) => {
        const item = new WeaponItem(value, this.skills, this.combinedWeaponStats, this.aptitudes, this.finalAttributes, this.finalStatScores, this.selectedRaceKey, this.weaponStyles, false);
        const converted = {
          NAME: item.name,
          TE_CE: item.téCéText(false),
          VE_TAV: item.véTávText(false, false),
          DAMAGE: item.sebzésText(),
          TAM: item.támText(),
          MGT: item.mgt(),
          TOOLTIP: item.propertyTooltip()
        };
        weaponList.push(converted);
      });

      return weaponList;
    },
    statFromLevels() {
      return {
        TÉ: (typeof this.currClass.statsLeveling.TÉ !== 'undefined') ? (this.currClass.statsLeveling.TÉ * this.level) : 0,
        VÉ: (typeof this.currClass.statsLeveling.VÉ !== 'undefined' ? this.currClass.statsLeveling.VÉ * this.level : 0),
        CÉ: (typeof this.currClass.statsLeveling.CÉ !== 'undefined' ? this.currClass.statsLeveling.CÉ * this.level : 0),
        KÉ: (typeof this.currClass.statsLeveling.KÉ !== 'undefined' ? this.currClass.statsLeveling.KÉ * this.level : 0),
        Fp: (typeof this.currClass.statsLeveling.Fp !== 'undefined' ? this.currClass.statsLeveling.Fp * this.level : 0),
        Pp: (typeof this.currClass.statsLeveling.Pp !== 'undefined' ? this.currClass.statsLeveling.Pp * this.level : 0),
        Mp: (typeof this.currClass.statsLeveling.Mp !== 'undefined' ? this.currClass.statsLeveling.Mp * this.level : 0),
        Kp: (typeof this.currClass.statsLeveling.Kp !== 'undefined' ? this.currClass.statsLeveling.Kp * this.level : 0),
        Ap: this.level,
        Lp: 0,
      };
    },
    currClass() {
      return this.classes[this.selectedClassKey];
    },
    classes() {
      return classCompendium.classes;
    },
    skillCompendium() {
      return skillCompendium.skills;
    }
  },
  watch: {
    localMiscData(newValue) {
      this.updateMiscDataDebounced(newValue);
    },
    miscData() {
      this.localMiscData = this.miscData;
    }
  },
  created() {
    // Debounce the updateMiscData method to avoid rapid updates
    this.updateMiscDataDebounced = _.debounce(this.updateMiscData, 500);
  },
}
</script>

<style scoped>

</style>
