<template>
</template>

<script>
const PlayerState = Object.freeze({
  Action: {
    displayName: 'Akcióképes',
    isContinuousAction: false,
    baseAction: true,
    defenseMode: false
  },
  Waiting: {
    displayName: 'Kivárás',
    isContinuousAction: false,
    baseAction: false,
    defenseMode: false
  },
  DefenseMode: {
    displayName: 'Védekezőharc',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: true
  },
  Casting: {
    displayName: 'Varázslás',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: false
  },
  Psi: {
    displayName: 'Pszi',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: false
  },
  WeaponLoading: {
    displayName: 'Töltés',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: false
  },
  Manipulation: {
    displayName: 'Manipuláció',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: false
  },
  SkillUsing: {
    displayName: 'Képzettség',
    isContinuousAction: true,
    baseAction: false,
    defenseMode: false
  }
});

const ExtraAction = Object.freeze(({
  MoveAllActionsToReactionPool: 'MoveAllActionsToReactionPool',
  AddToReactionPool: 'AddToReactionPool',
  AddOneCSEToNextRoundAndEraseActCSE: 'AddOneCSEToNextRoundAndEraseActCSE'
}))
export default {
  PlayerState,
  ExtraAction,
  maneuvers: [
    {
      name: "Támadás (közelharci)",
      type: "A",
      combatType: "close",
      CS: 2,
      additional: false,
      additionalType: null,
      attackInRound: true,
      description: "A körönkénti egy támadási lehetőség közelharci felhasználása."
    },
    {
      name: "Kombináció",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "special",
      combination: true,
      combinationText: 'A játékos kombinált ebben a körben',
      description: "Újabb közelharci támadás végrehajtása."
    },
    {
      name: "Fegyvertörés",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás fegyvertörésként való végrehajtása."
    },
    {
      name: "Lefegyverzés",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás lefegyverzésként való végrehajtása."
    },
    {
      name: "Kínokozás",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás kínokozásként való végrehajtása."
    },
    {
      name: "Pusztítás",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás pusztításként való végrehajtása."
    },
    {
      name: "Roham",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás rohammal való végrehajtása."
    },
    {
      name: "Orvtámadás",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy közelharci támadás orvtámadásként való végrehajtása."
    },
    {
      name: "Birkózás",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: true,
      additionalType: "complex",
      description: "Egy pusztakezes támadás birkózásként való végrehajtása."
    },
    {
      name: "Kétkezes harc",
      type: "A",
      combatType: null,
      CS: 2,
      additional: true,
      additionalType: "complex",
      description: "Egy dupla támadás az elsődleges és egy másodlagos fegyverrel."
    },
    {
      name: "Harci csel",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy a célpontnak hátrányt adó különleges harci csel végrehajtása."
    },
    {
      name: "Közös harcmodor",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Harci előny biztosítása egy szövetséges fegyverforgatóval."
    },
    {
      name: "Harci láz",
      type: "A",
      combatType: "close",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Az adottság aktiválására vagy inaktiválásra tett kísérlet."
    },
    {
      name: "Közbevágás",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy KM-i engedéllyel végrehajtható közelharci támadás."
    },
    {
      name: "Gyenge pont",
      type: "A",
      combatType: "Fight",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Harci előny (+0,5TÉO) szerzése egy adott célponttal szemben."
    },
    {
      name: "Elterelés",
      type: "A",
      combatType: "Fight",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Harci előny (+0,5VÉO) adása társnak egy adott célponttal szemben."
    },
    {
      name: "Harci rutin",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Hétköznapi harci hátrány képzettséggel való kompenzálása."
    },
    {
      name: "Harci ösztön",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Különleges harci hátrány képzettséggel való kompenzálása."
    },
    {
      name: "Hárítás",
      type: "R",
      combatType: "close",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy támadással szemben hárító fegyver használata."
    },
    {
      name: "Kitérés",
      type: "R",
      combatType: "close",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy támadással szemben kitérés manőver használata."
    },
    {
      name: "Védekező harc",
      type: "A",
      combatType: "Fight",
      CS: 1,
      additional: false,
      additionalType: null,
      attackInRound: true,
      state: PlayerState.DefenseMode,
      description: "Harci előny (+2/+1VÉO) a támadásról való lemondásért."
    },
    {
      name: "Elszakadás",
      type: "A",
      combatType: "move",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Eltávolodási kísérlet egy adott közelharci szituációból."
    },
    {
      name: "Támadás (távolsági)",
      type: "A",
      combatType: "range",
      CS: 2,
      additional: false,
      additionalType: null,
      attackInRound: true,
      description: "A körönkénti egy támadási lehetőség távolsági felhasználása."
    },
    {
      name: "Kapáslövés",
      type: "A",
      combatType: "range",
      CS: 1,
      additional: true,
      additionalType: "special",
      rangeCombination: true,
      rangeCombinationText: 'A játékos kapáslőtt ebben a körben',
      description: "Újabb távolsági támadás végrehajtása."
    },
    {
      name: "Célzás",
      type: "A",
      combatType: "range",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy szituációs körülmény célzással való kompenzálása."
    },
    {
      name: "Töltés (nagyon gyors)",
      type: "A",
      combatType: "range",
      CS: 0,
      additional: false,
      additionalType: null,
      description: "Nagyon gyors távolsági fegyver lőkész állapotba hozása."
    },
    {
      name: "Töltés (gyors)",
      type: "A",
      combatType: "range",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Gyors távolsági fegyver lőkész állapotba hozása."
    },
    {
      name: "Töltés (lassú)",
      type: "A",
      combatType: "range",
      CS: 2,
      additional: false,
      additionalType: null,
      description: "Lassú távolsági fegyver lőkész állapotba hozása."
    },
    {
      name: "Töltés (nagyon lassú)",
      type: "A",
      combatType: "range",
      CS: null,
      CS_CUSTOM: 2,
      additional: false,
      additionalType: null,
      state: PlayerState.WeaponLoading,
      description: "Nagyon lassú távolsági fegyver lőkész állapotba hozása."
    },
    {
      name: "Varázslás",
      type: "A",
      combatType: "mystic",
      CS: null,
      CS_CUSTOM: 5,
      additional: false,
      additionalType: null,
      state: PlayerState.Casting,
      description: "Egy cselekedetnyi varázslás folytatólagos végrehajtása."
    },
    {
      name: "Pszi",
      type: "A",
      combatType: "mystic",
      CS: null,
      CS_CUSTOM: 5,
      additional: false,
      additionalType: null,
      state: PlayerState.Psi,
      description: "Egy cselekedetnyi meditáció folytatólagos végrehajtása."
    },
    {
      name: "Mozgás",
      type: "A",
      combatType: "move",
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy cselekedetnyi Mozgás távolság megtétele."
    },
    {
      name: "Manipuláció (egyszerű, 0)",
      type: "A",
      combatType: null,
      CS: 0,
      additional: false,
      additionalType: null,
      description: "pl. eltenni a fegyvert, elővenni a fegyvert, felhajtani egy italt stb."
    },
    {
      name: "Manipuláció (egyszerű, 1)",
      type: "A",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "pl. eltenni a fegyvert, elővenni a fegyvert, felhajtani egy italt stb."
    },
    {
      name: "Manipuláció (összetett)",
      type: "A",
      combatType: null,
      CS: null,
      CS_CUSTOM: 1,
      additional: false,
      additionalType: null,
      state: PlayerState.Manipulation,
      description: "pl. előkeresni vmit a hátizsákból, eloltani egy ruhadarabot stb."
    },
    {
      name: "Képzettség (fizikai)",
      type: "R",
      combatType: null,
      CS: 1,
      CS_CUSTOM: null,
      additional: false,
      additionalType: null,
      description: "Egy fizikai képzettség végrehajtása."
    },
    {
      name: "Képzettség (fizikai)",
      type: "A",
      combatType: null,
      CS: null,
      CS_CUSTOM: 1,
      additional: false,
      state: PlayerState.SkillUsing,
      additionalType: null,

      description: "Egy fizikai képzettség végrehajtása."
    },
    {
      name: "Képzettség (szellemi)",
      type: "A",
      combatType: null,
      CS: null,
      CS_CUSTOM: 1,
      additional: false,
      additionalType: null,
      state: PlayerState.SkillUsing,
      description: "Egy szellemi képzettség végrehajtása."
    },
    {
      name: "Helyezkedés",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy szereplő érdemi helyváltoztatására végzett mozgás."
    },
    {
      name: "Taszítás",
      type: "A",
      combatType: "Fight",
      CS: 2,
      additional: false,
      additionalType: null,
      description: "Egy adott célpont új harctéri pozícióba kényszerítése."
    },
    {
      name: "Kivárás",
      type: "A",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      state: PlayerState.Waiting,
      description: "Egy történéshez kötött manőver bekészítése."
    },
    {
      name: "Készenlét",
      type: "A",
      combatType: null,
      CS: null,
      CS_CUSTOM: 1,
      additional: false,
      additionalType: null,
      addToReaction: true,
      extraAction: ExtraAction.AddToReactionPool,
      description: "A cselekedetek reakcióként való felhasználásának lehetősége."
    },
    {
      name: "Ellenállás (passzív)",
      type: "R",
      combatType: null,
      CS: 0,
      additional: false,
      additionalType: null,
      description: "Egy átlagos, passzív ellenállás végrehajtása."
    },
    {
      name: "Ellenállás (aktív)",
      type: "R",
      combatType: null,
      CS: 1,
      additional: false,
      additionalType: null,
      description: "Egy elkerülő, aktív ellenállás végrehajtása."
    },
    {
      name: "Taktika",
      type: "A",
      combatType: null,
      CS: 2,
      additional: false,
      additionalType: null,
      tactionPlus: 1,
      extraAction: ExtraAction.AddOneCSEToNextRoundAndEraseActCSE,
      description: "Egy darab Cselekedet (CS) átvitele a soron következő körre a meglévő összes Cselekedetért."
    },
    {
      name: "Tartalékolás",
      type: "A",
      combatType: null,
      CS: null,
      CS_TEXT: 'mind',
      additional: false,
      additionalType: null,
      extraAction: ExtraAction.MoveAllActionsToReactionPool,
      description: "Akció reakciókénti felhasználásának lehetősége a csicska fázisban."
    },

  ],
};
</script>
