<template>
</template>

<script>
export default {
  races: {
    Elf: {
      attributeModifiers: {
        Ügy: 1,
        Kar: 1,
        Érz: 1,
        Erő: -2,
        Áll: -1,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 30,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 51,
          spPerYear: 1/12,
        },
        {
          name: "középkorú",
          start: 1395,
          spPerYear: 1/4,
        },
        {
          name: "meglett",
          start: 1587,
          spPerYear: 1/8,
          ageingFactor: 20,
        },
        {
          name: "idős",
          start: 1795,
          spPerYear: 1/5,
          ageingFactor: 10,
        },
        {
          name: "agg",
          start: 1895,
          spPerYear: 1/50,
          ageingFactor: 5,
        },
      ],
    },
    Ember: {
      attributeModifiers: {
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 13,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 17,
          spPerYear: 8,
        },
        {
          name: "középkorú",
          start: 31,
          spPerYear: 4,
        },
        {
          name: "meglett",
          start: 43,
          spPerYear: 2,
          ageingFactor: 1,
        },
        {
          name: "idős",
          start: 56,
          spPerYear: 1,
          ageingFactor: 1/2,
        },
        {
          name: "agg",
          start: 76,
          spPerYear: 1/2,
          ageingFactor: 1/3,
        },
      ],
      cheaperFirstLevelAptitudes: true,
    },
    Félelf: {
      attributeModifiers: {
        Gyo: 1,
        Erő: -1,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 16,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 23,
          spPerYear: 4/3,
        },
        {
          name: "középkorú",
          start: 107,
          spPerYear: 2,
        },
        {
          name: "meglett",
          start: 131,
          spPerYear: 4/3,
          ageingFactor: 2,
        },
        {
          name: "idős",
          start: 151,
          spPerYear: 1,
          ageingFactor: 3/4,
        },
        {
          name: "agg",
          start: 171,
          spPerYear: 1/4,
          ageingFactor: 1/2,
        },
      ],
    },
    Törpe: {
      attributeModifiers: {
        Erő: 1,
        Egé: 1,
        Áll: 1,
        Int: -1,
        Kar: -1,
        Asz: -1,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 25,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 41,
          spPerYear: 1/3,
        },
        {
          name: "középkorú",
          start: 377,
          spPerYear: 1/5,
        },
        {
          name: "meglett",
          start: 617,
          spPerYear: 1/3,
          ageingFactor: 8,
        },
        {
          name: "idős",
          start: 695,
          spPerYear: 1/3,
          ageingFactor: 3,
        },
        {
          name: "agg",
          start: 755,
          spPerYear: 1/15,
          ageingFactor: 2,
        },
      ],
      slowMover: true,
    },
    "Udvari ork": {
      attributeModifiers: {
        Erő: 2,
        Egé: 2,
        Érz: 1,
        Áll: 1,
        Kar: -2,
        Int: -2,
        Asz: -2,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 15,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 20,
          spPerYear: 1,
        },
        {
          name: "középkorú",
          start: 132,
          spPerYear: 1/2,
        },
        {
          name: "meglett",
          start: 228,
          spPerYear: 1,
          ageingFactor: 2,
        },
        {
          name: "idős",
          start: 254,
          spPerYear: 1,
          ageingFactor: 1,
        },
        {
          name: "agg",
          start: 274,
          spPerYear: 1/4,
          ageingFactor: 3/4,
        },
      ],
    },
    Amund: {
      attributeModifiers: {
        Erő: 1,
        Áll: 1,
        Kar: -1,
        Asz: -1,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 18,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 25,
          spPerYear: 5,
        },
        {
          name: "középkorú",
          start: 47,
          spPerYear: 3,
        },
        {
          name: "meglett",
          start: 64,
          spPerYear: 1,
          ageingFactor: 2,
        },
        {
          name: "idős",
          start: 89,
          spPerYear: 1,
          ageingFactor: 1/2,
        },
        {
          name: "agg",
          start: 109,
          spPerYear: 1/3,
          ageingFactor: 1/4,
        },
      ],
    },
    Dzsenn: {
      attributeModifiers: {
        Int: 1,
        Aka: 1,
        Erő: -1,
        Áll: -1,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 16,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 22,
          spPerYear: 4,
        },
        {
          name: "középkorú",
          start: 50,
          spPerYear: 1/2,
        },
        {
          name: "meglett",
          start: 146,
          spPerYear: 1/3,
          ageingFactor: 6,
        },
        {
          name: "idős",
          start: 224,
          spPerYear: 1/3,
          ageingFactor: 3/2,
        },
        {
          name: "agg",
          start: 284,
          spPerYear: 1/6,
          ageingFactor: 1,
        },
      ],
    },
    Khál: {
      attributeModifiers: {
        Erő: 2,
        Gyo: 1,
        Áll: 1,
        Egé: 1,
        Érz: 1,
        Kar: -2,
        Int: -2,
        Asz: -2,
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 7,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 10,
          spPerYear: 7,
        },
        {
          name: "középkorú",
          start: 26,
          spPerYear: 3,
        },
        {
          name: "meglett",
          start: 42,
          spPerYear: 5,
          ageingFactor: 1/2,
        },
        {
          name: "idős",
          start: 47,
          spPerYear: 4,
          ageingFactor: 1/8,
        },
        {
          name: "agg",
          start: 52,
          spPerYear: 1,
          ageingFactor: 1/16,
        },
      ],
    },
    Wier: {
      attributeModifiers: {
      },
      ageCategories: [
        {
          name: "gyermek",
          start: 0,
          spPerYear: 0,
        },
        {
          name: "serdülő",
          start: 13,
          spPerYear: 0,
        },
        {
          name: "ifjú",
          start: 17,
          spPerYear: 8,
        },
        {
          name: "középkorú",
          start: 31,
          spPerYear: 4,
        },
        {
          name: "meglett",
          start: 43,
          spPerYear: 2,
          ageingFactor: 1,
        },
        {
          name: "idős",
          start: 56,
          spPerYear: 1,
          ageingFactor: 1/2,
        },
        {
          name: "agg",
          start: 76,
          spPerYear: 1/2,
          ageingFactor: 1/3,
        },
      ],
    },
  },
};
</script>
