<template>
</template>

<script>
export default {
  //row: class
  //column: level
  cost: [
    [2, 6, 12, 20, 30],
    [3, 9, 18, 30, 45],
    [4, 12, 24, 40, 60],
    [5, 15, 30, 50, 75],
    [6, 18, 36, 60, 90],
  ],
  langCost: 1,
  requiredStrictAverage: [6, 9, 12, 15, 18],
  requiredAverage: [-Infinity, -Infinity, 12, 15, 18],
  requiredSpecialAverage: [3, 6, 9, 12, 15],
  skills: {
    Célzás: {
      class: 3,
      attributes: ["Ügy", "Asz", "Érz",],
      dependency: "Fegyverhasználat",
      type: "Harci",
    },
    Fegyverhasználat: {
      class: 3,
      attributes: ["Ügy"],
      uniqueAllowed: true,
      type: "Harci",
      subSkills: [
        {
          name: "Ököl",
          attributes: ["Erő", "Ügy",],
        },
        {
          name: "RP",
          attributes: ["Gyo", "Ügy",],
        },
        {
          name: "HP",
          attributes: ["Gyo", "Ügy",],
        },
        {
          name: "ÓP",
          attributes: ["Erő", "Ügy", "Áll",],
        },
        {
          name: "ZÚZ",
          attributes: ["Erő", "Ügy",],
        },
        {
          name: "HAS",
          attributes: ["Erő", "Ügy",],
        },
        {
          name: "SZÁ",
          attributes: ["Ügy", "Gyo", "Áll"],
        },
        {
          name: "LOV",
          attributes: ["Ügy", "Áll",],
        },
        {
          name: "NYD",
          attributes: ["Erő", "Ügy",],
        },
        {
          name: "PAJ",
          attributes: ["Ügy", "Erő", "Áll",],
        },
        {
          name: "PD",
          attributes: ["Ügy", "Gyo",],
        },
        {
          name: "ÍJ",
          attributes: ["Ügy", "Aka", "Érz",],
        },
        {
          name: "SZÍ",
          attributes: ["Ügy", "Érz",],
        },
        {
          name: "VET",
          attributes: ["Ügy", "Aka",],
        },
        {
          name: "Ezer víz útja",
          attributes: ["Ügy", "Gyo", "Aka"],
          group: "Harcművész iskolák",
        },
        {
          name: "Fekete láng",
          attributes: ["Ügy", "Gyo", "Aka"],
          group: "Harcművész iskolák",
        },
        {
          name: "Kardművész",
          attributes: ["Ügy", "Gyo", "Aka"],
          group: "Harcművész iskolák",
        },
        {
          name: "Óvó szél",
          attributes: ["Ügy", "Gyo", "Aka"],
          group: "Harcművész iskolák",
        },
        {
          name: "Sárga kolostor",
          attributes: ["Ügy", "Gyo", "Aka"],
          group: "Harcművész iskolák",
        },
        {
          name: "Fúvócső",
          attributes: ["Ügy", "Érz",],
          group: "Egyedi fegyverek",
        },
        {
          name: "Korbács, Ostor",
          attributes: ["Ügy", "Aka",],
          group: "Egyedi fegyverek",
        },
        {
          name: "Láncos sarló",
          attributes: ["Ügy",],
          group: "Egyedi fegyverek",
        },
        {
          name: "Tonfa",
          attributes: ["Ügy", "Gyo",],
          group: "Egyedi fegyverek",
        },
        {
          name: "Többrészes bot",
          attributes: ["Ügy", "Gyo",],
          group: "Egyedi fegyverek",
        },
        {
          name: "Vaskígyó",
          attributes: ["Ügy", "Gyo",],
          group: "Egyedi fegyverek",
        },
      ],
    },
    "Harci fogás": {
      class: 2,
      attributes: ["Gyo", "Ügy", "Érz",],
      type: "Harci",
    },
    "Harci ösztön": {
      class: 2,
      attributes: ["Asz", "Érz",],
      type: "Harci",
    },
    "Harci rutin": {
      class: 1,
      attributes: ["Ügy", "Aka",],
      type: "Harci",
    },
    Hárítás: {
      class: 1,
      attributes: ["Erő", "Gyo", "Ügy",],
      type: "Harci",
    },
    "Kétkezes harc": {
      class: 3,
      attributes: ["Gyo", "Ügy", "Aka",],
      dependency: ["Fegyverhasználat",],
      type: "Harci",
    },
    "Közös harcmodor": {
      class: 2,
      attributes: ["Int", "Aka",],
      dependency: ["Fegyverhasználat",],
      type: "Harci",
    },
    Vértviselet: {
      class: 3,
      attributes: ["Erő", "Áll",],
      type: "Harci",
    },
    Alkímia: {
      class: 3,
      attributes: ["Int",],
      type: "Tudományos",
    },
    Antissjárás : {
      class: 3,
      attributes: ["Aka", "Asz",],
      type: "Tudományos",
    },
    Ismeret: {
      class: 1,
      attributes: ["Int",],
      type: "Tudományos",
      subSkills: [
        {
          name: "Heraldika",
        },
        {
          name: "Herbalizmus",
        },
        {
          name: "Legenda",
        },
        {
          name: "Misztikum",
        },
        {
          name: "Történelem",
        },
        {
          name: "Vallás",
        },
      ],
      uniqueAllowed: true,
    },
    "Írás/olvasás": {
      class: 1,
      attributes: ["Aka"],
      dependency: "Kultúra",
      type: "Tudományos",
    },
    "Méregkeverés/semlegesítés": {
      class: 3,
      attributes: ["Int",],
      type: "Tudományos",
    },
    "Ősi nyelv": {
      class: 2,
      attributes: ["Int",],
      type: "Tudományos",
    },
    Pszi: {
      class: 3,
      attributes: ["Int", "Aka", "Asz",],
      strict: true,
      type: "Tudományos",
    },
    "Pszi Pyarroni": {
      class: 2,
      attributes: ["Asz",],
      dependency: "Pszi",
      strict: true,
      type: "Tudományos",
    },
    "Pszi Slan": {
      class: 3,
      attributes: ["Aka",],
      dependency: "Pszi",
      strict: true,
      type: "Tudományos",
    },
    "Pszi Kyr": {
      class: 3,
      attributes: ["Int",],
      dependency: "Pszi",
      strict: true,
      type: "Tudományos",
    },
    Sebgyógyítás: {
      class: 2,
      attributes: ["Int", "Aka", "Érz",],
      type: "Tudományos",
    },
    Etikett: {
      class: 2,
      attributes: ["Kar", "Asz",],
      dependency: "Kultúra",
      type: "Szociális",
    },
    Kultúra: {
      class: 1,
      attributes: ["Kar",],
      type: "Szociális",
      subSkills: [
      ],
      uniqueAllowed: true,
    },
    Lélektan: {
      class: 3,
      attributes: ["Kar", "Asz", "Érz",],
      type: "Szociális",
    },
    Megfélemlítés: {
      class: 2,
      attributes: ["Kar", "Aka", "Asz",],
      type: "Szociális",
    },
    Meggyőzés: {
      class: 2,
      attributes: ["Kar", "Int", "Aka",],
      type: "Szociális",
    },
    Megtévesztés: {
      class: 3,
      attributes: ["Kar", "Int", "Asz",],
      type: "Szociális",
    },
    Művészet: {
      class: 1,
      attributes: ["Asz"],
      type: "Szociális",
      subSkills: [
        {
          name: "Ének",
          attributes: ["Asz", "Kar"],
        },
        {
          name: "Festészet",
          attributes: ["Asz", "Érz"],
        },
        {
          name: "Irodalom",
          attributes: ["Asz", "Int"],
        },
        {
          name: "Színészet",
          attributes: ["Asz", "Kar"],
        },
        {
          name: "Szobrászat",
          attributes: ["Asz", "Ügy"],
        },
        {
          name: "Tánc",
          attributes: ["Asz", "Áll"],
        },
        {
          name: "Zene",
          attributes: ["Asz", "Aka"],
        },
      ],
      uniqueAllowed: true,
    },
    Nyelvismeret: {
      class: 1,
      attributes: ["Int",],
      type: "Szociális",
    },
    Önuralom: {
      class: 1,
      attributes: ["Aka", "Asz",],
      type: "Szociális",
    },
    Értékbecslés: {
      class: 2,
      attributes: ["Int", "Érz",],
      dependency: "Kultúra",
      type: "Világi",
    },
    Futás: {
      class: 2,
      attributes: ["Áll", "Aka",],
      type: "Világi",
    },
    Hangutánzás: {
      class: 2,
      attributes: ["Aka", "Érz",],
      type: "Világi",
    },
    Lovaglás: {
      class: 1,
      attributes: ["Ügy", "Aka",],
      type: "Világi",
    },
    Mászás: {
      class: 2,
      attributes: ["Ügy", "Áll",],
      type: "Világi",
    },
    "Nyomolvasás/eltüntetés": {
      class: 3,
      attributes: ["Int", "Érz",],
      type: "Világi",
    },
    Szakma: {
      class: 1,
      attributes: ["Aka"],
      type: "Világi",
      subSkills: [
        {
          name: "Ékszerész",
          attributes: ["Aka", "Ügy"],
        },
        {
          name: "Favágó",
          attributes: ["Aka", "Áll"],
        },
        {
          name: "Fazekas",
          attributes: ["Aka", "Ügy"],
        },
        {
          name: "Földműves",
          attributes: ["Aka", "Áll"],
        },
        {
          name: "Hadvezető",
          attributes: ["Aka", "Int"],
        },
        {
          name: "Hajózó",
          attributes: ["Aka", "Áll"],
        },
        {
          name: "Kovács",
          attributes: ["Aka", "Erő"],
        },
        {
          name: "Tetováló",
          attributes: ["Aka", "Ügy"],
        },
        {
          name: "Vadász",
          attributes: ["Aka", "Érz"],
        }
      ],
      uniqueAllowed: true,
    },
    Túlélés: {
      class: 3,
      attributes: ["Int", "Érz",],
      type: "Világi",
    },
    "Ugrás/esés": {
      class: 2,
      attributes: ["Erő", "Ügy",],
      type: "Világi",
    },
    Úszás: {
      class: 1,
      attributes: ["Erő", "Áll",],
      type: "Világi",
    },
    "Álcázás/álruha": {
      class: 3,
      attributes: ["Ügy", "Érz",],
      type: "Alvilági",
    },
    Éberség: {
      class: 1,
      attributes: ["Asz", "Érz",],
      type: "Alvilági",
    },
    "Keresés/elrejtés": {
      class: 2,
      attributes: ["Int", "Érz",],
      type: "Alvilági",
    },
    "Leszerelés/feltörés": {
      class: 3,
      attributes: ["Ügy", "Int",],
      type: "Alvilági",
    },
    Lopódzás: {
      class: 2,
      attributes: ["Ügy", "Érz",],
      type: "Alvilági",
    },
    Orvtámadás: {
      class: 2,
      attributes: ["Gyo", "Asz",],
      dependency: ["Fegyverhasználat",],
      type: "Alvilági",
    },
    Rejtőzködés: {
      class: 2,
      attributes: ["Asz", "Érz",],
      type: "Alvilági",
    },
    Trükk: {
      class: 2,
      attributes: ["Gyo", "Ügy"],
      type: "Alvilági",
    },
    "Szakrális mágia": {
      class: 3,
      attributes: ["Kar", "Int", "Asz",],
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Adron",
          manaAttribute: "Int",
          forbidden: ["Halál", "Természet",],
        },
        {
          name: "Alborne",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Természet",],
        },
        {
          name: "Antoh",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Arel",
          manaAttribute: "Kar",
          forbidden: [],
        },
        {
          name: "Darton",
          manaAttribute: "Asz",
          forbidden: ["Élet", "Természet",],
        },
        {
          name: "Della",
          manaAttribute: "Aka",
          forbidden: ["Élet", "Halál",],
        },
        {
          name: "Dreina",
          manaAttribute: "Kar",
          forbidden: ["Lélek", "Természet",],
        },
        {
          name: "Ellana",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Természet",],
        },
        {
          name: "Gilron",
          manaAttribute: "Aka",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Krad",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Természet",],
        },
        {
          name: "Kyel",
          manaAttribute: "Kar",
          forbidden: ["Természet",],
        },
        {
          name: "Noir",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Természet",],
        },
        {
          name: "Orwella",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Természet",],
        },
        {
          name: "Uwel",
          manaAttribute: "Aka",
          forbidden: ["Élet", "Halál", "Lélek", "Természet",],
        },
        {
          name: "Morgena",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Természet",],
        },
        {
          name: "Sogron",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Halál",],
        },
        {
          name: "Tharr",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Természet",],
        },
        {
          name: "Doldzsah",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Halál",],
        },
        {
          name: "Dzsah",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Természet",],
        },
        {
          name: "Galradzsa",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Domvik",
          manaAttribute: "Kar",
          forbidden: ["Halál",],
        },
        {
          name: "Ranil",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Halál",],
        },
        {
          name: "Ranagol",
          manaAttribute: "Int",
          forbidden: ["Élet",],
        },
        {
          name: "Kadal",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Tooma",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Narmiraen",
          manaAttribute: "Kar",
          forbidden: ["Halál", "Lélek",],
        },
        {
          name: "Tyssa L'imenel",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Lélek",],
        },
        {
          name: "Verrion H'Anthall",
          manaAttribute: "Kar",
          forbidden: ["Élet", "Lélek",],
        },
        ],
    },
    "Kisebb fohászok": {
      class: 2,
      attributes: ["Asz", "Aka",],
      dependency: "Szakrális mágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Élet",
        },
        {
          name: "Halál",
        },
        {
          name: "Természet",
        },
        {
          name: "Lélek",
        },
      ],
    },
    "Nagyobb fohászok": {
      class: 2,
      attributes: ["Int", "Aka",],
      dependency: "Szakrális mágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Élet",
        },
        {
          name: "Halál",
        },
        {
          name: "Természet",
        },
        {
          name: "Lélek",
        },
      ],
    },
    Bárdmágia: {
      class: 3,
      attributes: ["Int", "Aka",],
      manaAttribute: "Kar",
      strict: true,
      type: "Mágikus",
    },
    "Bárd mágiaforma": {
      class: 2,
      dependency: "Bárdmágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Dalmágia",
          attributes: ["Aka", "Kar",],
        },
        {
          name: "Hangmágia",
          attributes: ["Int", "Ügy",],
        },
        {
          name: "Fénymágia",
          attributes: ["Int", "Asz",],
        },
        {
          name: "Illúziómágia",
          attributes: ["Aka", "Érz",],
        },
      ],
    },
    Boszorkánymágia: {
      class: 3,
      attributes: ["Int", "Aka", "Asz",],
      manaAttribute: "Asz",
      strict: true,
      type: "Mágikus",
    },
    "Boszorkány mágiaforma": {
      class: 2,
      dependency: "Boszorkánymágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Misztikummágia",
          attributes: ["Int", "Aka", "Áll",],
        },
        {
          name: "Lángmágia",
          attributes: ["Int", "Asz", "Gyo",],
        },
        {
          name: "Asztrálmágia",
          attributes: ["Aka", "Asz", "Kar",],
        },
        {
          name: "Sorsmágia",
          attributes: ["Int", "Asz", "Áll",],
        },
        {
          name: "Mentálmágia",
          attributes: ["Int", "Aka", "Érz",],
        },
        {
          name: "Szexuálmágia",
          attributes: ["Aka", "Asz", "Kar",],
        },
        {
          name: "Térmágia",
          attributes: ["Int", "Aka", "Erő",],
        },
      ],
    },
    "Boszorkánymesteri mágia": {
      class: 3,
      attributes: ["Int", "Aka", "Asz",],
      manaAttribute: "Aka",
      strict: true,
      type: "Mágikus",
    },
    "Boszorkánymester mágiaforma": {
      class: 2,
      dependency: "Boszorkánymesteri mágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Villámmágia",
          attributes: ["Int", "Aka", "Gyo",],
        },
        {
          name: "Rontásmágia",
          attributes: ["Aka", "Asz", "Áll",],
        },
        {
          name: "Átokmágia",
          attributes: ["Int", "Asz", "Áll",],
        },
        {
          name: "Méregmágia",
          attributes: ["Int", "Aka", "Ügy",],
        },
        {
          name: "Természetmágia",
          attributes: ["Int", "Asz", "Erő",],
        },
        {
          name: "Kórmágia",
          attributes: ["Int", "Aka", "Egé",],
        },
        {
          name: "Nekromancia",
          attributes: ["Aka", "Asz", "Egé",],
        },
      ],
    },
    "Tűzvarázslói mágia": {
      class: 3,
      attributes: ["Asz", "Aka",],
      manaAttribute: "Aka",
      strict: true,
      type: "Mágikus",
    },
    "Tűzvarázsló mágiaforma": {
      class: 2,
      dependency: "Tűzvarázslói mágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Alap tűzmágia",
          attributes: ["Asz", "Int",],
        },
        {
          name: "Forma tűzmágia",
          attributes: ["Asz", "Érz",],
        },
        {
          name: "Manipuláló tűzmágia",
          attributes: ["Aka", "Ügy",],
        },
        {
          name: "Felső tűzmágia",
          attributes: ["Aka", "Áll",],
        },
      ],
    },
    Tárgymágia: {
      class: 3,
      dependency: ["Tűzvarázslói mágia", "Boszorkánymesteri mágia", "Boszorkánymágia", "Bárdmágia", "Szakrális mágia",],
      attributes: ["Ügy", "Int", "Aka",],
      strict: true,
      type: "Mágikus",
    },
    "Magas Mágia": {
      class: 3,
      attributes: ["Int", "Aka", "Asz",],
      manaAttribute: "Int",
      strict: true,
      type: "Mágikus",
    },
    "Magas mágiaforma": {
      class: 3,
      dependency: "Magas Mágia",
      strict: true,
      type: "Mágikus",
      subSkills: [
        {
          name: "Idő mozaiktan",
          attributes: ["Int",],
        },
        {
          name: "Tér mozaiktan",
          attributes: ["Aka", "Asz",],
        },
        {
          name: "Anyag Mágia",
          attributes: ["Int", "Aka", "Ügy",],
        },
        {
          name: "Elemi Mágia",
          attributes: ["Int", "Asz", "Gyo",],
        },
        {
          name: "Asztrál Mágia",
          attributes: ["Int", "Asz", "Kar",],
        },
        {
          name: "Mentál Mágia",
          attributes: ["Int", "Aka", "Érz",],
        },
        {
          name: "Nekro Mágia",
          attributes: ["Int", "Aka", "Egé",],
        },
        {
          name: "Idő Mágia",
          attributes: ["Int", "Asz", "Áll",],
        },
        {
          name: "Tér Mágia",
          attributes: ["Int", "Aka", "Erő",],
        },
      ],
    },
    "Jel Mágia": {
      class: 3,
      dependency: "Magas Mágia",
      attributes: ["Int", "Ügy"],
      strict: true,
      type: "Mágikus",
    },
    "Rúna Mágia": {
      class: 3,
      attributes: ["Int", "Aka", "Ügy",],
      strict: true,
      type: "Mágikus",
    },
    "Drágakő Mágia": {
      class: 2,
      dependency: "Magas Mágia",
      attributes: ["Int", "Érz",],
      strict: true,
      type: "Mágikus",
    },
  },
  languages: {
    live: [
      {
        name: "Közös",
        type: "Élő",
      },
      {
        name: "Aszisz",
        type: "Élő",
      },
      {
        name: "Dwoon",
        type: "Élő",
      },
      {
        name: "Dzsad",
        type: "Élő",
      },
      {
        name: "Elf",
        type: "Élő",
      },
      {
        name: "Enoszukei",
        type: "Élő",
      },
      {
        name: "Erv",
        type: "Élő",
      },
      {
        name: "Hyunghai (Nomád)",
        type: "Élő",
      },
      {
        name: "Ilor",
        type: "Élő",
      },
      {
        name: "Khors (Kráni)",
        type: "Élő",
      },
      {
        name: "Korg",
        type: "Élő",
      },
      {
        name: "Toroni",
        type: "Élő",
      },
      {
        name: "Niarei",
        type: "Élő",
      },
      {
        name: "Ork",
        type: "Élő",
      },
      {
        name: "Pyar",
        type: "Élő",
      },
      {
        name: "Shadoni/Gorviki",
        type: "Élő",
      },
      {
        name: "Tiadlani",
        type: "Élő",
      },
      {
        name: "Vanir (Törpe)",
        type: "Élő",
      },
      {
        name: "Amund",
        type: "Titkos élő",
      },
      {
        name: "Dzsaenn",
        type: "Titkos élő",
      },
      {
        name: "Godoni",
        type: "Titkos élő",
      },
      {
        name: "Hil",
        type: "Titkos élő",
      },
      {
        name: "Kyr",
        type: "Titkos élő",
      },
      {
        name: "Lingua Domini",
        type: "Titkos élő",
      },
      {
        name: "Lupár",
        type: "Titkos élő",
      },
      {
        name: "Óelf",
        type: "Titkos élő",
      },
    ],
    dead: [
      {
        name: "Anagmar",
      },
      {
        name: "Anur",
      },
      {
        name: "Aquir",
      },
      {
        name: "Crantai",
      },
      {
        name: "Kheton",
      },
      {
        name: "Ókyr",
      },
    ],
  },
};
</script>
