<template>
  <div class="weaponSet">
    <b-container>
      <b-form-row class="d-flex align-items-center justify-content-center text-nowrap">
        <b-col v-b-tooltip.hover :title="propertyTooltip" style="min-width: 200px;">
          <b-input-group v-if="detailsOpened" class="text-nowrap" ref="myInput">
            <b-form-input :lazy="true" v-model="name" class="ml-2">
            </b-form-input>
          </b-input-group>
          <b-input-group v-else class="text-nowrap">
            <label><b-icon-info-circle></b-icon-info-circle></label>
            <span>{{name}}</span>
          </b-input-group>
        </b-col>
        <b-col class="border-left text-center">
          <span>{{téCéText}}</span>
        </b-col>
        <b-col class="border-left text-center">
          <span>{{véTávText}}</span>
        </b-col>
        <b-col class="border-left text-center">
          <span>{{sebzésText}}</span>
        </b-col>
        <b-col class="border-left text-center">
          <span>{{támText}}</span>
        </b-col>
        <b-col class="border-left text-center">
          <span>{{mgt}}</span>
        </b-col>
        <b-col class="border-left">
          <b-button v-on:click="detailsOpened = !detailsOpened;" :disabled="!editorMode"><span v-if="detailsOpened">/\</span><span v-if="!detailsOpened">\/</span></b-button>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col cols="12">
          <b-collapse v-model="detailsOpened" id="weaponSetCollapse">
            <b-row class="pt-1">
              <b-col cols="3" md="auto">
                <b-form-select v-model="detailsMode" :options="detailsOptions" @change="reCalculateWeapon" style="min-width: 200px;">
                </b-form-select>
              </b-col>
              <b-col cols="9">
              </b-col>
            </b-row>
            <b-form-row class="text-nowrap">
              <b-col cols="12">
                <b-form-row>
                  <b-col cols="3">Mesterfegyver</b-col>
                  <b-col cols="9">Fegyver</b-col>
                  <!-- <b-col cols="2"></b-col> -->
                  <!-- <b-col cols="2"></b-col> -->
                </b-form-row>
                <b-form-row>
                  <b-col cols="3">
                    <b-form-checkbox v-if="mesterfegyverAvailability[0]" v-model="mesterfegyverStatus" value="right" :unchecked-value="null" @change="reCalculateWeapon"></b-form-checkbox>
                  </b-col>
                  <b-col cols="9">
                    <b-input-group class="flex-nowrap">
                      <div class="input-group-prepend">
                        <span class="input-group-text" v-b-tooltip.hover :title="weapon.secondaryTooltip(true)"><b-icon-info-circle></b-icon-info-circle></span>
                      </div>
                      <b-form-select v-model="rightWeapon" @change="reCalculateWeapon" class="w-auto">
                        <b-form-select-option v-for="weapon in ('two handed' !== detailsMode ? oneHandedWeapons : twoHandedWeapons)" :value="weapon" v-bind:key="`right ${weapon}`">{{weapon}} ({{weaponTypeFormatter(weaponStats[weapon].type)}})</b-form-select-option>
                      </b-form-select>
                    </b-input-group>
                  </b-col>
                  <!-- <b-col cols="2"></b-col> -->
                  <!-- <b-col cols="2"></b-col> -->
                </b-form-row>
                <template v-if="'parry' === detailsMode || 'dual wield' === detailsMode">
                  <b-form-row>
                    <b-col cols="3">
                      <b-form-checkbox v-if="mesterfegyverAvailability[1]" v-model="mesterfegyverStatus" value="left" :unchecked-value="null"></b-form-checkbox>
                    </b-col>
                    <b-col cols="9">
                      <b-input-group>
                        <div class="input-group-prepend">
                          <span class="input-group-text" v-b-tooltip.hover :title="weapon.secondaryTooltip(false)"><b-icon-info-circle></b-icon-info-circle></span>
                        </div>
                        <b-form-select v-model="leftWeapon" @change="reCalculateWeapon">
                          <b-form-select-option v-for="weapon in ('dual wield' !== detailsMode ? parryWeapons : oneHandedWeapons)" :value="weapon" v-bind:key="`left ${weapon}`">{{weapon}} ({{weaponTypeFormatter(weaponStats[weapon].type)}})</b-form-select-option>
                        </b-form-select>
                      </b-input-group>
                    </b-col>
                    <!-- <b-col cols="2"></b-col> -->
                    <!-- <b-col cols="2"></b-col> -->
                  </b-form-row>
                </template>
              </b-col>
            </b-form-row>
          </b-collapse>
        </b-col>
      </b-form-row>
    </b-container>
  </div>
</template>

<script>
import { WeaponProperty } from './weaponProperty'
import {WeaponItem} from "./weaponItem";

export default {
  name: 'WeaponSet2',
  props: {
    skills: {
      required: true,
    },
    aptitudes: {
      required: true,
    },
    attributes: {
      required: true,
    },
    stats: {
      required: true,
    },
    mesterfegyver: {
      required: true,
    },
    loadedSettings: {
      required: true,
    },
    id: {
      required: true,
    },
    editorMode: true,
    darkTheme: true,
    weaponStats: {
      required: true,
    },
    weaponStyles: true,
  },
  watch: {
    rightWeapon: function(_, oldValue) {
      this.regenerateNameIfNecessary(oldValue, this.leftWeapon, this.detailsMode, this.mesterfegyverStatus)
      if ('right' === this.mesterfegyverStatus && !this.mesterfegyverAvailability[0]) {
        this.mesterfegyverStatus = null;
      }
      this.regenerateNameIfNecessary(oldValue, this.leftWeapon, this.detailsMode, this.mesterfegyverStatus)
    },
    leftWeapon: function(_, oldValue) {
      this.regenerateNameIfNecessary(this.rightWeapon, oldValue, this.detailsMode, this.mesterfegyverStatus)
      if ('left' === this.mesterfegyverStatus && !this.mesterfegyverAvailability[1]) {
        this.mesterfegyverStatus = null;
      }
      this.regenerateNameIfNecessary(this.rightWeapon, oldValue, this.detailsMode, this.mesterfegyverStatus)
    },
    mesterfegyverAvailability: function(_, oldValue) {
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, this.detailsMode, oldValue)
      if ('right' === this.mesterfegyverStatus && !this.mesterfegyverAvailability[0]) {
        this.mesterfegyverStatus = null
      }
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, this.detailsMode, oldValue)
      if ('left' === this.mesterfegyverStatus && !this.mesterfegyverAvailability[1]) {
        this.mesterfegyverStatus = null
      }
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, this.detailsMode, oldValue)
    },
    detailsMode: function(_, oldValue) {
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, oldValue, this.mesterfegyverStatus)
      const listOfRightWeapons = ('two handed' === this.detailsMode) ? this.twoHandedWeapons : this.oneHandedWeapons;
      if (!listOfRightWeapons.includes(this.rightWeapon)) {
        this.rightWeapon = listOfRightWeapons[0];
      }
      const listOfLeftWeapons = ('parry' === this.detailsMode) ? this.parryWeapons : this.oneHandedWeapons;
      if (!listOfLeftWeapons.includes(this.leftWeapon)) {
        this.leftWeapon = listOfLeftWeapons[0];
      }
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, oldValue, this.mesterfegyverStatus)
    },
    mesterfegyverStatus: function(_, oldValue) {
      this.regenerateNameIfNecessary(this.rightWeapon, this.leftWeapon, this.detailsMode, oldValue)
    },
    weaponSetCode: function() {
      this.$emit("setChanged", {id: this.id, code: this.weaponSetCode});
    },
  },
  data () {
    return {
      name: '',
      detailsOpened: true,
      detailsMode: "single weapon",
      detailsOptions: [
        {value: 'single weapon', text: "Egykezes fegyver",},
        {value: 'dual wield', text: "Két egykezes fegyver",},
        {value: 'two handed', text: "Kétkezes fegyver",},
        {value: 'parry', text: "Egykezes hárítófegyverrel",},
      ],
      rightWeapon: "Ököl",
      leftWeapon: "Ököl",
      mesterfegyverStatus: null, //right, left, <null>
      weapon: null,
    }
  },
  computed: {
    items() {
      return [
        {name: this.name, TE_CE: this.téCéText, VE_TAV: this.véTávText, DAMAGE: this.sebzésText, TAM: this.támText, MGT: this.mgt},
        {name: this.name, TE_CE: this.téCéText, VE_TAV: this.véTávText, DAMAGE: this.sebzésText, TAM: this.támText, MGT: this.mgt}
      ]
    },
    mgt() {
      return  this.weapon.mgt();
    },
    propertyTooltip() {
      return this.weapon.propertyTooltip();
    },
    weaponSetCode() {
      return JSON.stringify({
        name: this.name,
        detailsOpened: this.detailsOpened,
        detailsMode: this.detailsMode,
        rightWeapon: this.rightWeapon,
        leftWeapon: this.leftWeapon,
        mesterfegyverStatus: this.mesterfegyverStatus,
      });
    },
    oneHandedWeapons() {
      return Object.keys(this.weaponStats).filter(weapon => typeof this.weaponStats[weapon].tpk.single !== 'undefined');
    },
    twoHandedWeapons() {
      return Object.keys(this.weaponStats).filter(weapon => typeof this.weaponStats[weapon].tpk.double !== 'undefined');
    },
    parryWeapons() {
      return Object.keys(this.weaponStats).filter(weapon => typeof this.weaponStats[weapon].tpk.single !== 'undefined');
    },
    mesterfegyverAvailability() {
      if (this.weapon !== null && this.weapon.relevantAptitudes.Mesterfegyver !== 0){
        return [[this.rightWeapon, this.weaponStats[this.rightWeapon].basedOn].includes(this.mesterfegyver),
          [this.leftWeapon, this.weaponStats[this.leftWeapon].basedOn].includes(this.mesterfegyver)]
      }
      return [false, false];
    },

    téCéText() {
      return this.weapon.téCéText(true);
    },
    véTávText() {
      return this.weapon.véTávText(true);
    },
    sebzésText() {
      return this.weapon.sebzésText();
    },
    támText() {
      return this.weapon.támText();
    },

    fields() {
      return [
        {key: 'name1', label: 'Név', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'TE_CE', label: 'TÉ/CÉ', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'VE_TAV', label: 'VÉ (Táv)', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'DAMAGE', label: 'Sebzés', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'TAM', label: 'Tám', tdClass: 'text-nowrap', thClass: 'text-center'},
        {key: 'MGT', label: 'MGT', tdClass: 'text-nowrap', thClass: 'text-center'},
      ]
    }
  },
  methods: {
    regenerateNameIfNecessary(rightWeapon, leftWeapon, mode, mesterfegyverStatus) {
      if (this.generateName(rightWeapon, leftWeapon, mode, mesterfegyverStatus) === this.name) {
        this.name = this.generateName(this.rightWeapon, this.leftWeapon, this.detailsMode, this.mesterfegyverStatus)
      }
    },
    generateName(rightWeapon, leftWeapon, mode, mesterfegyverStatus) {
      const rightName = `${rightWeapon}${mesterfegyverStatus === 'right' ? ' (m)' : ''}`
      const leftName = `${leftWeapon}${mesterfegyverStatus === 'left' ? ' (m)' : ''}`
      switch (mode) {
        case "single weapon":
        case "two handed": return rightName
        case "parry": return `${rightName} (h: ${leftName})`
        case "dual wield": return `${rightName}/${leftName}`
      }
    },
    weaponTypeFormatter(type) {
      if (typeof type === 'string') {
        return type;
      }
      return type.join('/');
    },
    reCalculateWeapon(){
      this.weapon = new WeaponItem(this.loadedSettings, this.skills, this.weaponStats, this.aptitudes,this.attributes, this.stats,this.selectedRaceKey, this.weaponStyles, this.detailsOpened);
    }
  },
  created: function() {
    if (this.loadedSettings) {
      if (typeof this.loadedSettings === 'object') {
        this.name = this.loadedSettings.name;
        this.detailsOpened = this.loadedSettings.detailsOpened;
        this.detailsMode = this.loadedSettings.detailsMode;
        this.rightWeapon = this.loadedSettings.rightWeapon;
        this.leftWeapon = this.loadedSettings.leftWeapon;
        this.mesterfegyverStatus = this.loadedSettings.mesterfegyverStatus;
        this.weapon = new WeaponItem(this.loadedSettings, this.skills, this.weaponStats, this.aptitudes,this.attributes, this.stats,this.selectedRaceKey, this.weaponStyles, this.detailsOpened);
      } else {
        this.rightWeapon = this.loadedSettings;
        this.name = this.loadedSettings;
        if (typeof this.weaponStats[this.rightWeapon].tpk.single === 'undefined') {
          this.detailsMode = "two handed";
        }
        this.weapon = new WeaponItem(this.loadedSettings, this.skills, this.weaponStats, this.aptitudes,this.attributes, this.stats,this.selectedRaceKey, this.weaponStyles, this.detailsOpened);
      }
    }
  },
  mounted() {
    this.$root.$on('reCalculateWeapon', () => {
      this.reCalculateWeapon();
    });
    if (!this.editorMode) {
      this.detailsOpened = true
    }
  }
};
</script>
