<template>
  <div>
    <b-form-row>
      <b-col cols="1">
        Név:
      </b-col>
      <b-col cols="3">
        <b-form-input :lazy="true" v-model="weaponProperties.name"></b-form-input>
      </b-col>
      <b-col cols="4">
      </b-col>
      <b-col cols="4">
        <b-form-select v-model="templateSelected" v-on:change="loadWeapon($event)">
          <b-form-select-option :value="null" :default="true" :disabled="true">Mire alapozzuk?</b-form-select-option>
          <b-form-select-option v-for="[key, value] in Object.entries(templateWeapons)" :value="{name: key, stats: value}" v-bind:key="'template' + key">{{ key }}</b-form-select-option>      
        </b-form-select>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col v-for="(head, idx) in header" :cols="head.cols" v-bind:key="'header' + idx">
        <b>{{ head.name }}</b>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col cols="1">
        <b-form-select v-model="weaponProperties.meleeOrRanged">
          <b-form-select-option value="melee">Közelharci</b-form-select-option>
          <b-form-select-option value="ranged">Távolsági</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="2">
        <b-button @click="skillsOpen = !skillsOpen">Képzettségek</b-button>
        <b-collapse v-model="skillsOpen">
          <b-form-checkbox-group v-model="weaponProperties.skillsNeeded" :options="skillOptions" stacked></b-form-checkbox-group>
        </b-collapse>
      </b-col>
      <b-col cols="1">
        <b-form-input type="number" min="0" v-model="weaponProperties.TÉCÉ"></b-form-input>
      </b-col>
      <b-col cols="1">
        <b-form-input type="number" min="0" v-model="weaponProperties.VÉ"></b-form-input>
      </b-col>
      <b-col cols="1" v-if="weaponProperties.meleeOrRanged === 'ranged'">
        <b-form-input type="number" min="0" v-model="weaponProperties.Táv"></b-form-input>
      </b-col>
      <b-col cols="1">
        <b-form-input :lazy="true" v-model="weaponProperties.damage"></b-form-input>
      </b-col>
      <b-col cols="1">
        <b-form-select v-model="weaponProperties.támSingle">
          <b-form-select-option :value="undefined">-</b-form-select-option>
          <b-form-select-option v-for="i in 4" :value="i" v-bind:key="'támSingle' + i">{{ i }}</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="1">
        <b-form-select v-model="weaponProperties.támDouble">
          <b-form-select-option :value="undefined">-</b-form-select-option>
          <b-form-select-option v-for="i in 4" :value="i" v-bind:key="'támDouble' + i">{{ i }}</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="1" v-if="weaponProperties.meleeOrRanged === 'melee'">
        <b-form-input type="number" min="0" v-model="weaponProperties.mgt"></b-form-input>
      </b-col>
      <b-col cols="1" v-if="weaponProperties.meleeOrRanged === 'ranged'">
        <b-form-select v-model="weaponProperties.reload">
          <b-form-select-option v-for="reload in reloadOptions" :value="reload" v-bind:key="'reload' + reload.name">{{ reload.name }}</b-form-select-option>
        </b-form-select>
      </b-col>
      <b-col cols="2">
        <b-button @click="propertiesOpen = !propertiesOpen">Tulajdonságok</b-button>
        <b-collapse v-model="propertiesOpen">
          <b-form-checkbox-group v-model="weaponProperties.properties" :options="propertyOptions" stacked></b-form-checkbox-group>
        </b-collapse>
      </b-col>
    </b-form-row>
  </div>
</template>

<script>
import { WeaponProperty } from './weaponProperty'
//
//  név
//  közelharci/lő
//  képzettség
//  közelharci
//    TÉ
//    VÉ
//    sebzés
//    tám/tám2
//    mgt
//    properties
//  távolsági
//    CÉ
//    VÉ
//    Táv
//    sebzés
//    tám/tám2
//    reload
//    properties
//
export default {
  name: "WeaponCustomizer",
  props: {
    weaponList: {
      required: true,
    }
  },
  components: {
  },
  data() {
    return {
      templateSelected: null,
      propertiesOpen: false,
      skillsOpen: false,
      weaponProperties: {
        basedOn: undefined,
        name: '',
        meleeOrRanged: 'melee',
        skillsNeeded: [],
        TÉCÉ: 0,
        VÉ: 0,
        Táv: 0,
        damage: 'k5',
        támSingle: 1,
        támDouble: 1,
        mgt: 0,
        reload: WeaponProperty.VeryFast,
        properties: [],
      },
    }
  },
  methods: {
    loadWeapon({name, stats}) {
      this.weaponProperties.basedOn = name
      this.weaponProperties.name = name
      this.weaponProperties.meleeOrRanged = stats.TÉ === undefined ? 'ranged' : 'melee'
      this.weaponProperties.skillsNeeded = Array.isArray(stats.type) ? stats.type : [stats.type]
      this.weaponProperties.TÉCÉ = stats.TÉ === undefined ? stats.CÉ : stats.TÉ
      this.weaponProperties.VÉ = stats.VÉ === undefined ? 0 : stats.VÉ
      this.weaponProperties.Táv = stats.distance === undefined ? 0 : stats.distance
      this.weaponProperties.damage = stats.damage
      this.weaponProperties.támSingle = stats.tpk.single
      this.weaponProperties.támDouble = stats.tpk.double
      this.weaponProperties.mgt = stats.mgt === undefined ? 0 : stats.mgt
      const reloadProps = this.reloadOptions.filter(reload => stats.properties.includes(reload))
      this.weaponProperties.reload = (reloadProps.length === 1 ? reloadProps[0] : WeaponProperty.VeryFast)
      this.weaponProperties.properties = stats.properties.filter(prop => !this.reloadOptions.includes(prop))
    }
  },
  computed: {
    compendedWeapon() {
      if (this.weaponProperties.meleeOrRanged === 'melee') {
        return {
          basedOn: this.weaponProperties.basedOn,
          name: this.weaponProperties.name,
          type: this.weaponProperties.skillsNeeded.length === 1 ? this.weaponProperties.skillsNeeded[0] : this.weaponProperties.skillsNeeded,
          TÉ: Number(this.weaponProperties.TÉCÉ),
          VÉ: Number(this.weaponProperties.VÉ),
          damage: this.weaponProperties.damage,
          tpk: {
            single: this.weaponProperties.támSingle,
            double: this.weaponProperties.támDouble,
          },
          mgt: Number(this.weaponProperties.mgt),
          properties: this.weaponProperties.properties,
        }
      } else {
        return {
          basedOn: this.weaponProperties.basedOn,
          name: this.weaponProperties.name,
          type: this.weaponProperties.skillsNeeded.length === 1 ? this.weaponProperties.skillsNeeded[0] : this.weaponProperties.skillsNeeded,
          CÉ: Number(this.weaponProperties.TÉCÉ),
          VÉ: Number(this.weaponProperties.VÉ),
          distance: Number(this.weaponProperties.Táv),
          damage: this.weaponProperties.damage,
          tpk: {
            single: this.weaponProperties.támSingle,
            double: this.weaponProperties.támDouble,
          },
          properties: [...this.weaponProperties.properties, this.weaponProperties.reload],
        }
      }
    },
    templateWeapons() {
      return Object.fromEntries(Object.entries(this.weaponList).filter(([key, value]) => value.type !== 'Ököl'))
    },
    reloadOptions() {
      return [WeaponProperty.VeryFast, WeaponProperty.Fast, WeaponProperty.Slow, WeaponProperty.VerySlow]
    },
    skillOptions() {
      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }
      return Object.values(this.weaponList).flatMap(weapon => weapon.type).filter(onlyUnique).sort((lhs, rhs) => {
        const lChar = lhs.charAt(1)
        const rChar = rhs.charAt(1)
        if ((lChar === lChar.toUpperCase()) ^ (rChar === rChar.toUpperCase())) {
          return (lChar === lChar.toUpperCase()) ? -1 : 1
        }
        return lhs < rhs
      })
    },
    propertyOptions() {
      return [
        { text: WeaponProperty.StrengthWeapon.name, value: WeaponProperty.StrengthWeapon, },
        { text: WeaponProperty.StrengthDoubleWeapon.name, value: WeaponProperty.StrengthDoubleWeapon, },
        { text: WeaponProperty.Debilitating.name, value: WeaponProperty.Debilitating, },
        { text: WeaponProperty.AuraItem.name, value: WeaponProperty.AuraItem, },
        { text: WeaponProperty.LimitedDamage.name, value: WeaponProperty.LimitedDamage, },
        { text: WeaponProperty.Stunning.name, value: WeaponProperty.Stunning, },
        { text: WeaponProperty.Tilting.name, value: WeaponProperty.Tilting, },
        { text: WeaponProperty.Switcher.name, value: WeaponProperty.Switcher, },
        { text: WeaponProperty.Numbing.name, value: WeaponProperty.Numbing, },
        { text: WeaponProperty.Sleeper.name, value: WeaponProperty.Sleeper, },
        { text: WeaponProperty.Sneak.name, value: WeaponProperty.Sneak, },
        { text: WeaponProperty.Volley.name, value: WeaponProperty.Volley, },
      ]
    },
    header() {
      if (this.weaponProperties.meleeOrRanged === 'melee') {
        return [
          {name: 'Típus', cols: 1},
          {name: 'Képzettségek', cols: 2},
          {name: 'TÉ', cols: 1},
          {name: 'VÉ', cols: 1},
          {name: 'Sebzés', cols: 1},
          {name: 'Tám1', cols: 1},
          {name: 'Tám2', cols: 1},
          {name: 'MGT', cols: 1},
          {name: 'Spec', cols: 2},
        ]
      } else {
        return [
          {name: 'Típus', cols: 1},
          {name: 'Képzettségek', cols: 2},
          {name: 'CÉ', cols: 1},
          {name: 'VÉ', cols: 1},
          {name: 'Táv', cols: 1},
          {name: 'Sebzés', cols: 1},
          {name: 'Tám1', cols: 1},
          {name: 'Tám2', cols: 1},
          {name: 'Újratöltés', cols: 1},
          {name: 'Spec', cols: 2},
        ]
      }
    },
    compendedWeaponStr() {
      return JSON.stringify(this.compendedWeapon)
    },
  },
  watch: {
    compendedWeaponStr(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.$emit('customWeaponChanged', JSON.parse(newValue))
      }
    },
  },
  created() {
  },
}
</script>

<style scoped>
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: 0.25s ease all;
}
</style>