<template>
  <div>
    <div v-for="[skill, level] in neededSkills" v-bind:key="'stílusskill' + skill">
      <b-form-row><b>{{ skill }} ({{ skillLevelNotation(level) }})</b></b-form-row>
      <b-form-row v-for="(selectedStyle, idx) in selectedStylesOwn[skill]" v-bind:key="skill + idx">
        <b-col cols="2">{{ skillLevelNotation(level - selectedStylesOwn[skill].length + idx + 1) }}</b-col>
        <b-col cols="10">
          <b-form-select v-model="selectedStylesOwn[skill][idx]">
            <b-form-select-option :value="null" :default="true" :disabled="true">Válassz stílust!</b-form-select-option>
            <b-form-select-option v-for="name in allStyles" :disabled="disabledStyles[skill].includes(name)" :value="name" v-bind:key="'stílus opció' + skill + idx + name">{{ name }}</b-form-select-option>
          </b-form-select>
        </b-col>
      </b-form-row>
    </div>
  </div>
</template>

<script>
import { StyleMapping, WeaponStyle } from '../data/styles'
import { skillLevelNotation } from '../utils'

export default {
  name: "WeaponStyleSelector",
  props: {
    neededSkills: true,
    selectedStyles: true,
  },
  components: {
  },
  data() {
    return {
      selectedStylesOwn: {},
    }
  },
  methods: {
    skillLevelNotation(level) {
      return skillLevelNotation(level)
    },
    updateParent() {
      this.$emit('update:selectedStyles', this.selectedStylesOwn)
    },
    updateData() {
      this.selectedStylesOwn = JSON.parse(JSON.stringify(this.selectedStyles))
      this.neededSkills.forEach(([skill, level]) => {
        const defaultStyles = StyleMapping(skill)
        const desiredLength = level - defaultStyles.length
        if (this.selectedStylesOwn[skill] === undefined) {
          this.$set(this.selectedStylesOwn, skill, Array(desiredLength).fill(null))
        } else {
          if (desiredLength > this.selectedStylesOwn[skill].length) {
            this.selectedStylesOwn[skill].splice(this.selectedStylesOwn[skill].length, 0, ...Array(desiredLength - this.selectedStylesOwn[skill].length).fill(null))
          } else {
            this.selectedStylesOwn[skill].length = desiredLength
          }
        }
      })
    },
  },
  computed: {
    allStyles() {
      return Object.keys(WeaponStyle).filter(key => typeof WeaponStyle[key] !== 'function' && !WeaponStyle[key].free).map(key => WeaponStyle[key].name)
    },
    disabledStyles() {
      const result = {}
      this.neededSkills.forEach(([skill, level]) => {
        result[skill] = [...(StyleMapping(skill).map(style => style.name)), ...this.selectedStylesOwn[skill]]
      })
      return result
    },
  },
  watch: {
    neededSkills(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.updateData()
      }
    },
    selectedStylesOwn() {
      this.updateParent()
    },
  },
  created() {
    this.updateData()
    this.updateParent()
  },
}
</script>

<style scoped>
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: 0.25s ease all;
}
</style>