<template>
</template>

<script>
import { WeaponProperty } from './weaponProperty'

export default {
  weapons: {
    Ököl: {
      type: "Ököl",
      tpk: {single: 3,},
    },
    Láb: {
      type: "Ököl",
      tpk: {single: 2,},
    },
    Vasököl: {
      type: "Ököl",
      tpk: {single: 3,},
      properties: [WeaponProperty.StrengthWeapon],
    },
    Béltépő: {
      type: "RP",
      TÉ: 4,
      VÉ: 1,
      damage: "k10",
      tpk: {single: 3,},
      properties: [WeaponProperty.Sneak],
    },
    Hárítótőr: {
      type: "RP",
      TÉ: 2,
      VÉ: 7,
      damage: "k2",
      tpk: {single: 2,},
      properties: [],
    },
    Kés: {
      type: "RP",
      TÉ: 4,
      VÉ: 1,
      damage: "k5",
      tpk: {single: 3,},
      properties: [],
    },
    Levéltőr: {
      type: "RP",
      TÉ: 5,
      VÉ: 3,
      damage: "k10",
      tpk: {single: 3,},
      properties: [],
    },
    Pugoss: {
      type: "RP",
      TÉ: 5,
      VÉ: 2,
      damage: "k10",
      tpk: {single: 3,},
      properties: [WeaponProperty.Sneak],
    },
    Ramiera: {
      type: "RP",
      TÉ: 5,
      VÉ: 3,
      damage: "k10",
      tpk: {single: 3,},
      properties: [WeaponProperty.Sneak],
    },
    "Sai tőr": {
      type: ["RP", "Sárga kolostor",],
      TÉ: 3,
      VÉ: 6,
      damage: "k5",
      tpk: {single: 2,},
      properties: [],
    },
    Sequor: {
      type: "RP",
      TÉ: 6,
      VÉ: 3,
      damage: "k10",
      tpk: {single: 2,},
      properties: [WeaponProperty.Sneak],
    },
    "Slan tőr": {
      type: ["RP", "Kardművész",],
      TÉ: 6,
      VÉ: 2,
      damage: "k10",
      tpk: {single: 3,},
      properties: [],
    },
    "Sryn tőr": {
      type: ["RP", "Sárga kolostor", "Óvó szél",],
      TÉ: 6,
      VÉ: 1,
      damage: "k5+1",
      tpk: {single: 3,},
      properties: [WeaponProperty.Switcher, WeaponProperty.Sleeper],
    },
    Tőr: {
      type: "RP",
      TÉ: 5,
      VÉ: 2,
      damage: "k5+2",
      tpk: {single: 3,},
      properties: [],
    },
    "Dzsenn szablya": {
      type: "HP",
      TÉ: 7,
      VÉ: 7,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [],
    },
    "Emerlin kard": {
      type: "HP",
      TÉ: 6,
      VÉ: 6,
      damage: "k10",
      tpk: {single: 2,},
      properties: [WeaponProperty.Sleeper],
    },
    Fejvadászkard: {
      type: "HP",
      TÉ: 7,
      VÉ: 5,
      damage: "k5+2",
      tpk: {single: 3,},
      properties: [WeaponProperty.Switcher],
    },
    Hiequar: {
      type: "HP",
      TÉ: 7,
      VÉ: 4,
      damage: "2k5+2",
      tpk: {single: 2,},
      properties: [WeaponProperty.Sneak],
    },
    Hollókard: {
      type: ["HP", "Óvó szél",],
      TÉ: 5,
      VÉ: 6,
      damage: "k10",
      tpk: {single: 2,},
      properties: [],
    },
    Hosszúkard: {
      type: "HP",
      TÉ: 5,
      VÉ: 5,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [],
    },
    Ívkard: {
      type: "HP",
      TÉ: 7,
      VÉ: 5,
      damage: "2k5",
      tpk: {single: 1,},
      properties: [],
    },
    Jatagán: {
      type: "HP",
      TÉ: 7,
      VÉ: 4,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [],
    },
    Khossas: {
      type: "HP",
      TÉ: 7,
      VÉ: 4,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [WeaponProperty.Sleeper],
    },
    Kígyókard: {
      type: "HP",
      TÉ: 6,
      VÉ: 4,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [],
    },
    Lagoss: {
      type: "HP",
      TÉ: 7,
      VÉ: 3,
      damage: "k10",
      tpk: {single: 2,},
      properties: [],
    },
    Lángkard: {
      type: "HP",
      TÉ: 4,
      VÉ: 6,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [],
    },
    Lovagkard: {
      type: "HP",
      TÉ: 6,
      VÉ: 4,
      damage: "2k5+2",
      tpk: {single: 1,},
      properties: [WeaponProperty.StrengthWeapon],
    },
    Meneth: {
      type: "HP",
      TÉ: 5,
      VÉ: 3,
      damage: "2k5+2",
      tpk: {single: 1,},
      properties: [],
    },
    Mesterkard: {
      type: "HP",
      TÉ: 7,
      VÉ: 4,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [],
    },
    Rövidkard: {
      type: ["RP", "HP"],
      TÉ: 5,
      VÉ: 4,
      damage: "k10",
      tpk: {single: 2,},
      properties: [],
    },
    Sárkánykard: {
      type: "HP",
      TÉ: 7,
      VÉ: 6,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [],
    },
    "Slan kard": {
      type: ["HP", "Kardművész",],
      TÉ: 8,
      VÉ: 4,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [],
    },
    Szablya: {
      type: "HP",
      TÉ: 5,
      VÉ: 6,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [],
    },
    Széleskard: {
      type: ["HP", "Sárga kolostor",],
      TÉ: 6,
      VÉ: 5,
      damage: "k10",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Numbing],
    },
    Tőrkard: {
      type: "HP",
      TÉ: 5,
      VÉ: 7,
      damage: "k10",
      tpk: {single: 3,},
      properties: [],
    },
    Csatacsákány: {
      type: "HAS",
      TÉ: 6,
      VÉ: 2,
      damage: "2k5+2",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthWeapon],
    },
    "Egykezes csatabárd": {
      type: "HAS",
      TÉ: 5,
      VÉ: 3,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [WeaponProperty.StrengthWeapon],
    },
    Holdsarló: {
      type: ["HAS", "Ezer víz útja", "Sárga kolostor",],
      TÉ: 4,
      VÉ: 6,
      damage: "k5+2",
      tpk: {single: 2,},
      properties: [WeaponProperty.Switcher],
    },
    "Kétkezes csatabárd": {
      type: ["HAS", "ÓP"],
      TÉ: 9,
      VÉ: 3,
      damage: "2k10",
      tpk: {double: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Numbing],
    },
    Furkósbot: {
      type: "ZÚZ",
      TÉ: 4,
      VÉ: 4,
      damage: "k10",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Stunning],
    },
    Csatacsillag: {
      type: "ZÚZ",
      TÉ: 7,
      VÉ: 2,
      damage: "2k5+2",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Numbing],
    },
    "Egykezes buzogány": {
      type: "ZÚZ",
      TÉ: 5,
      VÉ: 3,
      damage: "2k5+1",
      tpk: {single: 2,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Numbing],
    },
    "Harci kalapács": {
      type: "ZÚZ",
      TÉ: 6,
      VÉ: 3,
      damage: "2k5+1",
      tpk: {single: 1,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Numbing],
    },
    "Kétkezes buzogány": {
      type: ["ZÚZ", "ÓP"],
      TÉ: 7,
      VÉ: 5,
      damage: "2k10",
      tpk: {double: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Numbing],
    },
    "Láncos buzogány": {
      type: "ZÚZ",
      TÉ: 8,
      VÉ: 1,
      damage: "2k5+2",
      tpk: {single: 1,},
      properties: [WeaponProperty.Numbing],
    },
    Nunchaku: {
      type: ["ZÚZ", "Ezer víz útja",],
      TÉ: 5,
      VÉ: 3,
      damage: "k5+1",
      tpk: {double: 3, single: 2,},
      properties: [WeaponProperty.Stunning],
    },
    Rövidbot: {
      type: ["ZÚZ", "Ezer víz útja",],
      TÉ: 5,
      VÉ: 4,
      damage: "k5+1",
      tpk: {double: 3, single: 2,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Stunning],
    },
    "Shadleki buzogány": {
      type: ["HAS", "ZÚZ"],
      TÉ: 7,
      VÉ: 4,
      damage: "2k5",
      tpk: {single: 2,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Numbing],
    },
    "Másfélkezes kard": {
      type: ["HP", "ÓP"],
      TÉ: 7,
      VÉ: 6,
      damage: "2k5+2",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon],
    },
    "Mara-sequor": {
      type: "ÓP",
      TÉ: 8,
      VÉ: 5,
      damage: "2k5+2",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon],
    },
    Pallos: {
      type: "ÓP",
      TÉ: 8,
      VÉ: 6,
      damage: "3k5",
      tpk: {double: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon],
    },
    Alabárd: {
      type: ["HAS", "SZÁ"],
      TÉ: 6,
      VÉ: 7,
      damage: "2k5+2",
      tpk: {double: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Tilting],
    },
    Dipada: {
      type: "SZÁ",
      TÉ: 6,
      VÉ: 6,
      damage: "2k5",
      tpk: {double: 1, single: 1,},
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Switcher],
    },
    Horgaskard: {
      type: ["SZÁ", "Óvó szél",],
      TÉ: 7,
      VÉ: 6,
      damage: "2k5+1",
      tpk: {double: 1,},
      properties: [WeaponProperty.Tilting],
    },
    Hosszúbot: {
      type: ["SZÁ", "Fekete láng",],
      TÉ: 5,
      VÉ: 6,
      damage: "k10",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Stunning],
    },
    Lándzsa: {
      type: ["LOV", "SZÁ"],
      TÉ: 7,
      VÉ: 6,
      damage: "2k5",
      tpk: {double: 2, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon, WeaponProperty.Tilting],
    },
    Szigony: {
      type: "SZÁ",
      TÉ: 5,
      VÉ: 7,
      damage: "2k5+1",
      tpk: {double: 1, single: 1,},
      properties: [WeaponProperty.StrengthDoubleWeapon],
    },
    Könnyűkopja: {
      type: "LOV",
      TÉ: 8,
      VÉ: 2,
      damage: "2k5+2",
      tpk: {single: 1,},
    },
    Nehézkopja: {
      type: "LOV",
      TÉ: 10,
      VÉ: 0,
      damage: "2k10",
      tpk: {single: 1,},
    },
    "Korbács, Ostor": {
      type: "Korbács, Ostor",
      TÉ: 4,
      VÉ: 1,
      damage: "2k2",
      tpk: {single: 2,},
      properties: [],
    },
    "Láncos sarló": {
      type: "Láncos sarló",
      TÉ: 5,
      VÉ: 3,
      damage: "k5",
      tpk: {double: 3, single: 1,},
      properties: [WeaponProperty.Switcher],
    },
    Tonfa: {
      type: ["Tonfa", "Ezer víz útja", "Fekete láng",],
      TÉ: 2,
      VÉ: 5,
      damage: "k5",
      tpk: {single: 3,},
      properties: [WeaponProperty.Stunning, WeaponProperty.Switcher],
    },
    "Többrészes bot": {
      type: ["Többrészes bot", "Fekete láng",],
      TÉ: 6,
      VÉ: 4,
      damage: "k5+2",
      tpk: {double: 2,},
      properties: [WeaponProperty.Stunning],
    },
    Vaskígyó: {
      type: "Vaskígyó",
      TÉ: 7,
      VÉ: 2,
      damage: "k5+1",
      tpk: {double: 2, single: 1,},
      properties: []
    },
    Dobótőr: {
      type: "PD",
      CÉ: 4,
      VÉ: 1,
      distance: 10,
      damage: "k5+1",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.Fast],
    },
    Hajítóbárd: {
      type: "PD",
      CÉ: 5,
      VÉ: 2,
      distance: 15,
      damage: "k5+2",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.Fast],
    },
    "Slan csillag": {
      type: ["PD", "Sárga kolostor", "Kardművész",],
      CÉ: 5,
      VÉ: 0,
      distance: 15,
      damage: "k5",
      tpk: {single: 3,},
      reload: "sz",
      properties: [WeaponProperty.VeryFast],
    },
    Hajítódárda: {
      type: "NYD",
      CÉ: 8,
      VÉ: 3,
      distance: 25,
      damage: "k10",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Fast],
    },
    "Lándzsa (hajítva)": {
      type: "NYD",
      CÉ: 6,
      VÉ: 6,
      distance: 20,
      damage: "2k5",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Fast],
    },
    "Szigony (hajítva)": {
      type: "NYD",
      CÉ: 5,
      VÉ: 7,
      distance: 20,
      damage: "2k5",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Fast],
    },
    Bóla: {
      type: "VET",
      CÉ: 3,
      VÉ: 1,
      distance: 10,
      damage: "2k2",
      tpk: {single: 1,},
      reload: 1,
      properties: [WeaponProperty.Debilitating, WeaponProperty.Fast],
    },
    Dobóháló: {
      type: "VET",
      CÉ: 1,
      VÉ: 2,
      distance: 5,
      damage: "k5",
      tpk: {single: 1,},
      reload: 2,
      properties: [WeaponProperty.Debilitating, WeaponProperty.Slow, WeaponProperty.LimitedDamage],
    },
    Lasszó: {
      type: "VET",
      CÉ: 2,
      VÉ: 1,
      distance: 8,
      damage: "k2",
      tpk: {single: 1,},
      reload: 2,
      properties: [WeaponProperty.Debilitating, WeaponProperty.Slow, WeaponProperty.LimitedDamage],
    },
    "Rövid íj": {
      type: "ÍJ",
      CÉ: 3,
      distance: 50,
      damage: "k5+1",
      tpk: {double: 3,},
      reload: "sz",
      properties: [WeaponProperty.VeryFast],
    },
    "Hosszú íj": {
      type: "ÍJ",
      CÉ: 4,
      distance: 70,
      damage: "k10",
      tpk: {double: 2,},
      reload: "sz",
      properties: [WeaponProperty.VeryFast, WeaponProperty.Volley],
    },
    "Elf íj": {
      type: "ÍJ",
      CÉ: 7,
      distance: 80,
      damage: "k10",
      tpk: {double: 2,},
      reload: "sz",
      properties: [WeaponProperty.VeryFast, WeaponProperty.AuraItem, WeaponProperty.Volley],
    },
    "Visszacsapó íj": {
      type: "ÍJ",
      CÉ: 4,
      distance: 100,
      damage: "k10",
      tpk: {double: 2,},
      reload: "sz",
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.VeryFast, WeaponProperty.Volley],
    },
    "Kahrei nyílpuska": {
      type: "SZÍ",
      CÉ: 7,
      distance: 30,
      damage: "k5",
      tpk: {single: 3,},
      reload: "sz",
      properties: [WeaponProperty.VeryFast],
    },
    "Kézi nyílpuska": {
      type: "SZÍ",
      CÉ: 6,
      distance: 30,
      damage: "k5+1",
      tpk: {single: 2,},
      reload: 1,
      properties: [WeaponProperty.Fast],
    },
    "Könnyű nyílpuska": {
      type: "SZÍ",
      CÉ: 8,
      distance: 50,
      damage: "2k5",
      tpk: {double: 1,},
      reload: 2,
      properties: [WeaponProperty.Slow],
    },
    "Nehéz nyílpuska": {
      type: "SZÍ",
      CÉ: 7,
      distance: 60,
      damage: "2k5+2",
      tpk: {double: 1,},
      reload: "t",
      properties: [WeaponProperty.VerySlow, WeaponProperty.Volley],
    },
    "Shadoni nyílpuska": {
      type: "SZÍ",
      CÉ: 8,
      distance: 80,
      damage: "2k10",
      tpk: {double: 1,},
      reload: "t",
      properties: [WeaponProperty.VerySlow, WeaponProperty.Volley],
    },
    "Tűvető": {
      type: "SZÍ",
      CÉ: 3,
      distance: 5,
      damage: "k2",
      tpk: {single: 2,},
      reload: 2,
      properties: [WeaponProperty.Slow, WeaponProperty.LimitedDamage],
    },
    Parittya: {
      type: "VET",
      CÉ: 3,
      distance: 50,
      damage: "k5+1",
      tpk: {single: 1,},
      reload: 2,
      properties: [WeaponProperty.StrengthWeapon, WeaponProperty.Fast],
    },
    Fúvócső: {
      type: "Fúvócső",
      CÉ: 5,
      distance: 20,
      damage: "k2",
      tpk: {single: 3,},
      reload: 1,
      properties: [WeaponProperty.Fast, WeaponProperty.LimitedDamage],
    },
    Alkarvédő: {
      type: "PAJ",
      TÉ: 1,
      VÉ: 7,
      damage: "k2",
      tpk: {single: 1,},
    },
    "Kis pajzs": {
      type: "PAJ",
      TÉ: 3,
      VÉ: 10,
      damage: "k5",
      tpk: {single: 1,},
      mgt: 1,
    },
    "Közepes pajzs": {
      type: "PAJ",
      TÉ: 2,
      VÉ: 12,
      damage: "k5",
      tpk: {single: 1,},
      properties: [],
      mgt: 2,
    },
    "Nagy pajzs": {
      type: "PAJ",
      TÉ: 0,
      VÉ: 16,
      damage: "k5",
      tpk: {single: 1,},
      properties: [],
      mgt: 4,
      },
  },
};
</script>
