$body-bg: #FFF;
$body-color: #000;

.dark-mode {
  color: white;
  background-color: black;

  .btn-outline-secondary {
    color: white;
    border-color: white;
  }
  .bg-dark {
    background-color: black !important;
  }
}

.bg-black {
  background-color: black !important;
}

.dark-list{
  background-color: black !important;
}

.element {
  text-align: center; /* Center the text */
  margin-bottom: 10px; /* Add some margin */
  width: auto;
  overflow: hidden; /* Hide overflow */
}

@media (min-width: 1070px) {
  .element-container {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (min-width: 1570px) {
  .element-container {
    column-count: 3;
    column-gap: 20px;
  }
}

@media (min-width: 2090px) {
  .element-container {
    column-count: 4;
    column-gap: 20px;
  }
}

@media (min-width: 570px) {
  .skill-container {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (min-width: 1150px) {
  .skill-container {
    column-count: 3;
    column-gap: 20px;
  }
}

@media (min-width: 1350px) {
  .skill-container {
    column-count: 4;
    column-gap: 20px;
  }
}

.label-between-buttons {
  display: inline-block;
  padding: 0.5rem;
}

.custom-width-select {
  width: auto !important; /* Reset the default width */
  display: inline-block; /* Allow the width to adjust based on content */
  max-width: 100%; /* Ensure it doesn't exceed container width */
}

.characteristics-item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.characteristics-item {
  flex: 0 0 calc(25% - 10px); /* Adjust width as needed */
  margin: 5px; /* Adjust margin to move items closer */
  text-align: center;
  /* Additional styling for items */
}

@media (max-width: 768px) {
  .characteristics-item {
    flex-basis: calc(50% - 10px); /* Adjust width for smaller screens */
  }
}

.badge-copper{
  background-color: #B87333;
  color: #212529;
}

.badge-gold{
  background-color: #FFD700;
  color: #212529;
}

.badge-silver{
  background-color: #C0C0C0;
  color: #212529;
}

.bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  position: relative;
}

.custom-spinner {
  width: 50px; /* Adjust the width and height according to your image size */
  height: 50px;
  background-image: url('../assets/logo_dark.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your JPG file */
  background-size: cover; /* Ensure the image covers the spinner container */
  animation: fade 2s linear infinite; /* Customize the animation duration and timing function */
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-enter {
  transform: translate(100%, 0);
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:checked+.custom-control-label::before {
  background-color: #000000; /* Change to desired color */
  border-color: #ffffff; /* Change to desired color */
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


